
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
        Quick links to prototype sections
      </h1>

<h2 class="govuk-heading-m">Search</h2>
<ul class="govuk-list">
<li><a href="/advisor-v7/search-results-page">Search</a></li>
<li><a href="/advisor-v7/search-results-page-static">Search static (List results approach)</a></li>
</ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Create client details</h2>
<ul class="govuk-list">
<li><a href="/advisor-v7/details">Personal details</a></li>
<li><a href="/advisor-v7/address">Addresses</a></li>
<li><a href="/advisor-v7/pref-contact">Client notification preference</a></li>
<li><a href="/advisor-v7/add-business-guard">Business</a></li>
<li><a href="/advisor-v7/confirm-details">Client details summary</a></li>
</ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Client page</h2>
<ul class="govuk-list">
<li><a href="/advisor-v7/debt-list-tabs">Inactive client page</a></li>
<li><a href="/advisor-v7/debt-list-tabs-search">Active client page</a></li>
<li><a href="/advisor-v7/debt">Add a debt (Loan - creditor list)</a></li>
<li><a href="/advisor-v7/debt3">Add a debt (Credit Card - creditor list)</a></li>
<li><a href="/advisor-v7/debt4">Add a debt (Creditor not on the list)</a></li>
</ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-m">Submit</h2>
<ul class="govuk-list">
<li><a href="/advisor-v7/bs-save-submit">Submit or save</a></li>
<li><a href="/advisor-v7/bs-type-choice">Breathing space choice</a></li>
</ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



</div>

</div>

{% endblock %}
