   {% if data['debtReview']%} 
        <ul class="govuk-list">
              
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Completed Money Adviser actions</h3>
                {% if data['debtReview']%}
                <li>
                  <a class="govuk-link" href="review-debt-details">We have requested a debt eligibility review</a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested:{% include "creditor-mvp/_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
                    <p class="govuk-body-s govuk-!-margin-top-1 ">Reviewed: {% include "creditor-mvp/_ma-advisor.html" %}, {% include "creditor-mvp/_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
                </li>
                {% endif %}
              </ul>
      {% endif %}

   {% if data['creditorSold'] or  data['clientReview'] or data['adddebt'] %}            
 <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Pending actions</h3>
           <ul class="govuk-list">

                {% if data['clientReview']%}
                      <li>
                  <a class="govuk-link" href="review-client-details">We have requested an eligibility review of the client</a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Requested:{% include "creditor-mvp/_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.45am</p>
                </li>
                {% endif %}

                {% if data['adddebt']%}
                 <li>
                  <a class="govuk-link" href="add-debt-details">We have identified debts that should be included in Breathing Space</a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Requested:{% include "creditor-mvp/_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.41am</p>
                </li>
                {% endif %}

                {% if data['creditorSold']%}
                      <li>
                  <a class="govuk-link" href="sold-the-debt-details">Advice Uk have been informed that we have sold the debt on </a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Requested:{% include "creditor-mvp/_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.37am</p>
                </li>
                {% endif %}

{% endif %}



