
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}



<!-- BASE VALUES -->
{% set totNum = 0 %}
{% set HBNum = 0 %}
{% set CTNum = 0 %}
{% set PFNum = 0 %}
{% set RANum = 0 %}
{% set otherNum = 0 %}
{% set toDo = 0 %}
{% set applied = 0 %}
{% set review = 0 %}
{% set reviewed = 0 %}

<!-- todo VALUES -->
{% set HBtoDO = 0 %}
{% set CTtoDO = 0 %}
{% set PFtoDO = 0 %}
{% set RAtoDO = 0 %}
{% set OthertoDO = 0 %}

  

	{% for item in debts %}

<!-- BASE VALUES -->
	 {% set totNum = totNum + 1 %}
   	{% if item.type === "Housing Benefit" %}
   {% set HBNum = HBNum + 1 %}
   {% endif %}
  {% if item.type === "Council tax" %}
   {% set CTNum = CTNum + 1 %}
   {% endif %}
   {% if item.type === "Parking fines" %}
   {% set PFNum = PFNum + 1 %}
    {% endif %}
   {% if item.type === "Rent arrears" %}
   {% set RANum = RANum + 1 %}
    {% endif %}
   {% if item.type === "Other" %}
   {% set otherNum = otherNum + 1 %}
    {% endif %}

 {% if item.status === "To do" %}
  {% set toDo = toDo + 1 %}
 {% endif %}

  {% if item.status === "applied" %}
  {% set applied = applied + 1 %}
 {% endif %}

   {% if item.status === "review" %}
  {% set review = review + 1 %}
 {% endif %}

   {% if item.status === "reviewed" %}
  {% set reviewed = reviewed + 1 %}
 {% endif %}




<!-- TO DO VALUES -->
    	{% if item.type === "Housing Benefit" and item.status === "To do" %}
     {% set HBtoDO = HBtoDO + 1 %}
      {% endif %}

      {% if item.type === "Council tax" and item.status === "To do" %}
     {% set CTtoDO = CTtoDO + 1 %}
      {% endif %}	

      {% if item.type === "Parking fines" and item.status === "To do" %}
     {% set PFtoDO = PFtoDO + 1 %}
      {% endif %}	

      {% if item.type === "Rent arrears" and item.status === "To do" %}
     {% set RAtoDO = RAtoDO + 1 %}
      {% endif %}


      {% if item.type === "Other" and item.status === "To do" %}
     {% set OthertoDO = OthertoDO + 1 %}
      {% endif %}

{% endfor %}



  <div class="govuk-grid-row">
  
   <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
 <span class="govuk-caption-xl">Breathing Space portal for</span>
  {% include path+"./_creditorname.html" %}
  </h1>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   </div>
 <div class="govuk-grid-column-full">
 <h2 class="govuk-heading-l govuk-!-margin-bottom-5">Search for a Breathing Space debt</h2>


<form class="form" action="search-results-page" method="post">

<div class="gem-c-search gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus">
  <label for="finder-keyword-search" class="gem-c-search__label">
    Search for a Breathing Space account
  </label>
  <div class="gem-c-search__item-wrapper">
    <input type="search" value="" id="finder-keyword-search" name="fullname" title="Search" aria-controls="" class="gem-c-search__item gem-c-search__input js-class-toggle focus">
    <div class="gem-c-search__item gem-c-search__submit-wrapper">
      <button type="submit" class="gem-c-search__submit">Search</button>
    </div>
  </div>
</div>
</form>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>
</div>
 <div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">
<form class="form" action="#" method="post">
<h2 class="govuk-heading-m">Filter by:</h2>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "actions",
  name: "actions",
  classes: "govuk-radios--small",
  fieldset: {
    legend: {
      text: "Actions",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [

    {
      value: "TD",
      text: "To do",
      checked: checked("actions", "TD")
    },
    {
      value: "PA",
      text: "Protections applied",
      checked: checked("actions", "PA")
    },
    {
      value: "RO",
      text: "Reviews oustanding",
      checked: checked("actions", "RO")
    },
    {
      value: "RC",
      text: "Reviews completed",
      checked: checked("actions", "RC")

    }
    
  ]
}) }}


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--S">
      <h2 class="govuk-fieldset__heading">
        Debt type
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debttype" name="debttype" type="radio" value="Housing benefit" {{checked('debttype', 'Housing benefit') }}>
        <label class="govuk-label govuk-radios__label" for="debttype">
          Housing benefit
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debttype-2" name="debttype" type="radio" value="Council tax" {{checked('debttype', 'Council tax') }}>
        <label class="govuk-label govuk-radios__label" for="debttype-2">
          Council Tax
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debttype-3" name="debttype" type="radio" value="Parking fines" {{checked('debttype', 'Parking fines') }}>
        <label class="govuk-label govuk-radios__label" for="debttype-3">
          Parking fines 
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debttype-4" name="debttype" type="radio" value="Rent arrears" {{checked('debttype', 'Rent arrears') }}>
        <label class="govuk-label govuk-radios__label" for="debttype-4">
         Rent arrears
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debttype-5" name="debttype" type="radio" value="Other" {{checked('debttype', 'Other') }}>
        <label class="govuk-label govuk-radios__label" for="debttype-5">
         Other 
        </label>
      </div>
    </div>
  </fieldset>
</div>


<button class="govuk-button" data-module="govuk-button">
Apply filter
</button>
</form>
</div>
<div class="govuk-grid-column-three-quarters">

<h2 class="govuk-heading-m"><span style="font-weight:normal">Showing:</span> 

{% if checked('debttype','Other') and checked('actions','TD')  %}
Other to do ({{ OthertoDO }})

{% elif checked('debttype','Other') %}
Other  ({{ otherNum }})

{% elif checked('debttype','Rent arrears') and checked('actions','TD')  %}
Rent arrears to do ({{ RAtoDO }})

{% elif checked('debttype','Rent arrears') %}
Rent arrears ({{ RANum }})

{% elif checked('debttype','Parking fines') and checked('actions','TD')  %}
 Parking fines to do ({{ PFtoDO }})

{% elif checked('debttype','Parking fines') %}
Parking fines ({{ PFNum }})

{% elif checked('debttype','Council tax') and checked('actions','TD')  %}
 Council tax to do ({{ CTtoDO }})

{% elif checked('debttype','Council tax') %}
Council tax ({{ CTNum }})

{% elif checked('debttype','Housing benefit') and checked('actions','TD')  %}
 Housing benefits to do ({{ HBtoDO }})

{% elif checked('debttype','Housing benefit')%}
Housing benefit ({{ HBNum }})

{% elif checked('actions','RO') %}
Reviews outsanding ({{ review }})

{% elif checked('actions','RC') %}
Reviews completed ({{ reviewed }})


{% elif checked('actions','PA') %}
Protections applied ({{ applied }})

{% elif checked('actions','TD') %}
To do ({{ toDo }})
{% else %}
All debts ({{totNum}})
{% endif %}
</h2>



<table class="govuk-table">
  <caption class="govuk-table__caption">Active Breathing Space debts for Liverpool City Council</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Debt type</th>
       <th scope="col" class="govuk-table__header">Reference</th>
      <th scope="col" class="govuk-table__header">Client</th>
        <th scope="col" class="govuk-table__header">Date added</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  {% if checked('debttype','Other') %}
{% for debt in debts %}
{% if debt.type == 'Other'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Rent arrears') %}
{% for debt in debts %}
{% if debt.type == 'Rent arrears'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Parking fines') and checked('actions','TD')  %}
{% for debt in debts %}
{% if debt.type == 'Parking fines' and debt.status == 'To do'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %} 

{% elif checked('debttype','Parking fines') %}
{% for debt in debts %}
{% if debt.type == 'Parking fines'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}


{% elif checked('debttype','Council tax') and checked('actions','TD')  %}
{% for debt in debts %}
{% if debt.type == 'Council tax' and debt.status == 'To do'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %} 

{% elif checked('debttype','Council tax') %}
{% for debt in debts %}
{% if debt.type == 'Council tax'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Housing benefit') and checked('actions','TD')  %}
{% for debt in debts %}
{% if debt.type == 'Housing Benefit' and debt.status == 'To do'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Housing benefit') %}
{% for debt in debts %}
{% if debt.type == 'Housing Benefit'%}
  {% include path+"./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% else %}
{% for debt in debts %}
  {% include path+"./_debtTableRow.html" %} 
{% endfor %}

{% endif %}




  </tbody>
</table>
		
    </div>
</div>

{% endblock %}
