
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    
        <div class="govuk-panel govuk-panel--confirmation">
      
          <h1 class="govuk-panel__title">
          Confirmation
          </h1>
        
          <div class="govuk-panel__body">
          You have informed Advice Uk that you have sold the debt on
          </div>
    
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
           <p class="govuk-body">
          The money adviser will be notified that you have sold the debt on to another creditor 
        </p>
        <p class="govuk-body">
        <a href="account-landing-tabs">Return to clientpage</a>
        </p>
         <p class="govuk-body">
        <a href="homepage">Return to homepage</a>
        </p>
      </div>
  
</div>

{% endblock %}
