
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}





{% block content %}

 {% include "./_global-nav.html" %} 

<!-- BASE VALUES -->
{% set totNum = 0 %}
{% set HBNum = 0 %}
{% set CTNum = 0 %}
{% set PFNum = 0 %}
{% set RANum = 0 %}
{% set OtherNum = 0 %}
{% set todo = 0 %}
{% set new = 0 %}
{% set applied = 0 %}
{% set review = 0 %}
{% set accepted = 0 %}
{% set rejected = 0 %}

<!-- todo VALUES -->
{% set HBtoDO = 0 %}
{% set CTtoDO = 0 %}
{% set PFtoDO = 0 %}
{% set RAtoDO = 0 %}
{% set OthertoDO = 0 %}
{% set NewtoDo = 0 %}
{% set AppliedtoDo = 0 %}
{% set ReviewtoDo = 0 %}
{% set AcceptedtoDo = 0 %}
{% set RejectedtoDo = 0 %}
<!-- Status type and todo VALUES -->
{% set NewHBtoDO = 0 %}
{% set AppliedHBtoDO = 0 %}
{% set ReviewHBtoDO = 0 %}
{% set AcceptedHBtoDO = 0 %}
{% set RejectedHBtoDO = 0 %}





{% set NewCTtoDO = 0 %}
{% set NewPFtoDO = 0 %}
{% set NewRAtoDO = 0 %}
{% set NewOthertoDO = 0 %}




  

	{% for item in debts %}

<!-- BASE VALUES -->
	 {% set totNum = totNum + 1 %}

  {% if item.type === "Housing benefit" %}
   {% set HBNum = HBNum + 1 %}
   {% endif %}
  {% if item.type === "Council tax" %}
   {% set CTNum = CTNum + 1 %}
   {% endif %}
   {% if item.type === "Parking fines" %}
   {% set PFNum = PFNum + 1 %}
    {% endif %}
   {% if item.type === "Rent arrears" %}
   {% set RANum = RANum + 1 %}
    {% endif %}
   {% if item.type === "Other" %}
   {% set OtherNum = OtherNum + 1 %}
    {% endif %}

   <!-- status -->
  {% if item.status === "new" %}
   {% set new = new + 1 %}
  {% endif %}

  {% if item.status === "applied" %}
   {% set applied = applied + 1 %}
  {% endif %}


  {% if item.status === "review" %}
   {% set review = review + 1 %}
  {% endif %}

    {% if item.status === "review-accepted" %}
   {% set accepted = accepted + 1 %}
  {% endif %}

    {% if item.status === "review-rejected" %}
   {% set rejected = rejected + 1 %}
  {% endif %}


  
   {% if item.todo === "Yes" %}   
   {% set todo = todo + 1 %}
   {% endif %}

   <!-- TO DO VALUES Type -->
    {% if item.type === "Housing benefit" and item.todo === "Yes" %}
     {% set HBtoDO = HBtoDO + 1 %}
    {% endif %}

    {% if item.type === "Council tax" and  item.todo === "Yes" %}
     {% set CTtoDO = CTtoDO + 1 %}
    {% endif %}	

    {% if item.type === "Parking fines" and  item.todo === "Yes" %}
     {% set PFtoDO = PFtoDO + 1 %}
     {% endif %}	

      {% if item.type === "Rent arrears" and  item.todo === "Yes" %}
     {% set RAtoDO = RAtoDO + 1 %}
      {% endif %}

      {% if item.type === "Other" and  item.todo === "Yes" %}
     {% set OthertoDO = OthertoDO + 1 %}
      {% endif %}

  <!-- TO DO VALUES Status -->
  {% if item.status === "new" and item.todo === "Yes" %}
   {% set NewtoDo =  NewtoDo + 1 %} 
   {% endif %}

     {% if item.status === "applied" and item.todo === "Yes" %}
   {% set AppliedtoDo =  AppliedtoDo + 1 %} 
   {% endif %}

     {% if item.status === "review" and item.todo === "Yes"  %}
   {% set ReviewtoDo =  ReviewtoDo + 1 %} 
   {% endif %}
   
     {% if item.status === "review-rejected" and item.todo === "Yes"  %}
   {% set AcceptedtoDo =  AcceptedtoDo + 1 %} 
   {% endif %}

     {% if item.status === "review-rejected" and item.todo === "Yes"  %}
   {% set RejectedtoDo =  RejectedtoDo + 1 %} 
   {% endif %}

   <!-- Status type and TO DO VALUES Status -->

    {% if item.type === "Housing benefit" and item.status === "new" and item.todo === "Yes" %}
   {% set NewHBtoDO =  NewHBtoDO + 1 %} 
   {% endif %}

     {% if item.type === "Housing benefit" and item.status === "applied" and item.todo === "Yes" %}
   {% set AppliedHBtoDO =  AppliedHBtoDO + 1 %} 
   {% endif %}
     {% if item.type === "Housing benefit" and item.status === "review" and item.todo === "Yes" %}
   {% set ReviewHBtoDO =  ReviewHBtoDO + 1 %} 
   {% endif %}
     {% if item.type === "Housing benefit" and item.status === "review-accepted" and item.todo === "Yes" %}
   {% set AcceptedHBtoDO =  AcceptedHBtoDO + 1 %} 
   {% endif %}
     {% if item.type === "Housing benefit" and item.status === "review-rejected" and item.todo === "Yes" %}
   {% set RejectedHBtoDO =  RejectedHBtoDO + 1 %} 
   {% endif %}





    {% if item.type === "Council tax" and item.status === "new" and item.todo === "Yes" %}
   {% set NewCTtoDO =  NewCTtoDO + 1 %} 
   {% endif %}

  {% if item.type === "Parking fines" and item.status === "new" and item.todo === "Yes" %}
   {% set NewPFtoDO =  NewPFtoDO + 1 %} 
   {% endif %}

  {% if item.type === "Rent arrears" and item.status === "new" and item.todo === "Yes" %}
   {% set NewRAtoDO =  NewRAtoDO + 1 %} 
  {% endif %}

  {% if item.type === "Other" and item.status === "new" and item.todo === "Yes" %}
   {% set NewOthertoDO =  NewOthertoDO + 1 %} 
  {% endif %}

{% endfor %}





  <div class="govuk-grid-row">
  
   <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 govuk-!-margin-top-5">
 <span class="govuk-caption-xl">Breathing Space portal for</span>
  {% include "./_creditorname.html" %}
  </h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   </div>
</div>
 <div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<form class="form" action="#" method="post">
<h2 class="govuk-heading-m">Filter by:</h2>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        Actions
      </label >
    </legend>

    <div class="govuk-checkboxes  govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="todo" name="todo" type="checkbox" value="yes"  {{ checked('todo', 'yes') }}>
        <label class="govuk-label govuk-checkboxes__label" for="todo">
          To do ({{todo}})
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h2 class="govuk-fieldset__heading">
        Debt type
      </h2>
    </legend>
    <div class="govuk-checkboxes  govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="debttype" name="debttype" type="checkbox" value="Housing benefit" {{checked('debttype', 'Housing benefit') }}>
        <label class="govuk-label govuk-checkboxes__label" for="debttype">
          Housing benefit ({% if checked('todo','yes') and checked('status','new') %}
          {{NewHBtoDO}}
            {% elif checked('todo','yes') %}
{{HBtoDO}}
{% else %}
{{HBNum}}
{% endif %})
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="debttype-2" name="debttype" type="checkbox" value="Council tax" {{checked('debttype', 'Council tax') }}>
        <label class="govuk-label govuk-checkboxes__label" for="debttype-2">
          Council Tax ({% if checked('todo','yes') and checked('status','new') %}
          {{NewCTtoDO}}
            {% elif checked('todo','yes') %}
{{CTtoDO}}
{% else %}
{{CTNum}}
{% endif %})
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="debttype-3" name="debttype" type="checkbox" value="Parking fines" {{checked('debttype', 'Parking fines') }}>
        <label class="govuk-label govuk-checkboxes__label" for="debttype-3">
          Parking fines ({% if checked('todo','yes') and checked('status','new') %}
          {{NewPFtoDO}}
            {% elif checked('todo','yes') %}
{{PFtoDO}}
{% else %}
{{PFNum}}
{% endif %})
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="debttype-4" name="debttype" type="checkbox" value="Rent arrears" {{checked('debttype', 'Rent arrears') }}>
        <label class="govuk-label govuk-checkboxes__label" for="debttype-4">
         Rent arrears ({% if checked('todo','yes') and checked('status','new') %}
          {{NewRAtoDO}}
           {% elif checked('todo','yes') %}
{{RAtoDO}}
{% else %}
{{RANum}}
{% endif %})
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="debttype-5" name="debttype" type="checkbox" value="Other" {{checked('debttype', 'Other') }}>
        <label class="govuk-label govuk-checkboxes__label" for="debttype-5">
         Other ({% if checked('todo','yes') and checked('status','new') %}
          {{NewOthertoDO}}
          {% elif checked('todo','yes') %}
{{OthertoDO}}
{% else %}
{{OtherNum}}
{% endif %})
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        Status
      </label >
    </legend>

    <div class="govuk-checkboxes  govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="new"  {{ checked('status', 'new') }}>
        <label class="govuk-label govuk-checkboxes__label" for="status">
          New ({% if checked('todo','yes') and checked('debttype','Housing benefit') %}
          {{NewHBtoDO}}
          {% elif checked('todo','yes') %}
{{NewtoDo}}
{% else %}
{{new}}
{% endif %})
        </label>
      </div>
 <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="PA"  {{ checked('status', 'PA') }}>
        <label class="govuk-label govuk-checkboxes__label" for="status">
          Protections applied  ({% if checked('todo','yes') and checked('debttype','Housing benefit') %}
          {{AppliedHBtoDO}}
            {% elif checked('todo','yes') %}
{{AppliedtoDo}}
{% else %}
{{applied}}
{% endif %})
        </label>
      </div>
               <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="R"  {{ checked('status', 'R') }}>
        <label class="govuk-label govuk-checkboxes__label" for="status">
          Reviews requested ({% if checked('todo','yes') and checked('debttype','Housing benefit') %}
          {{ReviewHBtoDO}}
          {% elif checked('todo','yes') %}
{{ReviewtoDo}}
{% else %}
{{review}}
{% endif %})
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="RA"  {{ checked('status', 'RA') }}>
        <label class="govuk-label govuk-checkboxes__label" for="status">
          Reviews accepted ({% if checked('todo','yes') and checked('debttype','Housing benefit') %}
          {{AcceptedHBtoDO}}
          {% elif checked('todo','yes') %}
{{AcceptedtoDo}}
{% else %}
{{accepted}}
{% endif %})
        </label>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="RR"  {{ checked('status', 'RR') }}>
        <label class="govuk-label govuk-checkboxes__label" for="status">
          Reviews rejected ({% if checked('todo','yes') and checked('debttype','Housing benefit') %}
          {{RejectedHBtoDO}}
          {% elif checked('todo','yes') %}
{{RejectedtoDo}}
{% else %}
{{rejected}}
{% endif %})
        </label>
      </div>
    </div>
  </fieldset>
</div>



<button class="govuk-button" data-module="govuk-button">
Apply filter
</button>
</form>
</div>
<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-m"><span style="font-weight:normal">Showing:</span> 

{% if checked('debttype','Other') and checked('todo','yes')  %}
Other, to do ({{ OthertoDO }})

{% elif checked('debttype','Other') %}
Other  ({{ otherNum }})

{% elif checked('debttype','Rent arrears') and checked('todo','yes')  %}
 Rent arrears, to do ({{ RAtoDO }}) 

{% elif checked('debttype','Rent arrears') and checked('status','New')  %}
Rent arrears, new ({{ RAtoDO }})

{% elif checked('debttype','Rent arrears') %}
Rent arrears ({{ RANum }})


{% elif checked('debttype','Parking fines') and checked('status','New')  %}
 Parking fines New ({{ PFtoDO }})

{% elif checked('debttype','Parking fines') and checked('todo','yes')  %}
 Parking fines, to do ({{ PFtoDO }}) 

{% elif checked('debttype','Parking fines') %}
Parking fines ({{ PFNum }})

{% elif checked('debttype','Council tax') and checked('status','New')  %}
 Council tax, new ({{ CTtoDO }})

{% elif checked('debttype','Council tax') and checked('todo','yes')  %}
 Council tax, to do ({{ CTtoDO }})

{% elif checked('debttype','Council tax') %}
Council tax ({{ CTNum }})

{% elif checked('debttype','Housing benefit') and checked('status','new') and checked('todo','yes') %}
Housing benefit, New  to do ({{NewHBtoDO}})

{% elif checked('debttype','Housing benefit') and checked('todo','yes')  %}
 Housing benefits to do ({{ HBtoDO }})

{% elif checked('debttype','Housing benefit')%}
Housing benefit ({{ HBNum }})

{% elif checked('status','RR') %}
Reviews accepted ({{ rejected }})

{% elif checked('status','RA') %}
Reviews accepted ({{ accepted }})

{% elif checked('status','R') %}
Reviews requested ({{ review }})


{% elif checked('status','RR') and checked('todo','yes') %}
Reviews rejected, to do ({{ RejectedtoDo }})

{% elif checked('status','RA') and checked('todo','yes') %}
Reviews accepted, to do ({{ AcceptedtoDo }})

{% elif checked('status','R') and checked('todo','yes') %}
Reviews requested, to do ({{ ReviewtoDo }})

{% elif checked('status','PA') and checked('todo','yes') %}
Protections applied, to do ({{ AppliedtoDo }})


{% elif checked('status','PA') %}
Protections applied ({{ applied }})


{% elif checked('status','new') and checked('todo','yes') %}
New to do ({{NewtoDo}})
{% elif checked('status','new') %}
New ({{ new }})

{% elif checked('todo','yes') %}
To do ({{ todo }})
{% else %}
All debts ({{totNum}}) 
{% endif %}

</h2>



<table class="govuk-table">
  <caption class="govuk-table__caption">Active Breathing Space debts for {% include "./_creditorname.html" %} </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Debt type</th>
       <th scope="col" class="govuk-table__header">Reference</th>
      <th scope="col" class="govuk-table__header">Client</th>
        <th scope="col" class="govuk-table__header">Date added</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
{% if checked('debttype','Other') and checked('todo','yes')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Other'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

  {% elif checked('debttype','Other') %}
{% for debt in debts %}
{% if debt.type == 'Other'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Rent arrears') and checked('todo','yes')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Rent arrears'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Rent arrears') %}
{% for debt in debts %}
{% if debt.type == 'Rent arrears'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Parking fines') and checked('status','New')  %}
{% for debt in debts %}
{% if debt.type == 'Parking fines' and debt.status == 'New'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %} 

{% elif checked('debttype','Parking fines') and checked('todo','yes')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Parking fines'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Parking fines') %}
{% for debt in debts %}
{% if debt.type == 'Parking fines'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}


{% elif checked('debttype','Council tax') and checked('status','New')  %}
{% for debt in debts %}
{% if debt.type == 'Council tax' and debt.status == 'New'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %} 

{% elif checked('debttype','Council tax') and checked('todo','yes')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Council tax'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Council tax') %}
{% for debt in debts %}
{% if debt.type == 'Council tax'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Housing benefit') and checked('status','new') and checked('todo','yes') %}

{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Housing benefit' and debt.status == 'new'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Housing benefit') and checked('todo','yes')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.type == 'Housing benefit'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('debttype','Housing benefit') %}
{% for debt in debts %}
{% if debt.type == 'Housing benefit'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('todo','yes') and checked('status','RR')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.status == 'review-rejected'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('todo','yes') and checked('status','RA')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.status == 'review-accepted'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('status','RA')  %}
{% for debt in debts %}
{% if debt.status == 'review-accepted'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}


{% elif checked('status','RA')  %}
{% for debt in debts %}
{% if debt.status == 'review-accepted'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('todo','yes') and checked('status','R')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.status == 'review'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('status','R')  %}
{% for debt in debts %}
{% if debt.status == 'review'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('todo','yes') and checked('status','PA')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.status == 'applied'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('status','PA')  %}
{% for debt in debts %}
{% if debt.status == 'applied'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}


{% elif checked('todo','yes') and checked('status','new')  %}
{% for debt in debts %}
{% if debt.todo == 'Yes' and debt.status == 'new'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% elif checked('status','new')  %}
{% for debt in debts %}
{% if debt.status == 'new'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}


{% elif checked('todo','yes') %}
{% for debt in debts %}
{% if debt.todo == 'Yes'%}
  {% include "./_debtTableRow.html" %} 
  {% endif %}
{% endfor %}

{% else %}
{% for debt in debts %}
  {% include "./_debtTableRow.html" %} 
{% endfor %}

{% endif %}




  </tbody>
</table>
		
    </div>
</div>

{% endblock %}
