
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-list-tabs" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Step 2 of 2</span>
       Add a debt
      </h1>
      <h2 class="govuk-heading-s">Creditor</h2>
       <p class="govuk-body">{{ creditorseven }} <a href="debt7">Change</a></p>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-label">
        Type of dept
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
     
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="typeOfDebt-1" name="typeOfDebt-7" type="radio" value="Council tax"  {{checked('typeOfDebt-7', 'Council tax') }}>
        <label class="govuk-label govuk-radios__label" for="typeOfDebt-1">
            Council tax
        </label>
      </div>

        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="typeOfDebt-2" name="typeOfDebt-7" type="radio" value="Electric"  {{checked('typeOfDebt-7', 'Rent') }}>
        <label class="govuk-label govuk-radios__label" for="typeOfDebt-2">
            Rent 
        </label>
      </div>
    
           <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="typeOfDebt-3" name="typeOfDebt-7" type="radio" value="Duel fuel"  {{checked('typeOfDebt-7', 'Parking fines') }}>
        <label class="govuk-label govuk-radios__label" for="typeOfDebt-3">
           Parking fines
        </label>
      </div>
  </fieldset>
</div>



 <div class="govuk-form-group">
  <label class="govuk-label" for="amountseven">
   Debt amount
  </label>
  <input class="govuk-input govuk-input--width-10" id="amountseven" name="amountseven" type="text" spellcheck="false" value="{{ amountseven }}">
</div>

 <div class="govuk-form-group">
  <label class="govuk-label" for="referenceseven">
    Reference
  </label>
  <input class="govuk-input govuk-input--width-10" id="referenceseven" name="referenceseven" type="text" spellcheck="false" value="{{ referenceseven }}">
</div>

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debt7" type="radio" value="debt7" checked>
        <label class="govuk-label govuk-radios__label" for="typeOfDebt">
         hidden radio
        </label>
      </div>
      </div>




<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


{% endblock %}
