
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="address" method="post">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Create a breathing space account : Step 1 of 3</span>
       Add client's details
      </h1>
     <div class="govuk-form-group">
  <label class="govuk-label" for="fullname">
    Client's full name
  </label>
  <input class="govuk-input" id="fullname" name="fullname" type="text" autocomplete="fullname" spellcheck="false" value="{{ fullname }}">
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-label">
        What is your client's date of birth?
      </h2>
    </legend>
    <span id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </span>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dobday">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobday" name="dobday" type="number" autocomplete="bdayday" pattern="[0-9]*" value="{{ dobday }}">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dobmonth">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobmonth" name="dobmonth" type="number" autocomplete="bdaymonth" pattern="[0-9]*"  value="{{ dobmonth }}">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dobyear">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobyear" name="dobyear" type="number" autocomplete="bdayyear" pattern="[0-9]*"  value="{{ dobyear }}">
        </div>
      </div>
    </div>
  </fieldset>
</div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
