
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="add-business-history" method="post">
 
    <div class="govuk-grid-column-two-thirds">
           <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       What is the business address?
      </h1>


     <h2 class="govuk-heading-s">Business</h2>
      <p class="govuk-body">{{ businessName }} <a href="add-business"> Change</a></p>

      <h2 class="govuk-heading-s">Postcode</h2>
      <p class="govuk-body">{{ postcodeBusiness | default("NW1 1JU") }} <a href="address">Change</a></p>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Choose address
  </label>
  <select class="govuk-select" id="sort" name="businesssort">
    <option value="published">3 addresses found</option>
    <option value="two">87 Cambridge Road, North Brentor, {{ postcodeBusiness }}</option>
    <option value="three">89 Cambridge Road, North Brentor, {{ postcodeBusiness }}</option>
    <option value="four">91 Cambridge Road, North Brentor, {{ postcodeBusiness }}</option>
  </select>
</div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<p class="govuk-body"><a href="add-business-address-manual">Enter address manually</a></p>
    </div>
    </form>
</div>

{% endblock %}
