
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Confirm reply to creditor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="#" method="post">
    <div class="govuk-grid-column-full">
     {% include  "../includes/advisor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Confirm reply to creditor</h1>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Reply</h2>
<p>{{ data['reply-detail'] }}</p>
     
     {% include  "../includes/advisor/_show-confirmation.html" %} 

         <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="task" type="radio" value="replied~plan?reference={{case.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="updateDebtType">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
Confirm
</button>
    </div>
    </form>
</div>

{% endblock %}
