
{% extends "../layout-sdrp.html" %}

{% set globalnav = "dept repayment plan" %}

{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}
{% include  "../includes/advisor/_global-nav.html" %} 
{% set totTasks = 0 %}
{% set totDiscprenceies = 0 %}
{% set totProposed = 0 %}
{% set totCantFind = 0 %}

	{% for case in cases %}

 {% if case.task === "Creditor has raised discrepancies" or case.task === "Draft plans nearing deadline" or case.task === "Creditor can't find the debt" %}
    {% set totTasks = totTasks + 1 %}
   {% endif %}

    {% if case.task === "Creditor has raised discrepancies" %}
    {% set totDiscprenceies = totDiscprenceies + 1 %}
   {% endif %}

  {% if case.task === "Draft plans nearing deadline" %}
    {% set totProposed = totProposed + 1 %}
   {% endif %}

   {% if case.task === "Creditor can't find the debt" %}
    {% set totCantFind = totCantFind + 1 %}
   {% endif %}


   {% endfor %}

  <div class="govuk-grid-row govuk-!-margin-top-5">
  
   <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
 Advice uk
 <span class="govuk-caption-xl">Managing debt repayment plans</span>
 </h1>
 <h2 class="govuk-heading-s">
 <span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">145</span><br>Debt repayment plans  </h2>

<div class="card-container">

           <!--   <div class="card double">
                  <h2 class="govuk-heading-s"><a href="tasks-to-do">Tasks to do <strong>({{totTasks}})</strong></a></h2>
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  <ul class="govuk-list">
                  <li><a href="tasks-to-do">New messages ({{totCantFind}}) </a></li>
                  <li><a href="tasks-to-do">Updated debt details ({{totProposed}}) </a></li>
                  <li><a href="tasks-to-do">Sold depts ({{totProposed}}) </a></li>
                  <li><a href="tasks-to-do">New debts ({{totProposed}}) </a></li>
                  <li><a href="tasks-to-do">Draft plans nearing deadline ({{totProposed}}) </a></li>
                  <li><a href="tasks-to-do">Review agreed plans ({{totProposed}}) </a></li>
                  <li><a href="tasks-to-do">Missed payments ({{totProposed}}) </a></li>
                  </ul>
              </div> -->
              <div class="card">
                <h2 class="govuk-heading-s">
                Create new
                 </h2> 
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
                 <a href="create-guard" class="govuk-button govuk-!-margin-bottom-2">Create a plan</a>
              </div>
</div>

</div></div>
{% endblock %}
