
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <form class="form" action="business-guard" method="post">

      <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
     
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="howcontacted-conditional-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
           How would your client like to to be notified of any updates to their plan
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" >
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="howcontacted-conditional" name="howcontacted" type="radio" value="Email" data-aria-controls="email" {{ checked('howcontacted', 'Email') }}>
          <label class="govuk-label govuk-radios__label" for="howcontacted-conditional">
            Email
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="email">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contactByEmail">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="contactByEmail" name="contactByEmail" type="email" spellcheck="false" value="{{ contactByEmail }}">
          </div>
  
            <div class="govuk-form-group">
            <label class="govuk-label" for="contactByEmailConfirm">
              Confirm email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="contactByEmailConfirm" name="contactByEmailConfirm" type="email" spellcheck="false" value="{{ contactByEmailConfirm }}">
          </div>
  
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="post" name="howcontacted" type="radio" value="Post" data-aria-controls="Post" {{ checked('howcontacted', 'Post') }}>
          <label class="govuk-label govuk-radios__label" for="post">
            Post
          </label>
      </div>
       
             <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="no-notification" name="howcontacted" type="radio" value="Client does not want to recieve notifications" data-aria-controls="no-notification" {{ checked('howcontacted', 'Client does not want to recieve notifications') }}>
          <label class="govuk-label govuk-radios__label" for="no-notification">
             My client does not want you to send them any notifications
          </label>
     
        </div>
    </fieldset>
  </div>
  
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
      </div>
      </form>
  </div>

{% endblock %}
