
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
Money advisor scenarios
{% endblock %}


{% block content %}
  <form class="form" action="index" method="post">
<h1 class="govuk-heading-l govuk-!-margin-top-5">Choose scenarios</h1>
<p class="govuk-!-width-one-quarter"><a href="plan">Add debts</a></p>
<!--<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP823471">Creditor has updated debt details</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP619910">Creditor has added new debts</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP904312">Confirm sold debts</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP414771#messages">Message from creditor</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP250150">Send draft plan</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP023446">Creditor objects to the plan</a></p>
<p class="govuk-!-width-one-quarter"><a href="plan?reference=SDRP058835">Confirmed plan</a></p> -->
    </div>
</div>
{% endblock %}
