// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


@import "patterns/card";
@import "patterns/accessible-autocomplete";
//@import "patterns/govuk_search";
@import "patterns/subnavigation";


//Start Prototype only helper classes -----------------------------------------------------------------

.float-right{
    float:right;
}

button.govuk-link{
    border:none;
    background:transparent;
    text-decoration:underline;
    text-align:left;
    color: $govuk-link-colour;
    margin-bottom:0px;
    padding-left:0;

    &:visited{
        color:$govuk-link-visited-colour;
    }

    &:hover{
        cursor: pointer;
    }
}

//End Prototype only helper classes -----------------------------------------------------------------
//End bespoke styling for the stages displan on the plan page -----------------------------------------------------------------
.stages li
{
   
    display:inline-block;
    margin-right:30px;
}
//End bespoke styling for the stages displan on the plan page -----------------------------------------------------------------

// Page width overide --------------------------------------------------------------------------------

.govuk-width-container {
    max-width: 1160px;
}
// End page with overide -----------------------------------------------------------------------------

