// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


@import "patterns/card";
@import "patterns/accessible-autocomplete";
//@import "patterns/govuk_search";
@import "patterns/subnavigation";


.status {
    margin-bottom: 0px;
    border-left: 2px solid rgb(29, 112, 184);
    padding: 0.4em 0.6em;
    background: rgba(29, 112, 184, 0.05);
    font-size:18px;

    &.rejected{
        background:rgba(#d4351c, 0.1);
        border-color:#d4351c;
    }

    &.accepted{
        background:rgba(#00703c, 0.1);
        border-color:#00703c;
    }

}


// helper classes

.status span {

    font-size: 18px;
    font-weight: normal;
}

.pull_right{
    float:right;
}

.block{
  display:block;
  font-size:18px;
  font-weight:normal;
}


.header_highlight_info
{
    text-align:right;

    &.info, &.active {
        color: #144e81;
        background: #d2e2f1;

        padding:8px 10px ;
        text-align:left;
        margin-top:-10px;

        .govuk-body-s{
            color:#144e81;
        }

        &.active{
            color: #fff;
            background: #1d70b8;

            .govuk-body-s{
                color:#fff;
            }

        }

    @media screen and (max-width:640px)
    {
        margin-top:0px;
    }
    }

    

    @media screen and (max-width:640px)
    {
        text-align:left;
    }
    span {
    
        display:block;
        span{
            font-weight:bold;
            display:inline-block;
        }
    }

    .govuk-body-s{
        margin-bottom:0;
    }
}


.key_details
{
    
    margin-bottom:20px;




    h1{
        margin-bottom:15px;
    }

    p{
        margin-bottom:0px;
    }


    ul 
    {
    border-top:1px solid $govuk-border-colour;      
    border-bottom:2px solid govuk-colour("black");    
    list-style: none;
    margin:0;
    padding:5px 0 10px 0;
    li {
        display:inline-block;
        margin:0px 20px 0px 0;
        padding:5px 0 0px 0;

        &:first-of-type{

            border:none;
        }

            span{
                font-weight:bold;
                display:block;
            }
    }
}
}


.search-container{
    background: $govuk-brand-colour;
    padding:15px 15px 0 15px;
    margin-bottom:30px;
     
    h1{
        color:#fff;
    }


.gem-c-search--on-white .gem-c-search__submit {
    background-color: #000;
 
}
}

.govuk-details__text, .govuk-inset-text {

 &.govuk-fullborder--blue{
     border:5px solid #144e81;
 }  

&.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
    border-color:#005a30;
}
&.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
    border-color:#144e81;

}

&.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
    border-color:#6e3619;
}
}

.card2{
    border:1px solid #b1b4b6;
    padding:20px 20px 0px 20px;
    margin-bottom:30px;
  }
  
  .dashboard-link{
      font-size:19px;
      float:left;
      text-decoration:none;
      text-align:center;
      border:1px solid #b1b4b6;
      padding:15px;
      margin:0 15px 0  0;
      span{
          display:block;
          font-size:40px;
          font-weight:bold;
      }
  }

 
hr.keydetails 
{
  border-color:#000;
  border-bottom:2px solid;
  margin-bottom:30px;
}

.govuk-main-wrapper{
    padding-top:30px;
}

.govuk-accordion {
.last {
    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions
    {
        border-bottom:none;
    }

}

@media (max-width: 40.0525em){
.govuk-summary-list__row {
    border-bottom: none;
}
}
}


.govuk-summary-list__actions {
      width: 30%;
    }
  




// Design system nav //

.app-subnav {
    margin-bottom: 40px;
    padding: 0px 15px 0 0;
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.14286;

    .app-subnav__section {
        margin: 0 0 20px;
        padding: 0;
        list-style-type: none;

        .app-subnav__section-item {
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;

            .app-subnav__link {
                padding: 2px 0;
                text-decoration: none;
            }

            &.hr
            {
                border-top:1px solid $govuk-border-colour;
                margin-top:15px;
                padding-top:15px;
            }
        }
    }

    .app-subnav__section-item--current {
        margin-left: -14px;
        padding-left: 10px;
        border-left: 4px solid #1d70b8;
        background-color: #fff;

        .app-subnav__section-item--current .app-subnav__link {
            font-weight: bold;
        }
    }
}



.timemachine-link{
    position:absolute;
    top:0px;
    right:0px;
    display:block;
    background:#fff;
    padding:10px 10px 14px 10px;
  }



    .govuk-list.timeline {
       border-left:3px solid govuk-colour("blue");
       padding-left:10px;
     

       li{
        position:relative;
        padding:0 5px ; 
        margin-bottom:20px;

        &:before{
            content: "";
            width:5px;
            height:3px;
            background:govuk-colour("blue");
            position:absolute;
            left:-10px;
            top:10px;
           }
       }

       
    }


    // Pagination css from  https://home-office-digital-patterns.herokuapp.com/components/pagination ///

      
 
      
      .pagination {
        padding: 0;
      }
      .pagination__item {
        display: inline-block;
        list-style: none;
      }
      .pagination__link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        font-size:19px;
      
        &:hover, &:focus {
          background: #F8F8F8;
          outline: 3px solid #FFBF47;
        }
      
        &.current {
          color: #0B0C0C;
          font-weight: 700;
          border: none;
          pointer-events: none;
          cursor: default;
      
          &:hover, &:focus {
            color: #0B0C0C;
            background: none;
          }
        }
      }
      



      .govuk-table.fixcol td, .govuk-table.fixcol th {
        width:25%;
      }

button.govuk-link{
    border:none;
    background:transparent;
    text-decoration:underline;
    text-align:left;
    color: $govuk-link-colour;
    margin-bottom:0px;
    padding-left:0;

    &:visited{
        color:$govuk-link-visited-colour;
    }

    &:hover{
        cursor: pointer;
    }
}


ul.searchresults{

    li{
        border-bottom:1px solid $govuk-border-colour;
        padding-bottom:10px;
        margin-bottom:10px;

        span{
            display:block;
            padding-bottom:3px;
        }
    }

}

// Creditor v5 styling ---------//
.filterSeperator{
    display:block;
    border-top:1px solid black;
    clear:left;
    padding-bottom:10px;
    margin:20px 0 0px 0;
    padding-top:10px;
}

.govuk-radios__label.withHint{
    padding-bottom:2px;
}


// End Creditor v5 styling ---------//


.govuk-hint .govuk-list{
    color: $govuk-secondary-text-colour;
}


.related
{
    border-top:2px solid  $govuk-brand-colour;
    padding-top:15px;
}


.pull-right{
    float:right;
}


.sort-list li{
    border:1px solid $govuk-border-colour;
    padding:10px 10px 5px 10px;
    margin-bottom:15px;

    hr{
        margin-top:10px;
    }

    ul{
       padding:0px;
       margin:0px; 
        li{
        border:none;
        padding:0px;
        font-size:16px;
        margin-bottom:5px;
    }
}
}




// Start developer hub styling //

.signin{
    float:right;

    li{
        display:inline-block;
        padding-left:10px;
    }
}

// End developer hub styling //



ul.subfilters  {
    list-style: none;
    padding:0;
    margin:0;


    li {
     
        font-weight:normal;
        padding:10px 10px 0 0px;

    }

}


.govuk-radios__divider.overide
{
    width:100%;
    clear:left;
    text-align: left;
}

