
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="index" method="post">
    <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="query-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What would you like the money advisor to change or review?
      </h1>
    </legend>
    <span id="query-hint" class="govuk-hint">
      Select all options that are relevant to you.
    </span>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="query" name="query" type="checkbox" value="debt" data-aria-controls="conditional-query" {{ checked('query', 'debt')}} >
        <label class="govuk-label govuk-checkboxes__label" for="query">
          Review debt eligibility
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-query">
         <div class="govuk-form-group">
            <label class="govuk-label" for="moreDetail">
              Can you provide more detail?
            </label>
            <textarea class="govuk-textarea" id="moreDetail" name="moreDetail" rows="3" aria-describedby="moreDetail-hint">{{ moreDetail }}</textarea>
          </div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="query-2" name="query" type="checkbox" value="client" data-aria-controls="conditional-query-2" {{ checked('query', 'client') }}>
        <label class="govuk-label govuk-checkboxes__label" for="query-2">
           Review client eligibility
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-query-2">
       <div class="govuk-form-group">
            <label class="govuk-label" for="moreDetail2">
              Can you provide more detail?
            </label>
            <textarea class="govuk-textarea" id="moreDetail2" name="moreDetail2" rows="3" >{{ moreDetail2 }}</textarea>
          </div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="query-3" name="query" type="checkbox" value="change" data-aria-controls="conditional-query-3" {{ checked('query', 'change') }}>
        <label class="govuk-label govuk-checkboxes__label" for="query-3">
          Query or request changes to client or case details
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-query-3">
     <div class="govuk-form-group">
            <label class="govuk-label" for="moreDetail3">
              Can you provide more detail?
            </label>
            <textarea class="govuk-textarea" id="moreDetail3" name="moreDetail3" rows="3">{{ moreDetail3 }}</textarea>
          </div>

      </div>
    </div>
  </fieldset>
</div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
