
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Add application name
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='clientsecrets' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">What's the name of your application?</h1>



<p class="govuk-body">Add your application to the sandbox so you can test it.</p>

<p class="govuk-body">Once you add your application and subscribe it to the sandbox APIs you want to integrate with you can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>get its sandbox credentials</li>
<li>use its credentials for integration testing</li>
</ul>

<h2 class="govuk-heading-m">Terms of use</h2>
<p class="govuk-body">In production, your application will need to comply with the expectations set out in our
        <a href="/api-documentation/docs/terms-of-use">terms of use.</a>
</p>

<a href="addapplicationname" class="govuk-button" data-module="govuk-button">
Continue
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

