
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
        <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Manage API subcriptions
    </li>
    
        {% endblock %}

{% block content %}




  <form class="form" action="apisubcriptions" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Manage API subcriptions</h1>

<p class="govuk-body">
You must subscribe to an API so your application can access it. You’ll receive notifications about its lifecycle events, such as new version introductions and old version retirements.
</p>

<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Example API</h2>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
         Hello world
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        
        {% if checked('apiactive','yes')%}
         Subscriptions 1
        {% else %}
        Subscriptions 0
        {% endif %}
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">


    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" data-app-name=""><p class="govuk-body">
    <a href="">1.0(stable)</a>
    
    </p></div>
    <div class="govuk-grid-column-one-third"><p class="pull_right govuk-body">
      {% if checked('apiactive','yes')%}
         <strong class="govuk-tag">Active</strong>
         <button class="govuk-link govuk-!-font-size-19">Turn off</button>
      {% else %}
    <strong class="govuk-tag govuk-tag--grey">Inactive</strong>
    <button class="govuk-link govuk-!-font-size-19">Turn on</button>
    {% endif %}
    
  </p> </div>
  {% if checked('apiactive','yes')%}
      <div class="govuk-visually-hidden">
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apiactive" name="apiactive" type="radio" value="no" checked>
        <label class="govuk-label govuk-radios__label" for="apiactive">
          Yes
        </label>
      </div>
    </div>
  {% else %}
    <div class="govuk-visually-hidden">
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apiactive" name="apiactive" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="apiactive">
          Yes
        </label>
      </div>
    </div>
    {% endif %}
</div>

    </div>
  </div>
  </div>



      </div>
      </div>
    </div>
    </form>


{% endblock %}

