
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="mh-summary" method="post">
    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
      Add nominated point of contact
      </h1>
      <p class="govuk-body">If a care co-ordinator has been appointed under the Care Programme Approach you
should include their details here. Otherwise you should include details of an
Approved Mental Health Professional, or a mental health
nurse.</p>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading" id="whatrole">
        What is the point of contacts role?
      </label>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="role" name="role" type="radio" value="Care co-ordinator" {{ checked('role','Care co-ordinator')}}>
        <label class="govuk-label govuk-radios__label" for="role">
          Care co-ordinator
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="role-2" name="role" type="radio" value="Approved Mental Health Professional" {{ checked('role','Approved Mental Health Professional')}}>
        <label class="govuk-label govuk-radios__label" for="role-2">
          Approved Mental Health Professional
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="role-3" name="role" type="radio" value="Mental health nurse" {{ checked('role','Mental health nurse')}}>
        <label class="govuk-label govuk-radios__label" for="role-3">
          Mental health nurse
        </label>
      </div>
    </div>
  </fieldset>
</div>



     <div class="govuk-form-group">
  <label class="govuk-label" for="pocname">
  Full name
  </label>
  <input class="govuk-input" id="pocname" name="pocname" type="text" autocomplete="pocname" spellcheck="false" value="{{ pocname }}">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="telephonenumber">
    Telephone number (Optional)
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephonenumber" name="telephonenumber" type="tel" autocomplete="tel" value="{{ telephonenumber }}">
</div>

    <div class="govuk-form-group">
          <label class="govuk-label" for="mhEmail">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="mhEmail" name="mhEmail" type="email" spellcheck="false" value="{{mhEmail}}">
      
          <label class="govuk-label govuk-!-margin-top-2" for="mhEmail">
            Confirm email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="mhEmailconfirm" name="mhEmailconfirm" type="email" spellcheck="false" value="{{mhEmailconfirm}}">
        </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="mhHowContacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        How would the point of contact like to recieve confirmation the Breathing Space has started and ended?
      </label>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mhHowContacted-conditional" name="mhHowContacted" type="radio" value="Email" data-aria-controls="conditional-mhHowContacted-conditional" {{ checked('mhHowContacted','Email')}}>
        <label class="govuk-label govuk-radios__label" for="mhHowContacted-conditional">
          Email
        </label>
      </div>
    
      <div class="govuk-radios__item">
      {% if checked('pocAddress','yes')%} <input class="govuk-radios__input" id="mhHowContacted-conditional-2" name="mhHowContacted"  value="Post" type="radio"  data-aria-controls="conditional-mhHowContacted-conditional-2" {{ checked('mhHowContacted','Post')}}>
      {% else %}
      <input class="govuk-radios__input" id="mhHowContacted-conditional-2" name="mhHowContacted"  value="Post~mh-poc-address" type="radio"  data-aria-controls="conditional-mhHowContacted-conditional-2" {{ checked('mhHowContacted','Post')}}>
      {% endif %}
       
        <label class="govuk-label govuk-radios__label" for="mhHowContacted-conditional-2">
          Post
        </label>
      </div>

    </div>
  </fieldset>
</div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


{% endblock %}
