
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="address-choice" method="post">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         <span class="govuk-caption-xl">Create a breathing space account : Step 2 of 3</span>
       What is your client's address?
      </h1>

 <div class="govuk-form-group">

    <label class="govuk-label govuk-!-font-weight-bold" for="postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"  value="{{ postcode }}">
  </div>


<button class="govuk-button" data-module="govuk-button">
  Find address
</button>
<p class="govuk-body">Or</p>
<p class="govuk-body"><a href="not-testing">Enter address manually</a></p>
    </div>
    </form>
</div>

{% endblock %}
