
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="account-page-active" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       Confirm you are removing this debt
      </h1>

 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">     
     {% include "./_debtDetails.html" %} 

  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reason your removing the debt</h2>
<p class="govuk-body" >{{removeDebtDetail}}</p>  

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By removing this debt from Breathing Space, creditor protections will be removed.
  </strong>
</div>


    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="removedebt" type="radio" value="{{debttype}}" checked>
        <label class="govuk-label govuk-radios__label" for="removedebt">
         hidden radio
        </label>
      </div>
      </div>

         <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="debtremoved" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>



   {% include "./_confirmShowHiddenRadio.html" %} 

<button class="govuk-button" data-module="govuk-button">
  Remove debt
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}

