
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Confirm debt details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
    <div class="govuk-grid-column-full">
    {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 

<h1 class="govuk-heading-l">Confirm this is your debt</h1>
{% include  "../includes/creditor/_debt_details.html" %} 

{% from "govuk/components/radios/macro.njk" import govukRadios %}



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

       Is this your debt?
     
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confirm-debt-status" name="confirm-debt-status" type="radio" value="confirm-debt-detail~debt-detail-guard?reference={{creditorcase.reference}}">
        <label class="govuk-label govuk-radios__label" for="confirm-debt-status">
          Yes
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          If any of the debt details are incorrect you can update them later
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confirm-debt-status-4" name="confirm-debt-status" type="radio" value="we-cant-find-this-debt~why-cant-you-find-the-debt?reference={{creditorcase.reference}}">
        <label class="govuk-label govuk-radios__label" for="confirm-debt-status-4">
          Not sure, we can't match the client and the debt with the information provided
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="confirm-debt-status-3" name="confirm-debt-status" type="radio" value="weve-sold-the-debt~sold-debt-choose-creditor?reference={{creditorcase.reference}}">
        <label class="govuk-label govuk-radios__label" for="confirm-debt-status-3">
          No we have sold this debt
        </label>
      </div>
    </div>

  </fieldset>
</div>
      

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
    </div>
    </form>
</div>

{% endblock %}
