
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
<div class="govuk-grid-column-full">
  {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">
Confirmed reason you can't find this debt
      </h1>

{% include  "../includes/creditor/_debt_details.html" %} 

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Why can't you find debt?</h3>
<p>{{ data['cant-find-debt'] }}</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">More detail</h3>
<p>{{ data['cant-find-debt-more-detail'] }}</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Actioned by</h3>
<p class="govuk-body"> Paul Smith, {% include  "../includes/creditor/_creditor.html" %} , 24 January 2022 at 11.32am</p>
    
    </div>
    </form>
</div>



{% endblock %}
