
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}



{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl govuk-!-margin-top-9">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
<span class="govuk-caption-l">
Manage a statutory debt repayment plan
(SDRP) 

</span>
Guidance
      </h1>


<p class="govuk-body-l">This page provides links to guidance produced by, or relating to the Insolvency Service<p>  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
</div>
<div class="govuk-grid-column-two-thirds">  



<h2 class="govuk-body">Contents</h2>
<ul class="govuk-list govuk-body">
<li>– <a href="#objecting">Objecting to a plan</a></li>
<li>– <a href="#revoke">Revoking a plan</a></li>
<li>– <a href="#debtoreligibility">Debtor eligibility </a></li>
<li>– <a href="#sfs">SFS income and expenditure guidelines</a></li>
</ul>

<h2 class="govuk-heading-m" id="objecting">Qualifying debts</h2>
<p class="govuk-body">
askmascaspasv sd sdp sdp sd psdo sdp j
</p>

<h2 class="govuk-heading-m" id="revoke">Revoking a plan</h2>
<p class="govuk-body">
askmascaspasv sd sdp sdp sd psdo sdp j
</p>

<h2 class="govuk-heading-m" id="debtoreligibility">Debtor eligibility</h2>
<p class="govuk-body">
askmascaspasv sd sdp sdp sd psdo sdp j
</p>

<h2 class="govuk-heading-m" id="sfs">SFS income and expenditure guidelines</h2>
<p class="govuk-body">
askmascaspasv sd sdp sdp sd psdo sdp j
</p>


</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" >See all guidance on the Debt Respite Scheme(Breathing Space) on GOV.UK </a></p>
    </div>
</div>


{% endblock %}
