
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}



{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl govuk-!-margin-top-9">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
<span class="govuk-caption-l">
  Managing statutory debt repayment plans (SDRP)

</span>
Guidance for creditors and debt advisers managing SDRPs
      </h1>


<p class="govuk-body-l">This page provides guidance from the Insolvency Service for creditors and debt advisers<p>  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
</div>
<div class="govuk-grid-column-two-thirds">  
<h2 class="govuk-body">Contents</h2>
<ul class="govuk-list govuk-body">
<li>– <a href="#summary">Summary</a></li>
<li>– <a href="#debtoreligibility">Debtor eligibility </a></li>
<li>– <a href="#objecting">Objecting to a plan</a></li>
<li>– <a href="#revoke">Revoking a plan</a></li>
<li>– <a href="#sfs"> SFS income and expenditure tool </a></li>
</ul>

<h2 class="govuk-heading-m" id="summary">Summary</h2>
<p class="govuk-body">
  This guidance is for you if:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you are a creditor</li>
  <li>you are a money or debt adviser</li>
</ul>

<h2 class="govuk-heading-m" id="debtoreligibility">Debtor eligibility</h2>
<p class="govuk-body">
  For a person to be eligible to enter an SDRP, they must:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>owe a ‘qualifying’ debt to a creditor</li>
  <li>live in England and Wales or an ordinarily resident in England or Wales</li>
  <li>not be subject to a debt relief order</li>
  <li>not be subject to an interim order or IVA (individual voluntary arrangement)</li>
  <li>not be an undischarged bankrupt </li>
  <li>not be subject to another plan in relation to a joint debtor </li>
  <li>not be subject to another plan which was revoked or completed within 12 months of the date of the application</li>
</ul>

<h2 class="govuk-heading-m" id="objecting">Objecting to a plan</h2>
<p class="govuk-body">
  There are regulations restricting creditor objections to a proposed plan.</p>
  <p>
  If you want to object to a proposed plan you must do it within a 14-day statutory period.
</p>

<p class="govuk-body">
  The grounds for objecting include:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the plan is not in the creditor’s interest</li>
  <li>debts are missing from a plan</li>
  <li>a proposed payment schedule</li>
  <li>debtor eligibility</li>
  <li>the accuracy of a plan</li>
  <li>income and expenditure disputes</li>
</ul>

<h2 class="govuk-heading-m" id="revoke">Revoking a plan </h2>
<p class="govuk-body">
  Debt advice providers (DAPs) can revoke, or cancel, a plan under certain circumstances.
</p>
<p class="govuk-body">
  There are 2 types of revocation:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>mandatory</li>
  <li>discretionary</li>
</ul>

<p class="govuk-body">
  If a revocation has been submitted by a DAP and registered, creditors will receive notification from the Secretary of State.</p>
  <p>
  After a plan has been revoked, creditors can restart enforcement action to recover a debt.
  
</p>

<h2 class="govuk-heading-m" id="sfs">SFS income and expenditure tool </h2>
<p class="govuk-body">
  The Standard Financial Statement (SFS) is a universal income and expenditure statement, with a single set of spending guidelines.
</p>

<p class="govuk-body">
  It offers a tool to summarise a debtor’s income and outgoings, along with their debts. 
</p>

<p class="govuk-body">
  It is used mainly for people seeking debt advice.
</p>

<p class="govuk-body">
  It is also used by debt advice providers and other relevant organisations to assess what a person can repay.
</p>


</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" >See all guidance on the Debt Respite Scheme(Breathing Space) on GOV.UK </a></p>
    </div>
</div>


{% endblock %}
