
{% extends "../layout-sdrp.html" %}
{% set globalnav = "dept repayment plan" %}

{% block pageTitle %}
Debt repayment plan for Sarah Philips
{% endblock %}


{% block content %}
{% include  "../includes/creditor/_global-nav.html" %} 
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">



{% include  "../includes/creditor/_confirmation-messages.html" %} 
{% include  "../includes/creditor/_client_name_reference.html" %} 

<div class="govuk-grid-row"> 
<div class="govuk-grid-column-full">
{% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
<ul class="govuk-list stages">
<li>1. Draft plan</li>
<li><span class="govuk-!-margin-right-2">Current step:</span><br><strong> <span class='number'>2. </span>Proposed plan
</strong></li>
<li>4. Agreed plan</li>
</ul>
{% else %}
<ul class="govuk-list stages">
<li><span class="govuk-!-margin-right-2">Current step:</span><br><strong> <span class='number'>1. </span>Draft plan - Day 1</strong></li>
<li>2. Proposed plan
</li>
<li>3. Agreed plan</li>
</ul>
<p>The draft plan was sent {{ 'DD MMMM YYYY' | baseDateAdd(0) }}<br>
You have <strong>20 days</strong> to tell us the if any of the details are incorrect. After you will recieve a provisional plan or a cancelation notification </p>
{% endif %}
</div>
</div>
 <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" />

<p>Advice uk are helping your customer manage their money better, Advice uk have began the process of setting up a statutory debt repayment plan.</p>
<!-- <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>

    It's important that we have all the right information about the debt, you have till {{ 'DD MMMM YYYY' | baseDateAdd(21) }} tell us the if any of the details are incorrect.
  </strong>
</div> -->


{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-tabs" data-module="govuk-tabs">
 <ul class="govuk-tabs__list">

  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#tasks">
        Tasks
      </a>
    </li> 
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#debts">
        Debts
      </a>
    </li> 
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#clientDetails">
       Client details
      </a>
    </li>
     {% if data['budgetupdated'] and checked('adddebtcouncil','yes') or case.task %}
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#plan">
      {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
      Proposed plan
      {% else %}
       Draft plan
       {% endif%}
      </a>
    </li>
    {% else %}
    {% endif %}
      <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#maDetails">
      Money advice organisation details
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="tasks">
  <h2 class="govuk-heading-l">Tasks</h2>
   {% include  "../includes/creditor/_tasklist.html" %} 
  </div>
    <div class="govuk-tabs__panel" id="debts">
  <h2 class="govuk-heading-l">Debts</h2>
   {% include  "../includes/creditor/_debts.html" %} 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="clientDetails">
  <h2 class="govuk-heading-l">Client details</h2>
{% include  "../includes/creditor/_client_details.html" %} 

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="plan">
 {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
 <h2 class="govuk-heading-l">Proposed plan</h2>
 {% else %} 
<h2 class="govuk-heading-l">Draft plan</h2>
<p>This information won't be shared with creditors until you send the proposed plan.</p>
{% endif %}
{% include  "../includes/advisor/_plan-detail.html" %} 
  </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="maDetails">
  <h2 class="govuk-heading-l">Money advice organisation details</h2>
{% include  "../includes/creditor/_ma_details.html" %} 

  </div>
</div>




</form>

{% block page_scripts %}
<script>
</script>
{% endblock %}

{% endblock %}

