
{% extends "../layout-sdrp.html" %}
{% set globalnav = "dept repayment plan" %}

{% block pageTitle %}
Debt repayment plan for Sarah Philips
{% endblock %}


{% block content %}
{% include  "../includes/creditor/_global-nav.html" %} 
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">



{% include  "../includes/creditor/_confirmation-messages.html" %} 
{% include  "../includes/creditor/_client_name_reference.html" %} 

<div class="govuk-grid-row"> 
<div class="govuk-grid-column-full">
{% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
<ul class="govuk-list stages">
<li>1. Confirm debts plan</li>
<li><span class="govuk-!-margin-right-2">Current step:</span><br><strong> <span class='number'>2. </span>Review draft plan
</strong></li>
<li>4. Active plan</li>
</ul>
{% else %}
<ul class="govuk-list stages">
<li><span class="govuk-!-margin-right-2">Current step:</span><br><strong> <span class='number'>1. </span>Confirm debts - Day 1</strong></li>
<li>2. Review draft plan
</li>
<li>3. Active plan</li>
</ul>
<p>You have <strong>20 days</strong> to confirm if the debts below are yours.</p>
{% endif %}
</div>
</div>
 <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" />

<p>This debt repayment plan is being created by AdviceUK.</p>


{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-tabs" data-module="govuk-tabs">
 <ul class="govuk-tabs__list">

  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#tasks">
        Tasks
      </a>
    </li> 
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#debts">
        Debts
      </a>
    </li> 
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#clientDetails">
       Client details
      </a>
    </li>
     {% if data['budgetupdated'] and checked('adddebtcouncil','yes') or case.task %}
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#plan">
      {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
      Proposed plan
      {% else %}
       Draft plan
       {% endif%}
      </a>
    </li>
    {% else %}
    {% endif %}
      <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#maDetails">
      Money advice organisation details
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="tasks">
  <h2 class="govuk-heading-l">Tasks</h2>
    <p>Please review each debt listed below and confirm if:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>the debt is yours</li>
    <li>the debt details are correct</li>
    </ul>
   {% include  "../includes/creditor/_tasklist.html" %} 
  </div>
    <div class="govuk-tabs__panel" id="debts">
  <h2 class="govuk-heading-l">Debts</h2>
   {% include  "../includes/creditor/_debts.html" %} 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="clientDetails">
  <h2 class="govuk-heading-l">Client details</h2>
{% include  "../includes/creditor/_client_details.html" %} 

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="plan">
 {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
 <h2 class="govuk-heading-l">Proposed plan</h2>
 {% else %} 
<h2 class="govuk-heading-l">Draft plan</h2>
<p>This information won't be shared with creditors until you send the proposed plan.</p>
{% endif %}
{% include  "../includes/advisor/_plan-detail.html" %} 
  </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="maDetails">
  <h2 class="govuk-heading-l">Money advice organisation details</h2>
{% include  "../includes/creditor/_ma_details.html" %} 

  </div>
</div>




</form>

{% block page_scripts %}
<script>
</script>
{% endblock %}

{% endblock %}

