
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
<div class="govuk-grid-column-two-thirds">
  {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
        Confirm message to send to debt advisor
      </h1>
<h2 class="govuk-heading-l">Subject</h2>      
<p class="govuk-body">{{ data['subject-message']}}</p>
<h2 class="govuk-heading-l">Message</h2>

<p class="govuk-body">{{ data['message-to-ma-2']}}</p>

<div class="govuk-radios" style="display:none">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="task" type="radio" value="newMessage" checked>
    <label class="govuk-label govuk-radios__label" for="task">
     hidden radio
    </label>
  </div>
  </div>

    {% include "../includes/creditor/_urlredirect.html" %}
    {% include "../includes/_show-confirmation.html" %}
    <button class="govuk-button">Send message</button>

</div>

    </div>
    </form>






{% endblock %}
