
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
What type of creditor ar you testing with!
{% endblock %}


{% block content %}
  <form class="form" action="index" method="post">

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
     {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "creditorType",
  name: "creditorType",
  fieldset: {
    legend: {
      text: "What type of creditor ar you testing with?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Council",
      text: "Council",
      checked: checked("creditorType", "Council")
    },
    {
      value: "Govenment",
      text: "Govenment",
      checked: checked("creditorType", "Govenment")
    },
    {
      value: "Bank",
      text: "Bank",
      checked: checked("creditorType", "Bank")
    },
    {
      value: "Utility",
      text: "Utility",
      checked: checked("creditorType", "Utility")
    },
    {
      value: "Other creditor type",
      text: "Other creditor type",
      checked: checked("creditorType", "Other creditor type")
    }
  ]
}) }}

{{ govukRadios({
  idPrefix: "chooseScenario",
  name: "chooseScenario",
  fieldset: {
    legend: {
      text: "Choose scenario",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Scenario 1~confirm-debts?reference={{creditorcase.reference}}",
      text: "Scenario 1",
      checked: checked("chooseScenario", "Scenario 1")
    },
    {
      value: "Scenario 2~new-messages?reference={{creditorcase.reference}}",
      text: "Scenario 2",
      checked: checked("chooseScenario", "Scenario 2")
    },
    {
      value: "Scenario 3~draft-plans?reference={{creditorcase.reference}}",
      text: "Scenario 3",
      checked: checked("chooseScenario", "Scenario 3")
    }
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}
    </div>
</div>
{% endblock %}
