
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Confirm debt details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirm-cant-find-debt" method="post">
    <div class="govuk-grid-column-full">
    {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      </div>
      </div>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">We can't match the client or the debt</h1>

{% include  "../includes/creditor/_debt_details.html" %}  

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set nameHtml %}
{{ govukInput({
  id: "updated-name",
  name: "updated-name",
  type: "name",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "What is the correct spelling? (optional)"
  }
}) }}
{% endset -%}

{% set surnameHtml %}
{{ govukInput({
  id: "updated-surname",
  name: "updated-surname",
  type: "surnname",
  classes: "govuk-!-width-one-third",
  label: {
    text: "What is the correct surname? (optional)"
  }
}) }}
{% endset -%}

{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}


{{ govukCheckboxes({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Why can't you match the client or the debt?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that are relevant to you."
  },
  items: [
    {
      value: " Name not spelt correctly",
      text: " Name not spelt correctly",
      conditional: {
        html: nameHtml
      }
    },
    {
      value: "Different surname",
      text: "Different surname",
      conditional: {
        html: surnameHtml
      }
    },
    {
      value: "Different address",
      text: "Different address",
      conditional: {
        html: textHtml
      }
     },
    {
      value: "Wrong postcode",
      text: "Wrong postcode",
      conditional: {
        html: textHtml
       }
      },
    {
      value: "Wrong date of birth",
      text: "Wrong date of birth",
      conditional: {
        html: textHtml
      }
    },
    {
      value: "We have no record of this person or debt",
      text: "We have no record of this person or debt",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}


         <div class="govuk-checkboxes" style="display:none">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="" name="tasktodo" type="checkbox" value="completed~confirm-cant-find-debt?reference={{creditorcase.reference}}" checked>
        <label class="govuk-label govuk-checkboxes__label" for="completed">
         hidden checkbox
        </label>
      </div>
      </div>
      

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
    </div>
    </form>
</div>

{% endblock %}
