          {% if checked('debtType','debt1') %}
 <h2 class="govuk-heading-s">Debt: Loan</h2>         
 <ul class="govuk-list">
      <li>Creditor: Newscastle city council</li> 
      <li>Amount: £867<li>
      <li> Reference: NCC-HB-23417</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    {% if checked ('removedebt','debt1')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>
{% elif checked('debtType','debt2')  %}
<h2 class="govuk-heading-s">Debt: Credit Card</h2>
 <ul class="govuk-list">
      <li>Creditor:  Halifax (Credit cards only)</li> 
      <li>Amount: £2500<li>
      <li> Reference: RBC23455003</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
            {% if checked ('removedebt','debt2')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}

    </ul>
{% elif checked('debtType','debt3')  %}
<h2 class="govuk-heading-s">Debt: Rent arrears</h2>
 <ul class="govuk-list">
      <li>Creditor:  M Jones(landloard)</li> 
      <li>Amount: £1250<li>
      <li>Reference: Flat 4 Monmouth Rd</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
         {% if checked ('removedebt','debt3')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>

    {% elif checked('debtType','debt4')  %}
 <ul class="govuk-list">
 <h2 class="govuk-heading-s">Debt: Water</h2>
      <li>Creditor:  Yorkshire Water Services Ltd</li> 
      <li>Amount: £102<li>
      <li> Reference: 4949 9494 9449</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
         {% if checked ('removedebt','debt4')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>

    {% elif checked('debtType','debt5')  %}
 <h2 class="govuk-heading-s">Debt: Gas</h2>   
 <ul class="govuk-list">
  {% if checked('debtType','debt5') and  checked('dontown','yes')%}
      <li>Creditor: Akinika Debt Recovery Limited</li>
      <li>Old creditor: EDF Energy Ltd</li> 
      {% else %}
       <li>Creditor: EDF Energy Ltd</li> 
      {% endif %}
      <li>Amount: £489<li>
      <li> Reference:CRT8536544</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
         {% if checked ('removedebt','debt5')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>

    {% elif checked('debtType','debt6')  %}
 <h2 class="govuk-heading-s">Debt: Council tax</h2>   
 <ul class="govuk-list">
      <li>Creditor: Southwark Council</li> 
      <li>Amount: £1179<li>
      <li> Reference: LCC3456789</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
      {% if checked ('removedebt','debt6')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>

    {% elif checked('debtType','debt7')  %}
    <h2 class="govuk-heading-s">Debt: Self assessment</h2>
 <ul class="govuk-list">
      <li>Creditor: HMRC</li> 
      <li>National insurance number: JE 34 45 67 C</li>
      <li>Amount: £789<li>
      <li> Reference: KN23455</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    {% if checked ('removedebt','debt7')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>

        {% elif checked('debtType','proposed')  %}
    <h2 class="govuk-heading-s">Debt: Overdraft</h2>
 <ul class="govuk-list">
      <li>Creditor: Barclays Bank Plc</li> 
      <li>Amount: £789<li>
      <li>Reference: BAR3456789</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
    {% if checked ('removedebt','proposed')%}
      <li> Debt was removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      {% endif %}
    </ul>


{% endif %}
   