
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form class="form" action="account-page" method="post">
     <div class="govuk-grid-column-full">
         <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
     </div> 
     </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       Confirm you're reporting this creditor
      </h1>
                  {% include "./_debtDetails.html" %} 

       <h2 class="govuk-heading-s">What happens when you report a creditor</h2>
<p class="govuk-body">The Insolvency Service will send a notification to the creditor by email or letter, reminding them of their obligations and its the law to do so.</p>
       
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     You are confirming you've contacted the creditor and asked them to comply to their obligations and you want to report creditor to the Insolvency service.
  </strong>
</div>

           <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="nonComplianceReported" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>

                 <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debtStatus" type="radio" value="nonComplianceReported~account-page?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>

    
{% include "./_confirmShowHiddenRadio.html" %}


<button class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>
    </div>

    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">See guidance about reporting a creditor on GOV.UK (opens in new tab)</a></p>
    <p><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">See an example report a creditor notification on GOV.UK (opens in new tab)</a></p>
    </div>
    </form>
</div>    
    </form>
</div>

{% endblock %}
