.card {

    margin-bottom:30px;
    border:1px solid $govuk-border-colour;

    .govuk-button--secondary{
        margin-bottom:0px;
        background: #fff;
        color: #10813e;
        border: 2px solid #10813e;
        box-shadow:none;

    }

    .inner{
        padding:1.2em;
    }

    h2{
        background:govuk-colour("light-grey");
        padding:1em;
        margin-bottom:0;
    }
}