.gem-c-search {
    position: relative;
    margin-bottom: 30px;
}


/* line 18, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
.js-enabled .gem-c-search__label {
    position: absolute;
    left: 15px;
    top: 1px;
    z-index: 1;
    color: #626a6e;
  }
  
  /* line 28, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .js-enabled .gem-c-search--separate-label .gem-c-search__label {
    color: #0b0c0c;
  }
  
  /* line 33, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__input[type="search"] {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4736842105;
    padding: 6px;
    margin: 0;
    width: 100%;
    height: 40px;
    border: 2px solid #0b0c0c;
    background: #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  @media print {
    /* line 33, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search__input[type="search"] {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    /* line 33, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search__input[type="search"] {
      font-size: 19px;
      line-height: 1.4736842105;
    }
  }
  
  @media print {
    /* line 33, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search__input[type="search"] {
      font-size: 14pt;
      line-height: 1.4736842105;
    }
  }
  
  /* line 49, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__input[type="search"]:focus, .gem-c-search__input[type="search"].focus {
    z-index: 2;
  }
  
  /* line 54, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__input[type="search"]:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
  
  /* line 70, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: -5000px;
    overflow: hidden;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 70, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search__submit {
      background-size: 52.5px auto;
      background-position: 115% 50%;
    }
  }
  
  /* line 89, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__submit:focus {
    z-index: 2;
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c;
  }
  
  /* line 106, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__submit::-moz-focus-inner {
    border: 0;
  }
  
  /* line 111, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__item-wrapper {
    display: table;
    width: 100%;
    background: #ffffff;
  }
  
  /* line 118, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__item {
    position: relative;
    display: table-cell;
    vertical-align: top;
  }
  
  /* line 124, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search__submit-wrapper {
    width: 1%;
  }
  
  /* line 129, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-govuk-blue .gem-c-search__label {
    color: #ffffff;
  }
  
  /* line 133, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-govuk-blue .gem-c-search__input {
    border-width: 0;
  }
  
  /* line 138, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-govuk-blue .gem-c-search__input:focus {
    box-shadow: none;
  }
  
  /* line 143, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-govuk-blue .gem-c-search__submit {
    background-color: #0b0c0c;
    color: #ffffff;
  }
  
  /* line 147, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-govuk-blue .gem-c-search__submit:hover {
    background-color: #171919;
  }
  
  /* line 153, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label {
    color: #626a6e;
  }
  
  /* line 161, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-white .gem-c-search__submit {
    background-color: #1d70b8;
    color: #ffffff;
  }
  
  /* line 165, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-white .gem-c-search__submit:hover {
    background-color: #207dce;
  }
  
  /* line 170, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-white .gem-c-search__input[type="search"] {
    border-right-width: 0;
  }
  
  /* line 174, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--on-white .gem-c-search__input[type="search"]:focus {
    border-right-width: 2px;
  }
  
  /* line 181, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--large .gem-c-search__label {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 3.125;
  }
  
  @media print {
    /* line 181, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search--large .gem-c-search__label {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    /* line 181, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search--large .gem-c-search__label {
      font-size: 19px;
      line-height: 2.6315789474;
    }
  }
  
  @media print {
    /* line 181, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search--large .gem-c-search__label {
      font-size: 14pt;
      line-height: 50px;
    }
  }
  
  /* line 185, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--large .gem-c-search__input[type="search"] {
    height: 50px;
  }
  
  /* line 189, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--large .gem-c-search__submit {
    width: 50px;
    height: 50px;
    background-position: 8px 50%;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 189, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
    .gem-c-search--large .gem-c-search__submit {
      background-size: 60px auto;
      background-position: 160% 50%;
    }
  }
  
  /* line 202, ../../shared/bundle/ruby/2.6.0/gems/govuk_publishing_components-21.20.0/app/assets/stylesheets/govuk_publishing_components/components/_search.scss */
  .gem-c-search--separate-label .gem-c-search__label {
    position: relative;
    left: auto;
  }