
    nav.secondary
    {
      border-bottom:1px solid $govuk-border-colour;

      margin-top:-50px; //dirty hack for prototype only

      .navbar .navbar__list-items {
        padding: 0;
        margin:0 0px;
      
        li {
          display: inline-block;
          margin-bottom: 0;

          p {
            margin-bottom:0px;
            font-size:1em;
            line-height:1em;
            padding:0 7px 0 5px;
           
          }

          a {
            color: $govuk-link-colour ;
            font-size:1.05em;
            display: inline-block;
            padding: 15px 10px 10px 10px;
            margin-bottom: -1px;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            &:hover {
              color: #0B0C0C;
              border-bottom: 3px solid #0B0C0C;
            }
            &:focus {
              outline: 0;
            }
          }
          &.active a,
          &.active a:hover {
          color: #0B0C0C;
          border-bottom: 3px solid #0B0C0C;
          font-weight: bold;
          }
        }

        &.signin{
          float:right;
        }
        
        @media screen and (max-width: 768px) { 
          width:100%;
          margin:0;


          li{
            width:100%;
            padding:5px 0;
           
            p {
              border:none;
              padding:0;
            }
            &.active a{
              border-bottom:none;
              border-left:3px solid govuk-colour("black");
              padding-left:10px;
              margin-left: -15px;
            }

            a{
              display:block;
              padding:0;
              margin-right:0;
            }
          }
          
         }

      }

      @media screen and (max-width: 768px) { 
        margin-top:-30px;
        padding:10px 0;
       


        & .signin  {
          border-bottom:1px solid $govuk-border-colour;
          display:block;
          margin-bottom:10px !important;
        }
      }
 
    }