
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation" method="post">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
           <span class="govuk-caption-xl">Breathing space account for</span>
     {% if data['fullname']%} {{fullname}} {% else %} Roberto Henderson {% endif %}
      </h1>
<style>

    .govuk-heading-xl
    {
      position:relative;
    }
   .dayindicator {
     text-align:center;
     position:absolute;
     right:0px;
     padding:15px 20px;
     font-size:25px;
     background:#1d70b8;
     color:#fff;
     top:0px;
   }

      .dayindicator span {
     font-size:20px;
     display:block;
     padding:10px 0 0 0;


   }
</style>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#problem-debt">
      Debts
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#personal-details">
        Personal details
      </a>
    </li>

  </ul>
  <section class="govuk-tabs__panel" id="problem-debt">


  <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">All debts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Organisation</th>
      <th scope="col" class="govuk-table__header">Amount</th>
       <th scope="col" class="govuk-table__header">Reference</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Credit card</th>
      <td class="govuk-table__cell">Barclaycard</td>
      <td class="govuk-table__cell">£3600</td>
       <td class="govuk-table__cell">BCA1297654</td>
      <td class="govuk-table__cell">{% if checked('add-dept','Credit card') %}BS Debt{% endif %}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Loan</th>
      <td class="govuk-table__cell">Halifax</td>
      <td class="govuk-table__cell">£5678</td>
       <td class="govuk-table__cell">490944949449</td>
       <td class="govuk-table__cell">{% if checked('add-dept','Loans') %}BS Debt {% endif %}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Council tax</th>
      <td class="govuk-table__cell">Leeds city council</td>
      <td class="govuk-table__cell">£389</td>
       <td class="govuk-table__cell">37 Brier Lane</td>
       <td class="govuk-table__cell">{% if checked('add-dept','Council tax') %} BS Debt{% endif %}</td>
    </tr>
  </tbody>
</table>
   
 <a href="add-debts" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add debts to breathing space
</a>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details">
    <h2 class="govuk-heading-l">Personal details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{fullname}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#fullname">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ dobday }} {{ dobmonth}} {{ dobyear }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#dobday">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['sort']=='two'%} 2 {% elif data['sort']=='three' %} 3 {% else %} 4 {% endif %} Monmouth drive<br>London<br>{{postcode}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address#postcode">
                Change<span class="govuk-visually-hidden"> Address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{phone}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact-preferences#phone">
                Change<span class="govuk-visually-hidden"> Phone number</span>
              </a>
            </dd>
          </div>
                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{email}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact-preferences#email">
                Change<span class="govuk-visually-hidden"> Email address</span>
              </a>
            </dd>
          </div>
        </dl>


  </section>


</div>








 



<button class="govuk-button" data-module="govuk-button">
  Submit application
</button>
    </div>
    </form>
</div>

{% endblock %}
