
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <form class="form" action="confirmation" method="post">
      <section class="key_details">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
           <h1 class="govuk-heading-l">
           <span class="govuk-caption-l"><strong class="govuk-tag govuk-phase-banner__content__tag">
      active
    </strong>Breathing space account for</span>
Roberto Henderson
      </h1>
      </div>
      <div class="govuk-grid-column-one-third">
            <p class="header_highlight_info"><span><span>Day 1</span> of <span>60</span></span>End date 8 May 2020</p>
      </div>
      <div class="govuk-grid-column-full">
      <ul>
        <li>
        <p>Date of birth: <span>28 February 1987</span></p>
        </li>
        <li>
        <p>Address: <span>2 Bourough road, Elephant and castle, London, SE1 0AA </span></p>
        </li>
      </ul>
      </div>
      </div>
</section>
 <div class="govuk-grid-row">
<div class="govuk-grid-column-full">


{% if data['review'] or data['adddebt'] or data['identify']%}
<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><!--You have asked -->Inform the money adviser</h2>
<div class="govuk-details__text govuk-!-margin-bottom-5">
{% if  checked('review', 'debt') %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">We have requested a review of debt eligibility</h3>
<p>{{ debtReview }}</p>
<p>More Detail:<br>{{ moreDetail }}</p>
{% endif %}

{% if  checked('review', 'client') %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">We have requested a review of client eligibility</h3>
<p>{{ clientReview }}</p>
<p><p>More Detail:<br>{{ moreDetailClient }}</p>
{% endif %}
{% if  checked('identify', 'debt') %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">We cant identify the debt</h3>
{% endif %}

{% if  checked('identify', 'client') %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">We cant identify the client</h3>
{% endif %}

{% if data['adddebt'] %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">We have identified 1 new debt to add to Breathing Space</h3>
{% endif %}
</div>

{% endif%}
<p class="govuk-body ">A Stepchange money adviser has added the following debt to Breathing Space</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Money adviser details
    </span>
  </summary>
  <div class="govuk-details__text">
   
    <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Organisation
            </dt>
            <dd class="govuk-summary-list__value">
            Stepchange
            </dd>
          </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Adviser
            </dt>
            <dd class="govuk-summary-list__value">
            Paul Smith
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
            078345 677 889
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Email
            </dt>
            <dd class="govuk-summary-list__value">
           paulsmith3@stepchange.org.uk
            </dd>
        </div>
  
      


   
    </dl>
  </div>
</details>


<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Debt</h2>

<hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">

    {% if data['addDebt']%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            {% if checked('addDebt', 'other') %}
             {{ otherdebt }}
            {% else %}
             {{ addDebt }}
            {% endif%}
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £{{ addamount }}<br> Reference:{{ addreference }}
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-debt">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>

          </div>

{% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Overpaid housing benefit
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £678<br> Reference: MN1234HJJKLL
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>

     </dl>   


<a href="add-debt" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Add another debt to the list
</a>
<a href="review" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Request eligibility review
</a>
<!-- <a href="identify" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  I can't identify the client or the debt
</a> -->

<p class="govuk-body">
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</p>
    </div>
    </form>
</div>


{% endblock %}
