<nav id="nav"  class="secondary ">
  <div class="navbar">
    <ul class="navbar__list-items">
         {% if globalnav  == 'home' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <form class="govuk-!-display-inline" action="index" method="post">
<button  class="govuk-body govuk-link">Home</button> 
{% include  "../_hide-confirmation.html" %} 
</form>
      </li>

         {% if globalnav  == 'taskstodo' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <form class="govuk-!-display-inline" action="tasks-to-do" method="post">
<button  class="govuk-body govuk-link">Tasks to do</button> 
{% include  "../_hide-confirmation.html" %} 
</form>
      </li>


      {% if globalnav  == 'new-messages' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <form class="govuk-!-display-inline" action="new-messages" method="post">
<button  class="govuk-body govuk-link">New messages</button> 
{% include  "../_hide-confirmation.html" %} 
</form>
      </li>

          {% if globalnav  == 'search' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
               <form class="govuk-!-display-inline" action="not-testing" method="post">
<button  class="govuk-body govuk-link">Search</button> 
{% include  "../_hide-confirmation.html" %} 
</form>
      </li>
    </ul>
         <ul class="navbar__list-items signin">
        <li>
            <p>Paul Smith</p>
      </li>
        <li>
         <a href="orgchoice">{% include "../creditor/_creditor.html" %}</a>
      </li>
  
    
    </ul>
  </div>
</nav>