   <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Organisation
            </dt>
            <dd class="govuk-summary-list__value">
            {% include "creditor-mvp/_advise-org-name.html" %}
            </dd>
          </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Adviser
            </dt>
            <dd class="govuk-summary-list__value">
            Paul Smith
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
            078345 677 889
            </dd>
        </div>


        <div class="govuk-summary-list__row last">
            <dt class="govuk-summary-list__key">
            Email
            </dt>
            <dd class="govuk-summary-list__value">
           paulsmith3@{% include "creditor-mvp/_advise-org-name.html" %}.org.uk
            </dd>
        </div>
  
      


   
    </dl>