 <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
 <h1 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-3">
     {{ case.name | default('Sarah Philips')}}
  <span class="govuk-caption-m">Reference: SDRP823471</span>
 </h1>
 </div>
  <div class="govuk-grid-column-one-third">
  </div>
  </div>
  {% if case.status %}  
 <hr class="govuk-section-break govuk-!-margin-top-2 govuk-!-margin-bottom-3  govuk-section-break--visible" />
<p class="govuk-!-margin-bottom-3">This intended plan was submitted on  
    <strong>  
     {% if case.status == 'Draft plan'  or case.status == 'Creditor objection'%}{{ 'Do MMMM YYYY' | baseDateAdd(-21) }}
     {% elif case.status == 'Confirmed plan' %}
     {{ 'Do MMMM YYYY' | baseDateAdd(-42) }}
     {% else %}
     {{ 'Do MMMM YYYY' | baseDateAdd(-7) }} 
     {% endif %},</strong>

    {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') or case.task =='Creditor objects to plan' %}
14 days until the plan can start
    {% elif case.task =='Draft plans nearing deadline' %}
  you have <strong>7 days</strong> to send the plan to creditors
  {% elif case.task =='Review confirmed plan' %}
     the plan was confirmed on <strong>{{ 'Do MMMM YYYY' | baseDateAdd(-1) }}</strong>
    {% elif case.task %}
    it's <strong>14 days</strong> before you can send the draft plan
    {% else%}
    {% endif %}
</p>
{% else %}
{% endif %}
 <hr class="govuk-section-break govuk-!-margin-top-2 govuk-!-margin-bottom-3  govuk-section-break--visible" />