{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirm-details" method="post">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="parv-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
       Does your client have a business with debts that are eligible for Breathing Space?
      </h1>
    </legend>
    <!-- <span id="parv-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment.
    </span> -->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="parv" name="parv" type="radio" value="yes~/advisor-v5/add-business" aria-describedby="parv-item-hint" {{checked('parv', 'yes') }}>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="parv">
         Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="parv-2" name="parv" type="radio" value="no" aria-describedby="parv-2-item-hint" {{checked('parv', 'no') }}>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="parv-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>





<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
