
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirm-details" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
     <span class="govuk-caption-xl">Add client details: Step 3 of 3</span>
       Business
      </h1>

      

 <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            {{ businessName }}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if checked('businessAddress','currentAddress')%}
             	{% if data['sort']=='two'%} 2  Borough Road <br>Elephant and Castle<br>London<br>{{postcode | default("NW10 8LL") }}{% elif data['sort']=='three' %} 3 Borough Road <br>Elephant and Castle<br>London<br>{{postcode | default("NW10 8LL") }}{% elif data['sort']=='four' %} 4 Borough Road <br>Elephant and Castle<br>London<br> {{postcode | default("NW10 8LL")}} 
              {% else %}  
              {{addressline1 | default("4 Bourough road") }}<br>
              {{addresstown | default("London")}}<br>
              {{addresspostcode | default("NW10 2JU")}}
              {% endif %}
               
               {% elif checked('businessAddress','previousAddress')%}
                 {% if checked('prevAddress', 'manual')%}
             <span class="govuk-!-display-block">{{prevaddressline1}}</span>
             <span class="govuk-!-display-block">{{prevaddressline2}}</span>
              <span class="govuk-!-display-block">{{prevaddresstown}}</span>
              <span class="govuk-!-display-block">{{prevaddresscounty}}</span>
              <span class="govuk-!-display-block">{{prevaddresspostcode}}</span>  
                {% elif checked('prevAddress', 'pclookup')%} 
                {% if data['sortPrev']=='two'%} 2  Treasant close <br>Elephant and Castle<br>London<br>{{postcodePrevious}}{% elif data['sortPrev']=='three' %} 3 Treasant close <br>Elephant and Castle<br>London<br>{{postcodePrevious}}{% elif data['sortPrev']=='four' %} 4 Treasant close <br>Elephant and Castle<br>London<br> {{postcodePrevious}} </p>{% endif %}
                {% endif %}

               {% else %}

             	{% if data['businesssort']=='two'%} 27 Turner Grove <br>Elephant and Castle<br>London<br>{{postcodeBusiness}}{% elif data['businesssort']=='three' %}29 Turner Grove <br>Elephant and Castle<br>London<br>{{postcodeBusiness}}{% elif data['businesssort']=='four' %} 31 Turner Grove <br>Elephant and Castle<br>London<br> {{postcodeBusiness}} 
              {% else %}  
              <span class="govuk-!-display-block">{{businessaddressline1 | default("4 Bourough road") }}</span>
              <span class="govuk-!-display-block">{{businessaddressline2 | default("4 Bourough road") }}</span>
              <span class="govuk-!-display-block">{{businessaddresstown | default("London")}}</span>
              <span class="govuk-!-display-block">{{businessaddresscounty | default("London")}}</span>
              <span class="govuk-!-display-block">{{businessaddresspostcode | default("NW10 2JU")}} </span>   
              {% endif %}
            {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                 <ul class="govuk-list">
              <li> <a class="govuk-link govuk-!-font-size-19" href="add-business">
                Change<span class="govuk-visually-hidden"> Business name and address</span>
              </a></li>
              <li><a class="govuk-link govuk-!-font-size-19" href="not-testing">
                Delete<span class="govuk-visually-hidden">Business name and Address</span>
              </a></li>
              </ul>
            
            </dd>
          </div>
        </dl>

      <h2 class="govuk-heading-m">Add details of your client's business or businesses</h2>
<p>If your client has thier own business and it's has debts that should be covered in Breathing Space, please add the business details</p>

 <p><a href="add-business" class="govuk-button govuk-button--secondary">Add business details</a></p>

<p>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</p>

    </div>
    </form>
</div>

{% endblock %}
