
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    
        <div class="govuk-panel govuk-panel--confirmation">
      
          <h1 class="govuk-panel__title">
          Confirmation
          </h1>
        
          <div class="govuk-panel__body">

               {% if  checked('review', 'client') %}
           You have requested a review of client eligibility
         {% endif %}
             {% if  checked('review', 'debt') %}
          You have requested a review of debt eligibility
          {% endif %}
          </div>
    
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
           <p class="govuk-body">
          The money adviser will be notified that   
        {% if  checked('review', 'client') %}you have requested a review of client eligibility{% endif %}
        {% if  checked('review', 'debt') %}you have requested a review of debt eligibility{% endif %}
        </p>
        <p class="govuk-body">
        <a href="index">Return to client landing page</a>
        </p>

 <p><a href="/advisor-mvp/time-machine-review-requested" class="timemachine-link">On to next scenario</a></p>
      </div>
  
</div>

{% endblock %}
