{%if customer.status =='review-accepted'%}
<h2 class="govuk-heading-m govuk-!-margin-bottom-3">
Removed debts</h2>
<p>
The following debts have been removed from Breathing Space and the protections can be removed
</p>
{% else %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-3">
Debts owed to   {% include "./_creditor.html" %}  added to Breathing Space</h2>
<p>
The debt type, amount and reference are for your matching purposes, so you can apply the Breathing Space protections,  the accuracy doesn’t effect the debt eligibility.
</p>
{% endif %}

   
   <hr class="govuk-section-break govuk-section-break--visible">
   <dl class="govuk-summary-list govuk-!-margin-bottom-0">

           {% if checked('adddebt','yes') %}
              <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
   
             {{ typeOfDebt }}

                   {% if data['adddebt']%}
            <p class="govuk-!-margin-bottom-1"><a href="add-debt-details"> Action requested</a><br>
                   <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1">Pending</strong>
              {% endif %}   
      
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £<strong>{{ addamount }}</strong><br> Reference: <strong>{{ addreference }}</strong>
            </dd>

            <dd class="govuk-summary-list__actions">
            
            </dd>
          </div>

          {% endif %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                  {%if checked('creditortype','financial')%} 
                 Loan
                {% else %}
                Housing benefit 
                {% endif %}
                <p class="govuk-body-s govuk-!-margin-top-1">Status:<br> {% include "./_status-playback.html" %} </p>
            </dt>
            <dd class="govuk-summary-list__value">
             {% include "./_debt-amount-ref.html" %}
            </dd>
            <dd class="govuk-summary-list__actions">
             {% if customer.status == 'review'%}
                 <a class="govuk-link" href="review-debt-details?reference={{customer.reference}}">View review details</a>
              <p>We have requested Advice uk to review debt eligibility</p>
             {% elif customer.status == 'review-accepted'%}
                 <a class="govuk-link" href="review-debt-details?reference={{customer.reference}}">View review details</a>
             {% else%}
                  <a class="govuk-link" href="protections-apply?reference={{customer.reference}}">Update status</a>
             {% endif %}     
            </dd>
            </div>
     </dl>   