  <div class="govuk-summary-list__row" data-position="{{ customer.startdate }}">
    <dt class="govuk-summary-list__key">
      {%if checked('creditortype','financial')%} 
                 Loan
                {% else %}
                Housing benefit 
                {% endif %}
      <p class="govuk-body-s govuk-!-margin-top-1">Status:<br>
     {% if customer.status == 'applied' %}
      Protections applied
    {% elif customer.status == 'new'%}
      New debt added
    {% elif customer.status == 'review'%}
      Review requested
    {% elif customer.status == 'review-rejected'%}
      Review completed - debt remains
    {% elif customer.status == 'review-accepted'%}
      Review completed - debt removed
    {% endif%}

      </p>
      {% if customer.todo == 'Yes'%}
    <strong class="govuk-tag govuk-tag--grey">To do</strong>
{% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
     <p class="govuk-body">
Name: <strong>{{ customer.name}}</strong><br>Reference: <strong>{{customer.reference}}</strong></p>
<p class="govuk-body-s">Started: {{ customer.startdate }}<br>
Ends: {{ customer.enddate }}
</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="account-landing-tabs?reference={{customer.reference}}">
        View account <span class="govuk-visually-hidden"> contact information</span>
    </a>
</dd>
  </div>