
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="test" method="post">
    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
 Confirm protections are applied and update status
      </h1>
      </div>
       <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Debt</h3>
   <hr class="govuk-section-break govuk-section-break--visible">

{% include path+"./_debt-info.html" %}

      

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Update the debt status
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus" name="debtStatus" type="radio" value="applied~./protections-confirm?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus">
          Protections applied
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus-2" name="debtStatus" type="radio" value="review~./review-debt?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus-2">
          Protections applied but the debts not eligible request a review
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus-3" name="debtStatus" type="radio" value="dontOwn">
        <label class="govuk-label govuk-radios__label" for="debtStatus-3">
          We don't own this debt anymore
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Confirm and submit
</button>
    </div>
    </form>
</div>

{% endblock %}
