
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
     {% include "./_address-hidden.html" %} 
             	<p>{% if data['sort']=='two'%} 2  Borough Road <br>Elephant and Castle<br>London<br>{{postcode}}{% elif data['sort']=='three' %} 3 Borough Road <br>Elephant and Castle<br>London<br>{{postcode}}{% elif data['sort']=='four' %} 4 Borough Road <br>Elephant and Castle<br>London<br> {{postcode}} 
              {% else %}  
              <span class="govuk-!-display-block">{{addressline1 | default("4 Bourough road") }}</span>
              <span class="govuk-!-display-block">{{addresstown | default("London")}}</span>
              <span class="govuk-!-display-block">{{addresspostcode | default("NW10 2JU")}} </span>   
              {% endif %}</p>
           
            </dd>
            <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
            <li><a class="govuk-link govuk-!-font-size-19" href="not-testing">
                Change<span class="govuk-visually-hidden"> Address</span>
              </a></li>
            <li>
              <a class="govuk-link govuk-!-font-size-19" href="parv">
        {% if checked('parv','yes')%}
        Update address hidden
       {% else %} Hide address  {% endif %}<span class="govuk-visually-hidden"> from creditors</span>
      
              </a>
            </li>  
            <ul>
            </dd>
          </div>
         