<nav id="nav"  class="secondary">
  <div class="navbar govuk-width-container govuk-!-margin-bottom-5">
     <ul class="navbar__list-items signin">
            <li>
        <p> Advice Uk</p>
      </li>
        <li>
        <p>Paul Smith</p>
      </li>
      <li>
        <a href="#">Sign out</a>
      </li>
    
    </ul>
    <ul class="navbar__list-items">
      <li>
        <a href="index">Home</a>
      </li>
       <li>
        <a href="not-testing">Create Breathing Space</a>
      </li>
      <li>
        <a href="not-testing">Search for client</a>
      </li>
    </ul>
  </div>
</nav>