
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-list-tabs-search" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Confirm you are removing the debt from Breathing Space
      </h1>
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: {% include path+"advisor-mvp/_review_creditor.html" %}<br>Amount: £2500<br> Reference: RBC23455003
            </dd>
            <dd class="govuk-summary-list__actions">
       
            </dd>
          </div>
  </dl>  
  </div>
   <div class="govuk-grid-column-three-quarters">




      
                    
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Review details</h2>
                    <p class="govuk-body-l">We will inform {% include path+"advisor-mvp/_review_creditor.html" %} that the debt will be removed from Breathing Space</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More Detail</h3>
                    <p class="govuk-body">{{ eligibilityNo | default("The clients business has a turn over above the VAT threshold therefore this debt is not eligible for Breathing Space") }}</p>
                    
        
          


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By removing this debt from Breathing Space, creditor protections will be removed.
  </strong>
</div>


     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmation" type="radio" value="debtreview" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>

    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debtreview" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="debtreview">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Confirm and remove
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}
