
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation" method="post">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
        Declaration
      </h1>

       <p class="govuk-body">By submitting this application, you agree that:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>you‘ve seen evidence from a mental health professional that <strong>{{firstname | default("Joe") }} {{lastname | default("Black") }}</strong> is receiving mental health crisis treatment</li>
          <li>you've carried out a credit check on <strong>{{firstname | default("Joe") }} {{lastname | default("Black") }}</strong> with a credit reference agency</li>
          <li>the information you've provided is complete and correct to the best of your knowledge</li>
          <li>your client meets the required conditions and eligibility criteria</li>
          <li>you’ll confirm <strong>{{firstname | default("Joe") }} {{lastname | default("Black") }}</strong> is continuing to receive mental health crisis treatment every 30 days while they are in a mental health crisis moratorium</li>
        </ul>



<button class="govuk-button" data-module="govuk-button">
  Agree and submit to Breathing Space.
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
