
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="index" method="post">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Private Beta - MVP</span>
       Money adviser choose scenario
      </h1>
<h2 class="govuk-heading-l">Breathing space choice page</h2> 
<p><a href="bs-type-choice">Start scenario</a></p>

<h2 class="govuk-heading-l">Client page</h2>  
<p><a href="debt-list-tabs-search">Start scenario</a></p>

    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditorfour'
      var name ='creditorfour'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
