<dl>

  {% if checked('task','newDebtAdded')%}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Credit card</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
          <li>Creditor: {{ newcreditor }}</li>
          <li>Amount: £{{ newDebtAmount | default("3567") }}</li>
          <li></li>
          <li>Reference:{{ newDebtReference | default("123456789101") }}</li>
          <li></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>
  {% endif %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Housing benefit</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
          <li>Creditor: Newcastle city council</li>
          <li>Amount: £867</li>
          <li></li>
          <li>Reference: NCC-HB-23417</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Credit card</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
      <li>Creditor: Halifax credit cards only</li> 
      <li>Amount: 
         {% if data['updateDebtType'] or checked('task','debtUpdated') and case.task =='Creditor has raised discrepancies' %}
         £5854
         {% else %}
         £5400
         {% endif %}</li><li>
      </li><li> Reference: HAL345TH456</li>
   </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Water</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 <ul class="govuk-list">
      <li>Creditor: Yorkshire Water Services Ltd</li> 
      <li>Amount: £102</li><li>
      </li><li> Reference: 4949 9494 9449</li>
</ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Gas</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <ul class="govuk-list">
      <li>Creditor: EDF Energy Ltd</li> 
      <li>Amount: £389</li><li>
      </li><li> Reference: CRT8536544</li>
</ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">{{ updateDebtType | default("Debt") }}</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li>Creditor: Southwark Council</li> 
      <li>Amount: £ {{ updateDebtAmount | default("1179") }}</li><li>
      </li><li> Reference: {{ updateDebtReference | default("SC3456789") }}</li>
  </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Rent Arrears</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
   <ul class="govuk-list">
      <li>Creditor:  M Jones(landlord)</li> 
      <li>Amount: £1250</li><li>
      </li><li> Reference: Flat 4 Monmouth Rd</li>
</ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>


   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
 <dt>
    <h2 class="govuk-heading-s">
      <span class="govuk-!-display-block">Self assessment paye</span>
    </h2>
  </dt>
  <dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
   <ul class="govuk-list">
      <li>Creditor: HMRC</li> 
      <li>Amount: £789</li><li>
      <li>National insurance number: GH 34 34 34 D</li>
      </li><li> Reference: KN23455</li>
  </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <form class="form" action="change-debt1" method="post">
              <button class="govuk-body govuk-link">Update debt details</button>
            </form>
          </li>
          <li>
            <form class="form" action="remove-debt" method="post">
              <button class="govuk-body govuk-link">Delete this debt</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </dd>

</dl>
