<nav id="nav"  class="secondary ">
  <div class="navbar">
    <ul class="navbar__list-items">
         {% if globalnav  == 'home' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <a href="index">Home</a>
      </li>
   <!--   {% if globalnav  == 'breathing space' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <a href="/advisor-latest/index">Breathing Space</a>
      </li>

      {% if globalnav  == 'dept repayment plan' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <a href="index">Debt repayment plans</a>
      </li> -->
          {% if globalnav  == 'search' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <a href="search">Search</a>
      </li>
    </ul>
         <ul class="navbar__list-items signin">
        <li>
            <p>Paul Smith</p>
      </li>
        <li>
         <a href="orgchoice">{{ orgchoice | default('Advice uk')}}</a>
      </li>
  
    
    </ul>
  </div>
</nav>