<nav id="nav">
  <div class="navbar govuk-width-container">
     <ul class="navbar__list-items signin">
        <li>
        <p>Roberto Henderson</p>
      </li>
      <li>
        <a href="#">Log out</a>
      </li>
    
    </ul>
    <ul class="navbar__list-items">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="details">Create a Breathing Space</a>
      </li>
      <li>
        <a href="search-results-page">Search for a Breathing Space</a>
      </li>
    </ul>
  </div>
</nav>