       <h2 class="govuk-heading-l">
     Client details
      </h2>
 <h3 class="govuk-heading-m">Personal details</h3>
 <dl class="govuk-summary-list govuk-!-margin-bottom-2">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            {{ firstname | default("Joe") }}  {{ middlename | default("John") }} {{ lastname | default("Black") }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#firstname">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
         
                   {{ dobday | default("28") }} {{ dobmonth | default("02") | toMonth }} {{ dobyear | default("1978") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#dobday">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          {% include "./_names-previous.html" %} 
      </dl> 
      <p><a class="govuk-link" href="names">Add previous name</a></p>

       <h2 class="govuk-heading-m">Addresses</h2>
       <dl class="govuk-summary-list govuk-!-margin-bottom-2">  
            {% include "./_address.html" %} 
           {% include "./_address-previous.html" %} 
        </dl>
        <p><a class="govuk-link" href="address-history">Add previous address</a></p>

           <h2 class="govuk-heading-m">Notification preference</h2>
       <dl class="govuk-summary-list">  
                 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
       Method
            </dt>
            <dd class="govuk-summary-list__value">
      {{howcontacted}}
            </dd>
            <dd class="govuk-summary-list__actions">
         
              <a class="govuk-link govuk-!-font-size-19" href="pref-contact">
                Change<span class="govuk-visually-hidden"> notifcation preference</span>
              </a>
             
            
            </dd>
          </div>
          {% if checked('howcontacted','Email')%}
                       <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
       Email address
            </dt>
            <dd class="govuk-summary-list__value">
     {{ contactByEmail }}
            </dd>
            <dd class="govuk-summary-list__actions">
         
              <a class="govuk-link govuk-!-font-size-19" href="pref-contact">
                Change<span class="govuk-visually-hidden"> notifcation preference</span>
              </a>
             
            
            </dd>
          </div>
          {% endif %}
        </dl>

<h2 class="govuk-heading-m">Business</h2>
      
        {% include "./_business-details.html" %} 

