
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="address-corres-choice" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
         <span class="govuk-caption-xl">Create a Breathing Space account : Step 4 of 5</span>
       Add client's correspondence address
      </h1>

 <div class="govuk-form-group">

    <label class="govuk-label govuk-!-font-weight-bold" for="postcodeCorres">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcodeCorres" name="postcodeCorres" type="text"  value="{{ postcodeCorres }}">
  </div>


<button class="govuk-button" data-module="govuk-button">
  Find address
</button>
<p class="govuk-body"><a href="address-corres-manual">Enter address manually</a></p>

<p></p>
    </div>
    </form>
</div>


{% endblock %}
