
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="consent" method="post">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="bs-choose-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
       Which Breathing Space does your client need?
      </h1>
    </legend>
    <!-- <span id="bs-choose-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment.
    </span> -->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bs-choose" name="bs-choose" type="radio" value="standard" aria-describedby="bs-choose-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="bs-choose">
         Standard Breathing Space
        </label>
        <span id="bs-choose-item-hint" class="govuk-hint govuk-radios__hint">
          Clients are only eligible for this once in a 12 month period
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bs-choose-2" name="bs-choose" type="radio" value="mentalhealth~mh-guard" aria-describedby="bs-choose-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="bs-choose-2">
          Mental Health Breathing Space
        </label>
        <span id="bs-choose-2-item-hint" class="govuk-hint govuk-radios__hint">
          Your client must be in reciept of mental health crisis treatment  
        </span>
      </div>
    </div>
  </fieldset>
</div>





<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>



{% endblock %}
