
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Breathing Space submitted
          </h1>
          <div class="govuk-panel__body">
            Your client's reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
          <h2 class="govuk-heading-m">What happens next</h2>
           <p class="govuk-body">Your client has been submitted into Breathing Space. We will notify your client’s creditors that their Breathing Space has started.</p>


          <p><a href="index">Return to service homepage</a></p>

 <p><a href="time-machine-creditor" class="timemachine-link">On to next scenario</a></p>
      </div>
  
</div>

      

{% endblock %}
