
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="mh-summary" method="post">
    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
      Add nominated point of contact
      </h1>
      <p class="govuk-body">For example, a mental health professional, carer, family member or friend</p>
     <div class="govuk-form-group">
  <label class="govuk-label" for="pocname">
  Full name
  </label>
  <input class="govuk-input" id="pocname" name="pocname" type="text" autocomplete="pocname" spellcheck="false" value="{{ pocname }}">
</div>
     <div class="govuk-form-group">
  <label class="govuk-label" for="pocrel">
   Relationship to client (optional)
  </label>
  <input class="govuk-input" id="pocrel" name="pocrel" type="text" autocomplete="pocrel" spellcheck="false" value="{{ pocrel }}">
</div>
     <div class="govuk-form-group">
  <label class="govuk-label" for="pocorg">
   Organisation (optional)
  </label>
  <input class="govuk-input" id="pocorg" name="pocorg" type="text" autocomplete="pocorg" spellcheck="false" value="{{ pocorg }}">
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="mhHowContacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        How would the point of contact like to recieve confirmation the Breathing Space has started and ended?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mhHowContacted-conditional" name="mhHowContacted" type="radio" value="Email" data-aria-controls="conditional-mhHowContacted-conditional">
        <label class="govuk-label govuk-radios__label" for="mhHowContacted-conditional">
          Email
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mhHowContacted-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="mhEmail">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="mhEmail" name="mhEmail" type="email" spellcheck="false">
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mhHowContacted-conditional-2" name="mhHowContacted" type="radio" value="Post~mh-poc-address" data-aria-controls="conditional-mhHowContacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="mhHowContacted-conditional-2">
          Post
        </label>
      </div>

    </div>
  </fieldset>
</div>
  

<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-label">
       When did the treatment start?
      </h2>
    </legend>
    <span id="dob-hint" class="govuk-hint">
      For example, 31 3 2020
    </span>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="number" autocomplete="bdayday" pattern="[0-9]*" value="{{ day }}">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="number" autocomplete="bdaymonth" pattern="[0-9]*"  value="{{ month }}">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="number" autocomplete="bdayyear" pattern="[0-9]*"  value="{{ year }}">
        </div>
      </div>
    </div>
  </fieldset>
</div> -->
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


{% endblock %}
