
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="mh-consent" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Point of contact
      </h1>

        {% include "./_point-of-contact.html" %} 


<p>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</p>

    </div>
    </form>
</div>

{% endblock %}
