
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <form class="form" action="confirm-details" method="post">
  <div class="govuk-grid-column-full"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
  </div>
    <div class="govuk-grid-column-two-thirds">
   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="add-business-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <label class="govuk-fieldset__heading">
       Does your client have any businesses with debts that are eligible for the plan?
      </label>
    </legend>
    <!-- <span id="add-business-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment.
    </span> -->
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-business" name="add-business" type="radio" value="yes~add-business" aria-describedby="add-business-item-hint" {{checked('add-business', 'yes') }}>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="add-business">
         Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-business-2" name="add-business" type="radio" value="no" aria-describedby="add-business-2-item-hint" {{checked('add-business', 'no') }}>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="add-business-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="clientDetails" type="radio" value="complete" checked>
        <label class="govuk-label govuk-radios__label" for="clientDetails">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
  <!-- righthand column -->
   <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s related">Related content</h2>
      <p><a href="https://www.gov.uk/government/publications/debt-respite-scheme-breathing-space-guidance/debt-respite-scheme-breathing-space-guidance-for-money-advisers#qualifying-debts" class="govuk-link" rel="noreferrer noopener" target="_blank">See guidance about business debt eligibility on GOV.UK (opens in new tab)</a></p>
   </div>
   <!-- -->
</div>
{% endblock %}
