
{% extends "layout-developerv2-action.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}

           <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>

              <li class="govuk-breadcrumbs__list-item">
     Client Apis
    </li>
    
        {% endblock %}

{% block content %}



  <form class="form" action="add-credentials-name" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-full"> 
 <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
  <form class="form" action="index" method="post">


 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body govuk-!-margin-bottom-2"> You have created a new client credential</p>

</div>
<ul class="govuk-list">
<li><strong>Client credential id: </strong>CodeClientPKCE-da6bbab181f54169a0afe741a8d5f13</li>
</ul>
<div class="govuk-inset-text"> We only show you a new client secret once to help keep your data secure. <br> 
Copy the client secret immediately.            
</div>

<table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Client secret</th>
                    
                    </tr>
            </thead>
            <tbody class="govuk-table__body">
           
                    
                
                    
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                
                                    <span aria-label="client secret ending with 2e57">605fc6e4-5431-4952-836d-ce5a3cf62e57</span>
                                
                                </td>

                            
                        </tr>
                    
                
            </tbody>
        </table>
<p class="govuk-body"><a href="credentials">Return to client credentials</a></p>

      </div>
      </div>
    </div>
    </form>


{% endblock %}

