
{% extends "layout-developerv2-action.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}

           <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>

              <li class="govuk-breadcrumbs__list-item">
     Client credentials
    </li>
    
        {% endblock %}

{% block content %}



  <form class="form" action="add-credentials-apis" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-full"> 
 <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
  <form class="form" action="index" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="org-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l">Add client credentials</span>
       What organisations do you want to add?
      </h1>
    </legend>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="org" name="org" type="checkbox" value=" Org 1">
        <label class="govuk-label govuk-checkboxes__label" for="org">
          Org 1
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="org-2" name="org" type="checkbox" value=" Org 2">
        <label class="govuk-label govuk-checkboxes__label" for="org-2">
          Org 2
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="org-3" name="org" type="checkbox" value=" Org 3">
        <label class="govuk-label govuk-checkboxes__label" for="org-3">
          Org 3
        </label>
      </div>
    </div>

  </fieldset>
</div>
<button class="govuk-button">Save and continue</button>
      </div>
      </div>
    </div>
    </form>


{% endblock %}

