
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
              <li class="govuk-breadcrumbs__list-item">
     Add an application to the sandbox
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='addapplicationtosandbox' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-quarter"> 
{% include "./_nav2.html" %}
</div>
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Add an application to the sandbox</h1>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Appications and roles</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Sandbox applications</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Your role</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Last API call</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="">InsolvencyTestClient</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Admin</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">No API called</td>
    </tr>
  </tbody>
</table>

<p class="govuk-body">After testing in the sandbox, you can apply for production credentials</p>

<a href="add-new-debt" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
  Get production credentials
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

