
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
      Application details
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='clientid' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Client ID</h1>

<p class="govuk-body-l govuk-!-margin-bottom-1">4nTLntUtBY3lhrr77B3DhMh70Ht9</p>
<a href="#" class="copy-to-clip govuk-body" title="Copies client ID into the system clipboard." data-clip-text="4nTLntUtBY3lhrr77B3DhMh70Ht9" aria-live="polite" aria-label="Copy client ID to clipboard">
            Copy
    </a>

    <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Application:</span></div>
    <div class="govuk-grid-column-three-quarters" data-app-name=""><span class="govuk-body">{% include "./_appName.html" %}</span></div>
</div>

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Environment:</span></div>
    <div id="environmentName" class="govuk-grid-column-three-quarters" data-app-env=""><span class="govuk-body">Sandbox</span></div>
</div>

<p class="govuk-body">Your client ID is a unique identifier we created when you added your application.</p>
<p class="govuk-body">Generate a client secret and use it with your client ID to test your application in the sandbox.</p>

<a href="clientsecrets" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
  Continue
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

