
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Client secrets
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='clientsecrets' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Client secrets</h1>

    <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Application:</span></div>
    <div class="govuk-grid-column-three-quarters" data-app-name=""><span class="govuk-body">{% include "./_appName.html" %}</span></div>
</div>

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Environment:</span></div>
    <div id="environmentName" class="govuk-grid-column-three-quarters" data-app-env=""><span class="govuk-body">Sandbox</span></div>
</div>

<p class="govuk-body">Your client secret is a unique passphrase that you generate to authorise your application.</p>
<p class="govuk-body">Use a client secret together with your <a id="client-id" href="clientid">client ID</a> to test your application in the sandbox.</p>

<a href="clientsecretsonetime" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
 Generate a client secret
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

