
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Client secrets
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='clientsecrets' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Client secrets</h1>

    <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Application:</span></div>
    <div class="govuk-grid-column-three-quarters" data-app-name=""><span class="govuk-body">{% include "./_appName.html" %}</span></div>
</div>

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Environment:</span></div>
    <div id="environmentName" class="govuk-grid-column-three-quarters" data-app-env=""><span class="govuk-body">Sandbox</span></div>
</div>


<div class="govuk-inset-text"> We only show you a new client secret once to help keep your data secure. <br> 
Copy the client secret immediately.            
</div>
</div>
</div>

    <div class="govuk-grid-row">
<div class="govuk-grid-column-full"> 

<table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Client secrets</th>
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header">Created</th>
                    <th scope="col" class="govuk-table__header">Last used</th>
                     <th scope="col" class="govuk-table__header"></th>
                    
                    </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                    
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                
                                    <span aria-label="client secret ending with 4f16">••••••••••••••••••••••••••••••••4f16</span>
                                
                                </td>
                            <td class="govuk-table__cell">
                            
                            </td>
                            <td class="govuk-table__cell">5 Nov 2020</td>
                            <td class="govuk-table__cell">Not used</td>
                            
                                <td class="govuk-table__cell"><a id="delete-client-secret" href="clientsecretsdelete">Delete</a></td>
                            
                        </tr>
                    
                
                    
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                
                                    <span aria-label="client secret ending with 2e57">605fc6e4-5431-4952-836d-ce5a3cf62e57</span>
                                
                                </td>
                            <td class="govuk-table__cell">
                            
                                <a href="#" class="copy-to-clip govuk-button govuk-!-margin-bottom-0" title="Copies client secret ending with 2e57 into the system clipboard." data-clip-text="605fc6e4-5431-4952-836d-ce5a3cf62e57" aria-live="polite" aria-label="Copy client secret ending with 2e57 to clipboard">
                                    Copy
                                </a>
                            
                            </td>
                            <td class="govuk-table__cell">5 Nov 2020</td>
                            <td class="govuk-table__cell">Not used</td>
                            
                                <td class="govuk-table__cell"><a id="delete-client-secret" href="clientsecretsdelete">Delete</a></td>
                            
                        </tr>
                    
                
            </tbody>
        </table>
</div>
</div>
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 

<h2 class="govuk-heading-m">Rotate your client secret regularly</h2>
<p class="govuk-body">To rotate your client secret:</p>
<ol class="govuk-list govuk-list--number">
                <li>
                    Generate a new client secret, in addition to the one used by your application
                </li>
                <li>
                    Update your application to use the new client secret
                </li>
                <li>
                    Check that your application is working with the new client secret
                </li>
                <li>
                    Delete the inactive client secret
                </li>
            </ol>
<p class="govuk-body">You can have up to 5 client secrets at any time.</p>
<p class="govuk-body"><a href="">Generate another client secret</a></p>
<p class="govuk-body"><a href="">View application details</a></p>


      </div>
      </div>
    </div>
    </form>


{% endblock %}

