
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Client secrets delete
    </li>
    
        {% endblock %}

{% block content %}




  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Are you sure you want to delete this client secret?</h1>
    <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Application:</span></div>
    <div class="govuk-grid-column-three-quarters" data-app-name=""><span class="govuk-body">{% include "./_appName.html" %}</span></div>
</div>

<div class="govuk-grid-row  govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-quarter"><span class="govuk-body govuk-!-font-weight-bold">Environment:</span></div>
    <div id="environmentName" class="govuk-grid-column-three-quarters" data-app-env=""><span class="govuk-body">Sandbox</span></div>
</div>


<div class="govuk-inset-text">Before you delete this client secret, add a new client secret to your software.         
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Secrets details</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Created secret</th>
      <th scope="col" class="govuk-table__header">Created</th>
      <th scope="col" class="govuk-table__header">Last used</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">4f16</td>
      <td class="govuk-table__cell">5 Nov 2020</td>
       <td class="govuk-table__cell">Not used</td>
    </tr>
  </tbody>
</table>


<p class="govuk-body">After you have deleted this client secret it cannot be restored or used to refresh expired tokens.
    </p>

<a href="clientsecretsonetime" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
  Delete client secret
</a> 
<a href="clientsecretsonetime" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Cancel
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

