
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
      <a href="applicationdetails"> {% include "./_appName.html" %}</a>
    </li>
              <li class="govuk-breadcrumbs__list-item">
     Credentials
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='credentials' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Credentials</h1>

{% include "./_appdetails.html"%}

        <p class="govuk-body govuk-!-margin-top-5">Your credentials are your <a id="client-id" href="clientid">client ID</a> and your
            <a id="client-secret" href="clientsecrets">client secret</a>.</p>

        <p class="govuk-body">Credentials are used:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                to identify and authorise your application during each step of an
                <a href="/api-documentation/docs/authorisation/user-restricted-endpoints">OAuth 2.0</a> journey
            </li>
            <li>
                when you test your application with sandbox APIs
            </li>
        </ul>

<a href="clientid" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
 Continue
</a> 



      </div>
      </div>
    </div>
    </form>


{% endblock %}

