
{% extends "layout-developerv2-action.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}

    
        {% endblock %}

{% block content %}


  <form class="form" action="credentials" method="post">

  
    <div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters"> 
 <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Delete this client credential</h1>


<h2 class="govuk-heading-s">Client credential
<p class="govuk-body">Sam nttdaa email client credentials</p>

<div class="govuk-inset-text">
  This will be deleted immediately. We cannot restore this user once they have been deleted.
</div>

<div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="deletecredential" name="deletecredential" type="radio" value="yes" checked >
        <label class="govuk-label govuk-radios__label" for="deletecredential">
          Yes
        </label>
      </div>

<button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
 Confirm and delete client credential
</button> 




      </div>
      </div>
    </div>
    </form>


{% endblock %}

