
{% extends "layout-developer.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
       <li class="govuk-breadcrumbs__list-item">
     Get production details
    </li>
  
              <li class="govuk-breadcrumbs__list-item">
     Add a team member
    </li>
    
        {% endblock %}

{% block content %}




  <form class="form" action="" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Get production credentials
</h1>
<p class="govuk-body">Now that you've tested your software you can request production credentials to use live data.</p>


<div class="govuk-inset-text">
  To do that you must comply with our <a href="">terms of use</a>.
</div>

<button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
 Continue
</button> 




      </div>
      </div>
    </div>
    </form>


{% endblock %}

