
{% extends "layout-developerv2.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
           <li class="govuk-breadcrumbs__list-item">
      Home
    </li>
    
        {% endblock %}


{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='Home' %}
 <!-- -->

  <form class="form" action="index" method="post">

  



<div class="govuk-grid-row">
<div class="govuk-grid-column-full"> 
<h1 class="govuk-heading-l">Home</h1>


    
              <a class="govuk-button govuk-button--secondary govuk-!-margin-right-2" href="organisations">Organisations</a>
         
                     <a class="govuk-button govuk-button--secondary govuk-!-margin-right-2" href="credentials">Client credentials</a>
         
                     <a class="govuk-button govuk-button--secondary govuk-!-margin-right-2" href="account-request-subnav">Manage your team</a>
          
                     <a class="govuk-button govuk-button--secondary govuk-!-margin-right-2" href="account-request-subnav">Update your details</a>
   
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Your details</h2>
<p class="govuk-body">Roberto Mullens<br>
Email:robertomullens@org1.com </p>
    

    <table class="govuk-table">
       <caption class="govuk-table__caption">Organisations</caption>
        <thead>
            <tr>
                <th scope="row" class="govuk-table__header" >Name</th>
                <th scope="row" class="govuk-table__header" >Identifier</th>
                <th scope="row" class="govuk-table__header" >Type</th>
                <th scope="row" class="govuk-table__header" >Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="govuk-table__cell govuk-!-width-one-quarter" >ORG 1</td>
                <td class="govuk-table__cell govuk-!-width-one-third" >wwwwwww-wwwwwwwwww-0000000000-00000000000-0000000001</td>
                <td class="govuk-table__cell" >Creditor</td>
                <td class="govuk-table__cell" >Administrator <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">Developer <ul class="govuk-list govuk-body-s govuk-!-margin-top-2"><li><strong>API's</strong></li><li>Hello world</li><li>Notifications</li></ul></td>

            </tr>
            <tr>
                <td class="govuk-table__cell govuk-!-width-one-quarter" >ORG 2</td>
                <td class="govuk-table__cell govuk-!-width-one-third" >wwwwwww-wwwwwwwwww-0000000000-00000000000-0000000002</td>
                <td class="govuk-table__cell" >Money Adviser</td>
                <td class="govuk-table__cell" >Administrator</td>
            </tr>
        </tbody>
    </table>



      </div>
      </div>
    </div>
    </form>


{% endblock %}

