
{% extends "layout-developerv2.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
           <li class="govuk-breadcrumbs__list-item">
      Home
    </li>
    
        {% endblock %}


{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='Home' %}
 <!-- -->

  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-quarter"> 


          <ul class="govuk-list">
          
            <li>
              <a class="" href="organisations">Organisations</a>
              
            </li>
          
            <li>
                     <a class="" href="credentials">Client credentials</a>
            </li>   

                
            <li>
                     <a class="" href="account-request-subnav">Manage groups</a>
            </li> 
          </ul>


</div>
<div class="govuk-grid-column-three-quarters"> 
<h1 class="govuk-heading-l">Home</h1>

    <table class="govuk-table">
       <caption class="govuk-table__caption">Organisations</caption>
        <thead>
            <tr>
                <th scope="row" class="govuk-table__header" >Name</th>
                <th scope="row" class="govuk-table__header" >ID</th>
                <th scope="row" class="govuk-table__header" >Type</th>
                <th scope="row" class="govuk-table__header" >Role</th>
                <th scope="row" class="govuk-table__header" >APIs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="govuk-table__cell" >ORG 1</td>
                <td class="govuk-table__cell" >00001</td>
                <td class="govuk-table__cell" >Creditor</td>
                <td class="govuk-table__cell" >Developer</td>
                <td class="govuk-table__cell" ><ul class="govuk-list"><li>Hello world</li><li>Notifications</li></ul></td>
            </tr>
            <tr>
                <td class="govuk-table__cell" >ORG 1</td>
                <td class="govuk-table__cell" >00002</td>
                <td class="govuk-table__cell" >Creditor</td>
                <td class="govuk-table__cell" >Admin</td>
                <td class="govuk-table__cell" ></td>
            </tr>
        </tbody>
    </table>



      </div>
      </div>
    </div>
    </form>


{% endblock %}

