
{% extends "layout-developerv2.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}

           <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>

             <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="credentials">Client credentials</a>
    </li>

              <li class="govuk-breadcrumbs__list-item">
     {{ credentialname | default('Sam nttdaa email client credentials')}}
    </li>
    
        {% endblock %}

{% block content %}



  <form class="form" action="add-credentials-name" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-full"> 
 <!-- <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> -->
  <form class="form" action="index" method="post">

  <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
       Credential
      </span>  
    {{ credentialname | default('Sam nttdaa email client credentials') }}
        
      </h1>

<ul class="govuk-list">
<!-- <li><strong>Name: </strong>{{ credentialname }}</li>-->
<li><strong>Organisations:</strong> {{ org | default('Org 1, Org 3') }}</li>
<li><strong>APIs: </strong>{{ api | default('Hello world, Notifications') }}</li>
<li><strong>Client id: </strong>CodeClientPKCE-da6bbab181f54169a0afe741a8d5f13</li>
<li><strong>Created by: </strong>rmullins@somewhere.com</li>
</ul>
<a href="add-secret-name" class="govuk-button govuk-button--secondary">Add new secret</a>


<table class="govuk-table">
 <caption class="govuk-table__caption">Client secrets</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                 <th scope="col" class="govuk-table__header">Title</th>
                 <th scope="col" class="govuk-table__header">Type</th>
                 <th scope="col" class="govuk-table__header"></th>
                    
                    </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% if data['secretname']%}
                    
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                
                                    <span aria-label="">{{ secretname }}</span>
                            
                                </td>
                            <td class="govuk-table__cell">
                             Shared secret
                            </td>
                            <td class="govuk-table__cell"><a id="delete-client-secret" href="clientsecretsdelete">Delete</a></td>
                            
                        </tr>
                {% endif %}
                    {% if checked('deletesecret','yes')%}
{% else %} 
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                
                                    <span aria-label="">Test secret 1</span>
                            
                                </td>
                            <td class="govuk-table__cell">
                             Shared secret
                            </td>
                            <td class="govuk-table__cell"><a id="delete-client-secret" href="clientsecretsdelete">Delete</a></td>
                            
                        </tr>
                    {% endif %}   
                
            </tbody>
        </table>


      </div>
      </div>
    </div>
    </form>


{% endblock %}

