
{% extends "layout-developerv2.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}
              <li class="govuk-breadcrumbs__list-item">
      Organisation
    </li>
    
        {% endblock %}

{% block content %}

<!-- sets current in subnav -->
 {% set currentnav ='applicationdetails' %}
 <!-- -->


  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">
   <!--    <div class="govuk-grid-column-one-quarter"> 

{% include "./_nav1.html" %}
{% include "./_nav2.html" %}

</div> -->
<div class="govuk-grid-column-full"> 
<h1 class="govuk-heading-l"><span class="govuk-caption-m">Organisation</span>Org 1</h1>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<a href="adddeveloper" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">Add developer</a>
<a href="addadministrator" class="govuk-button govuk-button--secondary">Add administrator</a>
    

    <table class="govuk-table">
       <caption class="govuk-table__caption">Users</caption>
        <thead>
            <tr>
                <th scope="row" class="govuk-table__header" >Email</th>
                <th scope="row" class="govuk-table__header" >Role</th>
                <th scope="row" class="govuk-table__header" >Scopes</th>
                <th scope="row" class="govuk-table__header" ></th>
                <th scope="row" class="govuk-table__header" ></th>
            </tr>
        </thead>
        <tbody>
      {% if checked('admin','added')%}
              <tr>
                <td class="govuk-table__cell" >{{ emailadmin }}</td>
                <td class="govuk-table__cell" >Administrator</td>
                <td class="govuk-table__cell" ></td>
                <td class="govuk-table__cell" ><a href="editadministrator">Edit</a></td>
                <td class="govuk-table__cell" ><a href="deleteuser">Delete</a></td>
            </tr>
       
        {% endif %}


        {% if checked('developer','added')%}
              <tr>
                <td class="govuk-table__cell" >{{ emaildev }}</td>
                <td class="govuk-table__cell" >Developer</td>
                <td class="govuk-table__cell" >{{ scope }}{{ scope2 }}</td>
                <td class="govuk-table__cell" ><a href="editdeveloper">Edit</a></td>
                 <td class="govuk-table__cell" ><a href="deleteuser">Delete</a></td>
            </tr>
       
        {% endif %}
            <tr>
                <td class="govuk-table__cell" >{{ emailadminedit | default('joe@org1.com') }}</td>
                <td class="govuk-table__cell" >Administrator</td>
                <td class="govuk-table__cell" ></td>
                <td class="govuk-table__cell" ><a href="editadministrator">Edit</a></td>
                 <td class="govuk-table__cell" ><a href="deleteuser">Delete</a></td>
            </tr>
                   <tr>
                <td class="govuk-table__cell" >{{ emaildevedit | default('paul@org1.com') }}</td>
                <td class="govuk-table__cell" >Developer</td>
                <td class="govuk-table__cell" >{{ scopeedit | default('Scope 1') }}{{ scopeedit2 }}</td>
                <td class="govuk-table__cell" ><a href="editdeveloper">Edit</a></td>
                 <td class="govuk-table__cell" ><a href="deleteuser">Delete</a></td>
            </tr>
        </tbody>
    </table>

    



      </div>
      </div>
    </div>
    </form>


{% endblock %}

