
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
<div class="govuk-grid-column-full">
  {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
Confirm debt
      </h1>
      <h2 class="govuk-heading-l">
        {% include "../includes/creditor/_defaultDeptType2.html" %}
      </h2>        
      {% include  "../includes/creditor/_debt_details2.html" %} 
      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset" aria-describedby="debt2-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             Are the debt details correct?
          </legend>
          <div id="debt2-hint" class="govuk-hint">
            <ul class="govuk-list govuk-body--secondary"><li>The amount should be what was owed on  {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}.</li><li>This was the date we first notified you about the intended plan.</li></ul>
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="debt2" name="debt2" type="radio" value="yes" data-aria-controls="conditional-debt2" {{ checked('debt2','yes') }}>
              <label class="govuk-label govuk-radios__label" for="debt2">
                Yes 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="debt2-2" name="debt2" type="radio" value="no~update-debt-detail?reference={{creditorcase.reference}}" {{ checked('debt2','no') }}>
              <label class="govuk-label govuk-radios__label" for="debt2-2">
               No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="debt2-2" name="debt2" type="radio" value="sold~sold-debt-choose-creditor?reference={{creditorcase.reference}}" {{ checked('debt2','sold') }}>
              <label class="govuk-label govuk-radios__label" for="debt2-2">
                No, this debt has been sold
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>

    {% include "../includes/creditor/_urlredirect.html" %}
    {% include "../includes/_show-confirmation.html" %}

  </fieldset>
  <button class="govuk-button">Confirm</button>
</div>

    </div>
    </form>
</div>





{% endblock %}
