
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
    
          <h1 class="govuk-panel__title">
            Refer a patient for Breathing Space
          </h1>
          <div class="govuk-panel__body">
            Your referral has been sent to the central money advisor organistion
          </div>
         
        </div>
      </div>
  
</div>

{% endblock %}
