
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <form class="form" action="debt" method="post">
      <section class="key_details">
<style>
ul.styled_list li li{
  width:18%;
}
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
           <h1 class="govuk-heading-l">
           <span class="govuk-caption-l">Breathing space account</span>
Roberto Henderson
      </h1>
      </div>
      <div class="govuk-grid-column-one-third">
          <p class="header_highlight_info"><span><span>Day 10</span> of <span>60</span></span>End date 27 March 2020</p>
      </div>
      <div class="govuk-grid-column-full">
      <ul>
        <li>
        <p>Date of birth: <span>28 February 1987</span></p>
        </li>
        <li>
        <p>Address: <span>2 Epsom drive, Melling, Liverpool, L36 1KJ </span></p>
        </li>
      </ul>
      </div>
      </div>
</section>
 <div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<p class="govuk-body ">A Stepchange money adviser has added the following debts to your Breathing Space</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Money adviser details
    </span>
  </summary>
  <div class="govuk-details__text">
   
    <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Organisation
            </dt>
            <dd class="govuk-summary-list__value">
            Stepchange
            </dd>
          </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Advisor
            </dt>
            <dd class="govuk-summary-list__value">
            Paul Smith
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
            078345 677 889
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Email
            </dt>
            <dd class="govuk-summary-list__value">
           paulsmith3@stepchange.org.uk
            </dd>
        </div>
    </dl>
    <p><a href="">Request to change money adviser</a></p>
  </div>
</details>
</p>

 <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Debts added to Breathing Space</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Loan
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: Barclays Bank Plc <br>Amount: £5400<br> Reference: 8945 4321 5678 
            </dd>

          </div>
                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: Halifax (credit cards only) <br>Amount: £3700<br> Reference: 3567 6732 1278
            </dd>

          </div>
                      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: MBNA Europe Bank Ltd<br>Amount: £2500<br> Reference: RBC23455003
            </dd>

          </div>
                              <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Water
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: Yorkshire Water Services Ltd<br>Amount: £102<br> Reference: 4949 9494 9449
            </dd>

          </div>

                                        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Gas
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor:EDF Energy Ltd<br>Amount: £189<br> Reference: CRT8536544
            </dd>

          </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Electric
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor:Southern Electric<br>Amount: £125<br> Reference: SE3456792234
            </dd>

          </div>

                    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Council tax
             
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor:Leeds City Council<br>Amount: £179<br> Reference: LCC3456789
            </dd>

          </div>


                    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Store card
            <p class="" >Status: Recieved</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor:Next Retail and Next Directory<br>Amount: £1256<br> Reference: ND6544322
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
    </dl>

<p class="govuk-body">
<button class="govuk-button" data-module="govuk-button">
  Finish
</button>
</p>
    </div>
    </form>
</div>

{% endblock %}
