
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="mh-point-of-contact" method="post">
    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="poc-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Does your client have a nominated point of contact?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="poc" name="poc" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="poc">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="poc-2" name="poc" type="radio" value="no~mh-consent">
        <label class="govuk-label govuk-radios__label" for="poc-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
 
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


{% endblock %}
