
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-list-tabs" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       Not testing this today!
      </h1>

      <p class="govuk-body-l">Don't worry you haven't broken anything, were not testing this today,just hit the back button and we'll carry on.</p>

    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
