
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}



  <form class="form" action="/creditor-mvp/account-landing-tabs" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Time machine</h1>

      <p class="govuk-body-l">Once the Breathing Space application has been processed. The service sends a notifaction to all 8 of the creditors</p>


      <h2 class="govuk-heading-m">Creditor</h2>
      <p>Halifax (credit cards only) recieve a notification, a staff member accesses the record</p>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
       </div> 

    </form>


{% endblock %}
