
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

{% include path+"advisor-mvp/_keydetails_active.html" %}




  <form class="form" action="index" method="post">
    {% if checked('debt-eligibility','yes') or checked('debt-eligibility','no') %}{% else %}
  <div class="govuk-details__text govuk-!-margin-bottom-5">
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Creditor reviews and requests</h2>
<p><strong class="govuk-tag govuk-tag--red">1 to do
</strong></p>
<ul  class="govuk-list">
<li><a href="eligibility-review">Eligibility review requested by {% include path+"advisor-mvp/_review_creditor.html" %}</a> {% if checked('debt-eligibility','yes') or  checked('debt-eligibility','no') %}- Reviewed: <strong> {{ 'Do MMMM YYYY' | baseDateAdd(0) }}</strong>{% endif %}</li>
</ul>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 {% endif %}
 <a href="endbreathingspace" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  End Breathing Space
</a>


   
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li  class="govuk-tabs__list-item govuk-tabs__list-item--selected">

      <a class="govuk-tabs__tab" href="#problem-debt">
       Debts
      </a>
    </li>
   {% if checked('debt-eligibility','yes') or checked('removedebt', 'yes')  %}
       <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#removed-debt">
       Removed debts
      </a>
    </li>
    {% endif %} 
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#personal-details">
        Personal details
      </a>
    </li>

  </ul>
  <section class="govuk-tabs__panel" id="problem-debt">
  
 
  {% include path+"advisor-mvp/_debtlist.html" %} 
  {% if data['bsEndReason'] %}  
  {% else %} 
 <a href="add-new-debt" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Add a debt
</a>
 <!--<a href="remove-a-debt" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Remove a debt 
</a> -->
{% endif %}

  </section>
 {% if checked('debt-eligibility','yes') or checked('removedebt', 'yes') %}
   <section class="govuk-tabs__panel" id="removed-debt">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Removed debts</h2>
 {% include path+"advisor-mvp/_removeddebtslist.html" %} 

   </section>
  {% endif %}

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details">
    <h2 class="govuk-heading-l">Personal details</h2>
     {% include path+"advisor-mvp/_personaldetails.html" %} 

  </section>


</div>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Close record
</button>
    </div>
    </form>


{% endblock %}
