
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}



{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
<span class="govuk-caption-l">
Guidance</span>
Debtor eligibility
      </h1>

<p class="govuk-body-l">This page provides links to guidance produced by, or relating to the Insolvency Service<p>  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
</div>
<div class="govuk-grid-column-two-thirds">  

<h2 class="govuk-body-s">Contents</h2>
<ul class="govuk-list govuk-body-s">
<li>– <a href="#stantard">Debtor eligibility for a breathing space moratorium</a></li>
<li>– <a href="#mh">Debtor eligibility for a mental health crisis moratorium</a></li>
</ul>

<h2 class="govuk-heading-m" id="stantard">Debtor eligibility for a breathing space moratorium</h2>
<p class="govuk-body">
Before a debt adviser can put someone into Breathing Space, they must confirm the debtor meets all the conditions for a moratorium. These are that the debtor must:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>A debtor must owe a qualifying debt to a creditor</li>
<li>A debtor must live or usually resides in England or Wales</li>
<li>A debtor must not have a debt relief order (DRO), an individual voluntary arrangement (IVA), an interim order, or be an undischarged bankrupt at the time they apply</li>
<li>A debtor must not already be in Breathing Space or have been one in the last 12 months at the time they apply</li>
</ul>
<p class="govuk-body">
The debtor must also meet both of the conditions. These are that: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>A debtor cannot, or is unlikely to be able to, repay all or some of their debt </li>
<li>The debt adviser thinks that a moratorium is appropriate for the debtor</li>
</ul>




<h2 class="govuk-heading-m" id="mh">Debtor eligibility for a mental health crisis moratorium</h2>
<p class="govuk-body">The debtor must still meet the same criteria and conditions for a breathing space moratorium, but they must also be receiving mental health crisis treatment at the time they apply.</p>
<ul class="govuk-list govuk-list--bullet">
<li>There is no limit to how many times a debtor can enter a mental health crisis moratorium.</li>
</ul>

</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p class="govuk-body"><a href="/creditor-latest/not-testing" class="govuk-link" rel="noreferrer noopener" >See all guidance on the Debt Respite Scheme(Breathing Space) on GOV.UK </a></p>
    </div>
</div>


{% endblock %}
