
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}



{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
<span class="govuk-caption-l">
Debt Respite Scheme 
(Breathing Space) 
 Guidance for Creditors
</span>
Debt eligibility
      </h1>


<p class="govuk-body-l">This page provides links to guidance produced by, or relating to the Insolvency Service<p>  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
</div>
<div class="govuk-grid-column-two-thirds">  

<h2 class="govuk-body-s">Contents</h2>
<ul class="govuk-list govuk-body-s">
<li>– <a href="#qualifying">Qualifying debts</a></li>
<li>– <a href="#excluded">Excluded debts</a></li>
</ul>

<h2 class="govuk-heading-m" id="qualifying">Qualifying debts</h2>
<p class="govuk-body">
Debts included in a moratorium must be qualifying debts. Debts are any sum of money owed by the debtor to you, while liabilities are any obligation on the debtor to pay money to you. Most debts are likely to be a qualifying debts. These are things like: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>Credit cards</li>
<li>Store cards</li>
<li>Personal loans</li>
<li>Pay day loans</li>
<li>Utility bill arrears</li>


</ul>
<p class="govuk-body">
Government debts like tax and benefit debts are all likely to qualify, unless they are included in the list of excluded debts.
</p>
<p class="govuk-body">
Joint debts like joint mortgages or rent arrears on joint tenancies can be included in a Breathing Space, even if only one person goes into the scheme. The joint debt would become a Breathing Space debt, and the same protections must apply. For the other person who is not in Breathing Space, their other debts and liabilities are unaffected. 
</p>
<p class="govuk-body">
While guarantor loans might qualify for Breathing Space protections, the protections do not extend to the guarantor. The guarantor can apply for their own Breathing Space for their debts, if they’re eligible. 
</p>  
<p class="govuk-body">Qualifying debts can include any that the debtor had before the Breathing Space legislation came into force on 4 May 2021. </p>    
<p class="govuk-body">Unless any other provisions apply to exclude the debt from a moratorium, a debt that is subject to a controlled goods agreement will be a qualifying debt. Any time limit that is in place (for example, if the debt is not repaid within 60 days, the goods will be removed and sold) will be paused during a moratorium. Once the moratorium is ended, the conditions of the agreement – including any time limit – will resume. If a bailiff or enforcement agent has taken possession of any goods before a moratorium started, then they may be sold (including during the moratorium). However, fees cannot be charged for storage of goods or for any other reason during the moratorium, and retrospective fees cannot be charged once a moratorium ends.  </p>
<p class="govuk-body">Debts incurred during a moratorium cannot be included.  This includes new arrears during a moratorium that did not exist at the date that the debtor applied for a moratorium. [It may be that we need to separate this out – new debts entered into after the moratorium started cannot be included; but what happens to interest and enforcement of the next instalment of a loan repayment due during the moratorium? Debtor should be paying it – creditor shouldn’t refuse money – but cannot charge interest or enforce it if it’s not paid</p>


<h2 class="govuk-heading-m" id="excluded">Excluded debts</h2>
<p class="govuk-body">All personal debts and liabilities qualify for the protections of Breathing Space, except for: </p>
<ul class="govuk-list govuk-list--bullet">
<li>Secured debts (like mortgages, hire purchase or conditional sale agreements). Arrears on these debts at the date the Breathing Space starts are not excluded. Any new secured debt arrears that happen after the Breathing Space starts are not protected by the scheme. If a debtor can’t meet these ongoing liabilities, it could mean the debt adviser stops their Breathing Space</li>
<li>Debts incurred from fraud. You should think of this in the same way you would when you are advising a client about bankruptcy. Discharge from bankruptcy does not mean someone is released bankruptcy debts which they from fraud. If you request a review of a Breathing Space because of fraud or suspected fraud, you might have to provide evidence to the debt adviser or to a court</li>
<li>Liabilities to pay fines imposed by a court for an offence. This includes any interest on the fine and any penalties connected to it. This would not include motoring penalty charge notices, like a parking ticket</li>
<li>Obligations from a confiscation order</li>
<li>Student loans</li>
<li>Damages they need to pay for the death or personal injury caused to someone else</li>
<li>Advance payments of Universal Credit </li>
<li>Council tax liabilities that are not due yet. If all instalments are due and have not been paid, these are considered to be a qualifying debt. If a debtor has been served with a ‘reminder notice’ to pay a council tax bill, the remaining instalments that are due are a qualifying debt </li>
</ul>
<p class="govuk-body">While some business debts also qualify for the Debt Respite Scheme, they do not qualify if the debt only relates to the business (not the debtor personally) and:</p>
<ul class="govuk-list govuk-list--bullet">
<li>The debtor is VAT registered</li>
<li>The debtor is a partner in a business with someone else  </li>
<li>The debtor is a liability to pay non-domestic rates (such as, business rates). The debt is only qualifying for liabilities that are already due and have not been paid at the time of the Breathing Space</li>
</ul>

</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p class="govuk-body"><a href="/creditor-latest/not-testing" class="govuk-link" rel="noreferrer noopener" >See all guidance on the Debt Respite Scheme(Breathing Space) on GOV.UK </a></p>
    </div>
</div>


{% endblock %}
