
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}



{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
<span class="govuk-caption-l">
Guidance</span>
Your responsibilities
      </h1>

 <p class="govuk-body-l">This page provides links to guidance produced by, or relating to the Insolvency Service<p>  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
</div>
<div class="govuk-grid-column-two-thirds">  

<h2 class="govuk-body-s">Contents</h2>
<ul class="govuk-list govuk-body-s">
<li>– <a href="#creditors">Creditors</a></li>
<li>– <a href="#ma">Debt advisers</a></li>
<li>– <a href="#insolvency">The Insolvency Service</a></li>
</ul>     
<h2 class="govuk-heading-m" id="creditors">Creditors</h2>
<p class="govuk-body">
As a creditor, if you’re told that a person who owes you money is in the Debt Respite Scheme, you must stop all action and apply the protections of it. These protections must stay in place until the Breathing Space ends. 
</p>
<p class="govuk-body">
The electronic service will send a notification to you to tell you someone has gone into the scheme and the date the Breathing Space started. You need to make sure you apply the restrictions to these debts. 
</p>
<p class="govuk-body">
If you’re a creditor, it’s possible your debt might be added to the scheme after the Breathing Space started. In this case, you only have to apply the protections from either the date you had the notification or when the regulations expect you to receive it.
</p>
<p class="govuk-body">
For example, if you’re notified by post, the notification is thought to have been delivered 4 working days after it was posted.
</p> 


<h2 class="govuk-heading-m" id="ma">Debt advisers </h2>
<p class="govuk-body">
A Breathing Space can only be started by:
</p>
<ul class="govuk-list govuklist-bullet">
<li>a debt adviser who is authorised by the Financial Conduct Authority (FCA) to offer debt counselling</li>
<li>Debt advisers are responsible for the administration of a Breathing Space. They are the point of contact for a debtor, their creditors, and the Insolvency Service (who own and maintain the electronic service). If you have any questions about a moratorium you’ve had a notification for, contact the debt adviser whose details are in the notification.</li>
</ul>
<p class="govuk-body">
A Breathing Space can only be started by:
</p>



<h2 class="govuk-heading-m" id="insolvency">The Insolvency Service </h2>
<p class="govuk-body">
We maintain the electronic service that debt advisers use to start a Breathing Space, and we send notifications to creditors during it. We also maintain private registers of:
</p>
<ul class="govuk-list govuklist-bullet">
<li>people in a Breathing Space</li>
<li>people whose Breathing Space ended or was cancelled in the last 15 months</li>
</ul>
<p class="govuk-body">
We cannot help with individual case enquiries, but further signposting is available in Chapter 6 of this Guidance. 
</p>
</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s related">Related content</h2>
  <p class="govuk-body"><a href="/creditor-latest/not-testing" class="govuk-link" rel="noreferrer noopener" >See all guidance on the Debt Respite Scheme(Breathing Space) on GOV.UK </a></p>
    </div>
</div>


{% endblock %}
