<h3 class="govuk-heading-m">{% include "../creditor/_defaultDeptType.html" %}{% if checked('debt1','no')%} <span class="govuk-body-l">- updated and sent to debt adviser to accept into the plan</span>{% endif %}</h3>

{% include  "../creditor/_debt_details.html" %} 

<h3 class="govuk-heading-m">{% include "../creditor/_defaultDeptType2.html" %} {% if checked('debt2','sold')%} - sold and sent to debt adviser to accept into the plan {% endif %} </h3>
{% include  "../creditor/_debt_details2.html" %} 
