

{% if creditorcase.status ==='Draft plan' %}
    <p>Please complete each task listed</p>
    <!--<ul class="govuk-list govuk-list--bullet">
    <li>the debt is yours</li>
    <li>the debt details are correct</li>
    </ul> -->
<ol class="app-task-list">
  <li>
    <ul
      class="app-task-list__items govuk-!-margin-bottom-0 govuk-!-padding-left-0">  
<li class="app-task-list__item">
  {% if checked('debt1','yes') or checked('debt1','no') %}
  <strong
    class="govuk-tag app-task-list__tag"
    id="read-declaration-status"
    >Completed</strong
  >
  {% else %}
  <strong
  class="govuk-tag govuk-tag--grey app-task-list__tag"
  id="">To do</strong>
  {% endif %}
  <a href="review-offers?reference={{creditorcase.reference}}" class="govuk-!-display-inline-block">Review proposed payments and debt level</a>
</li>
<li class="app-task-list__item">
  {% if checked('object-to-plan','yes') or checked('object-to-plan','yes') %}
  <strong
    class="govuk-tag app-task-list__tag"
    id="read-declaration-status"
    >Completed</strong
  >
  {% else %}
  <strong
  class="govuk-tag govuk-tag--grey app-task-list__tag"
  id="">To do</strong>
  {% endif %}
  <a href="review-draft-plan?reference={{creditorcase.reference}}" class="govuk-!-display-inline-block">Review draft plan</a>
</li>  
    </ul>
  </li>
</ol>

{% else %}

<p>Please complete each task listed</p>

<ol class="app-task-list">
<li>
<ul
  class="app-task-list__items govuk-!-margin-bottom-0 govuk-!-padding-left-0">  
  <li class="app-task-list__item">
    {% if checked('review','yes') or checked('review','no') or creditorcase.status == 'New message' %}
    <strong
      class="govuk-tag app-task-list__tag"
      id="read-declaration-status"
      >Completed</strong
    >
    {% else %}
    <strong
      class="govuk-tag govuk-tag--grey app-task-list__tag"
      id="read-declaration-status"
      >To do</strong
    >
    {% endif %}
    <span class="app-task-list__task-name">
     <a href="review-debt?reference={{creditorcase.reference}}" class="govuk-!-margin-right-2">Review details</a> 

    </span>
  </li>
</ul>
</li>
</ol>
{% endif %}
