
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Confirm debt details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
    <div class="govuk-grid-column-full">
        {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
        Confirm objection to the plan
      </h1>

      <h2 class="govuk-heading-m">Reason for the objection</h2>
      <ul class="govuk-list">
      


        {% if checked('object-to-plan-reason',' A debt is in the plan that should not be included')%}
        <li>
          A debt is in the plan that should not be included
        </li>
        {% endif %}

        {% if checked('object-to-plan-reason',' A debt is not in the plan that should be included')%}
        <li>
          A debt is not in the plan that should be included
        </li>
        {% endif %}

        {% if checked('object-to-plan-reason',' Debtor is not eligible for an SDRP')%}
        <li>
          Debtor is not eligible for an SDRP
        </li>
        {% endif %}

        {% if checked('object-to-plan-reason',' The payment schedule has an unfair impact on the debt being recovered')%}
        <li>
          The payment schedule has an unfair impact on the debt being recovered
        </li>
        {% endif %}

        {% if checked('object-to-plan-reason',' Information in the plan is not correct')%}
        <li>
          Information in the plan is not correct
        </li>
        {% endif %}

        {% if checked('object-to-plan-reason',' SFS income and expenditure is outside spending guidelines without reasonable explanation')%}
        <li>
          SFS income and expenditure is outside spending guidelines without reasonable explanation
        </li>
        {% endif %}
      </ul>
      <p class="govuk-body">{{ data['more-detail']}}</p>


        {% include  "../includes/_show-confirmation.html" %}
        {% include  "../includes/creditor/_urlredirect.html" %}

        <div class="govuk-radios" style="display:none">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="" name="task" type="radio" value="object" checked>
            <label class="govuk-label govuk-radios__label" for="task">
             hidden radio
            </label>
          </div>
          </div>


<button class="govuk-button" data-module="govuk-button">
Confirm
</button>
    </div>
    </form>
</div>

{% endblock %}
