
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
Debt page
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include  "../includes/creditor/_client_name_reference.html" %} 
      <a href="plan?reference={{creditorcase.reference}}#messages" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">Messages</h1>
    </div>
  </div>

    <div class="govuk-grid-row"> 
      <div class="govuk-grid-column-two-thirds">


  {% if  creditorcase.status === "New message" %}
  <div class="message govuk-!-margin-bottom-5" id="message2">
    <h3 class="govuk-heading-s"> 
      {% if checked('message-read','yes') %}
      <strong class="govuk-tag">Read</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--blue">New message</strong>
      {% endif %}
      </h3>
        <p>We have contacted our client and they have confirmed that they had recently been married and was previously known as Sarah Henderson.</p>
        <p>We have added a previous name to the client details section.</p>
          <p class="govuk-body-s govuk-!-margin-bottom-0"> Advice uk, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.35am</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <form class="form" action="messages" method="post"> 
          <div class="govuk-form-group  govuk-!-margin-bottom-0">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
                Confirm you have read the message
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="message-read" name="message-read" type="checkbox" value="yes" {{checked('message-read', 'yes') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="message-read">
                    Mark message as read
                  </label>
                </div>
            </div>
            <div class="govuk-radios" style="display:none">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="client" type="radio" value="yes~messages?reference={{creditorcase.reference}}" checked>
                  <label class="govuk-label govuk-radios__label" for="councilDebtType">
                   hidden radio for hacky prototype
                  </label>
                </div>
                </div>
            </fieldset>
            <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-0">Confirm</button>
          </div>
         </form>
    </div>

  <div class="message" id="message1">
    <h3 class="govuk-heading-s">Sent message</h3>
        <p>We think we may have located this person on our records, but the surname does not match our records. Can you confirm if the person stated has been known by any other names.</p>
          <p class="govuk-body-s govuk-!-margin-bottom-0">Paul Smith, {% include "../includes/creditor/_creditor.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
        </div>

  {% elif data['message-to-ma']%}  
  <h2 class="govuk-heading-m">Previous messages</h2>

  {% if data['message-to-ma-2']%}  
<div class="message govuk-!-margin-bottom-5" id="message2">
<h3 class="govuk-heading-s">Sent message</h3>
    <p>{{ data['message-to-ma-2'] }}</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0"> Paul Smith, {% include "../includes/creditor/_creditor.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.35am</p>
</div>

  {% endif %}
<div class="message" id="message1">
<h3 class="govuk-heading-s">Sent message</h3>
    <p>{{ data['message-to-ma'] }}</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0"> Paul Smith, {% include "../includes/creditor/_creditor.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
</div>
  {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    <form class="form" action="review-message" method="post">         
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
name: "message-to-ma-2",
id: "message-to-ma-2",
label: {
  text: "Send message to debt adviser",
  classes: "govuk-label--m",
  isPageHeading: false
}
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Send message"
}) }}
{% include  "../includes/_show-confirmation.html" %} 

<div class="govuk-radios" style="display:none">
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="" name="message" type="radio" value="sent~review-message?reference={{creditorcase.reference}}" checked>
  <label class="govuk-label govuk-radios__label" for="updateDebtType">
   hidden radio
  </label>
</div>
</div>
</form>
  </div>  

    </div>
    

    </form>


{% endblock %}
