
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Add a creditor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
  {% include  "../includes/advisor/_client_name_reference.html" %} 
  </div>
   <form class="form" action="add-debt-set-priority" method="post">
    <div class="govuk-grid-column-two-thirds">
    <a href="plan" class="govuk-back-link">Back</a>  

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Select a debt category
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="set-debt-priority" name="set-debt-priority" type="radio" value="Priority or secured debt">
            <label class="govuk-label govuk-radios__label" for="set-debt-priority">
              Priority or secured debt
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="set-debt-priority-2" name="set-debt-priority" type="radio" value="Non-priority or unsecured debt ">
            <label class="govuk-label govuk-radios__label" for="set-debt-priority-2">
              Non-priority or unsecured debt 
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="set-debt-priority-3" name="set-debt-priority" type="radio" value="Don’t know ">
            <label class="govuk-label govuk-radios__label" for="set-debt-priority-3">
              Don’t know 
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>

<button class="govuk-button" data-module="govuk-button">
 Continue
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>
  {% if checked('adddebtcouncil','yes')%} 
        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor2'
      var name ='creditor2' 
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })
      </script>
   {% else %}
      <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor' 
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })
 </script>
   {% endif %}

   

{% endblock %}
