
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
Add previous name
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="names" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
        Add client’s previous name
      </h1>
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <label class="govuk-label" for="firstnameprev">
  Previous first name
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="firstnameprev" name="firstnameprev" type="text" autocomplete="firstnameprev" spellcheck="false" value="">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="middlenameprev">
    Previous middle name (optional)
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="middlenameprev" name="middlenameprev" type="text" autocomplete="middlenameprev" spellcheck="false" value="">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="lastnameprev">
    Previous last name 
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="lastnameprev" name="lastnameprev" type="text" autocomplete="lastnameprev" spellcheck="false" value="">
</div>
     
     {% include  "../includes/advisor/_show-confirmation.html" %} 

         <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="previousname" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="updateDebtType">
         hidden radio
        </label>
      </div>
      </div>



<button class="govuk-button" data-module="govuk-button">
Confirm and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
