
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
Debt details
{% endblock %}

{% block content %}

{% if checked('debtadded','5')%}
{% set debt = 5 %}
{% elif checked('debtadded','3')%}
{% set debt = 4 %}
{% elif checked('debtadded','2')%}
{% set debt = 3 %}
{% elif checked('debtadded','1')%}
{% set debt = 2 %}
{% else %}
{% set debt = 1 %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include  "../includes/advisor/_client_name_reference.html" %} 
      </div>
  <form class="form" action="plan#debts" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
     
      Debt details
      </h1>
      <h2 class="govuk-heading-m  govuk-!-margin-bottom-1">Creditor</h2>
       <p class="govuk-body ">{{ creditor3 | default("Lowel group") }}, <a href="add-debt-choose-creditor"> change creditor</a></p>

       <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="debttype{{ debt }}">
        Debt type
        </label>
        <input class="govuk-input govuk-input--width-10" id="debttype{{debt}}" name="debttype{{ debt }}" type="text" spellcheck="false" value="{{ debttype3 | default('Consumer credit')}}">
      </div>

 
 
{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "set-debt-priority3",
  name: "set-debt-priority3",
  fieldset: {
    legend: {
      text: "Select a debt category",
      isPageHeading: false,
      classes: "govuk-label govuk-label--m"
    }
  },
  items: [
    {
      value: "Priority",
      text: "Priority"
    },
    {
      value: "Non-priority",
      text: "Non-priority"
    }
  ]
}) }}
 
 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="creditcardDebtAmount">
   Estimated debt amount
  </label>
   <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
  <input class="govuk-input govuk-input--width-10" id="debtamount{{debt}}" name="debtamount{{ debt }}" type="text" spellcheck="false" value="{{ debtamount3 | default('1250') }}">
</div>
</div>

 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="debtReference">
    Reference (optional)
  </label>
  <span id="priority-debt-hint" class="govuk-hint">
    If you enter a 16 digit creditcard number, we will not show the first 8 numbers in any notification</span>
  <input class="govuk-input govuk-input--width-10" id="debtreference{{ debt }}" name="debtreference{{ debt }}" type="text" spellcheck="false" value="{{ debtreference3 | default('LW1234567') }}">
</div>

<div class="govuk-radios" style="display:none">
      
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="debtadded" type="radio" value="{{ debt }}" checked>
    <label class="govuk-label govuk-radios__label" for="debt">
     hidden radio
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="debt{{debt}}" type="radio" value="completed" checked>
    <label class="govuk-label govuk-radios__label" for="debt">
     hidden radio
    </label>
  </div>
  </div>




<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>



{% endblock %}
