
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Add a creditor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
  {% include  "../includes/advisor/_client_name_reference.html" %} 
  </div>
  {% if checked('adddebtcouncil','yes')%}
   <form class="form" action="add-debt-details-creditcard" method="post">
  {% else %}
   <form class="form" action="add-debt-details-council" method="post">
  {% endif %}
    <div class="govuk-grid-column-two-thirds">
    <a href="plan" class="govuk-back-link">Back</a>  
  <div class="govuk-form-group">
       <h1 class="govuk-label-wrapper"><label for="autocomplete-default" class="govuk-label govuk-label--xl" for="creditor">Add a creditor
</label></h1>   <span id="changed-name-hint" class="govuk-hint">
   Type the creditor’s name and select them from the list. 
    </span>
      <div id="tt-default" class="autocomplete-wrapper"></div>
  </div>
<p>If the creditor doesn’t appear on the list, you can 
<a href="add-debt-adhock-creditor">enter their details manually</a></p>

<button class="govuk-button" data-module="govuk-button">
 Continue
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>
  {% if checked('adddebtcouncil','yes')%} 
        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor2'
      var name ='creditor2' 
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })
      </script>
   {% else %}
      <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor' 
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })
 </script>
   {% endif %}

   

{% endblock %}
