
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
Add previous name
{% endblock %}

{% block content %}
{% if checked('debtor1','complete') %}
{% set debtor = 2 %}
{% else %}
{% set debtor = 1 %}
{% endif %}

  <div class="govuk-grid-row">
  <form class="form" action="names" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
        {% if checked('type-of-plan','Joint')%}
        <span class="govuk-caption-xl">Joint plan</span>
        Client {{debtor}} previous name
        {% else%}
        Add client’s previous name
        {% endif %}
      </h1>

</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <label class="govuk-label" for="previous-full-name">
  Previous full name
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="previous-full-name" name="previous-full-name{{debtor}}" type="text" autocomplete="previous-full-name" spellcheck="false" value="">
</div>


     
     {% include  "../includes/advisor/_show-confirmation.html" %} 

         <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="previousname{{ debtor }}" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="updateDebtType">
         hidden radio
        </label>
      </div>
      </div>



<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
