
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}
{% if checked('debtor1','complete') %}
{% set debtor = 2 %}
{% else %}
{% set debtor = 1 %}
{% endif %}
<div class="govuk-grid-row">
  <form class="form" action="collect-email" method="post">
 
    <div class="govuk-grid-column-full">
           <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
           <h1 class="govuk-heading-xl">
        
            {% if checked('type-of-plan','Joint')%}
            <span class="govuk-caption-xl">Joint plan</span>
            Client {{debtor}} addresses
            {% else%}
            Client addresses
            {% endif %}
           </h1>

           <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current address
              </dt>
              <dd class="govuk-summary-list__value">
               {% if checked('parv','yes')%}
                        <p> <strong class="govuk-tag govuk-tag--blue">
     Address Hidden
     </strong></p> 
     <p class="govuk-body govuk-!-font-weight-bold">This address will not be shared with any of your client's creditors</p>
     {% else %}
     {% endif %}
                 <p>
                 {% if data['sort']%} {{ sort }} <br> Marylebone <br>London<br>{{ postcode | default("W1H 1JS") }}
                {% else %}  
                <span class="govuk-!-display-block">{{addressline1 | default("44 Crawford St, Marylebone") }}</span>
                <span class="govuk-!-display-block">{{addresstown | default("London")}}</span>
                <span class="govuk-!-display-block">{{addresspostcode | default("W1H 1JS")}} </span> 
                <span class="govuk-!-display-block">{{country}}</span>  
                {% endif %}</p>
             
              </dd>
              <dd class="govuk-summary-list__actions">
              <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-size-19" href="address">
                  Change<span class="govuk-visually-hidden"> Address</span>
                </a></li>
              <li>
                <a class="govuk-link govuk-!-font-size-19" href="hide-address">
          {% if checked('parv','yes')%}
          Unhide the address
         {% else %} Hide address{% endif %}<span class="govuk-visually-hidden"> from creditors</span>
        
                </a>
              </li>  
              <ul>
              </dd>
            </div>
      
      {% if checked('addressCorres1','yes')%}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Correspondence address
        </dt>
        <dd class="govuk-summary-list__value">
          2 Willsford avenue<br> Kensington <br>WE33 1DG
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">Correspondence address</span>
          </a>
        </dd>
      </div>
      {% elif checked('addressCorres2','yes') %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Correspondence address
        </dt>
        <dd class="govuk-summary-list__value">
          100 Chesterfield street<br> Marylebone<br> London<br> WS3 5DF
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">Correspondence address</span>
          </a>
        </dd>
      </div>
      {% endif %}

      {% if checked('addressOther1','yes')%}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['otheraddresschoice1'] }}<br> Marylebone <br>London <br>{{ data['addressPostcodePrev1']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">Other address</span>
          </a>
        </dd>
      </div>
      {% elif checked('addressOther2','yes') %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['otheraddresschoice2'] }}<br> Marylebone <br>London <br>{{ data['addressPostcodePrev2']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">Other address</span>
          </a>
        </dd>
      </div>
  
      {% endif %}
     
     
          </dl>
          {% if checked('addressCorres1','yes')%}
          {% elif checked('addressCorres1','yes') and checked('debtor1','complete') %}
          <h2 class="govuk-heading-l">Correspondence address</h2>
          <p>Add your client’s correspondence address if they have one.</p>
          <p><a href="address-correspondence" class="">Add correspondence address</a></p>
          {% elif checked('addressCorres2','yes') %}
          {% else %}
          <h2 class="govuk-heading-l">Correspondence address</h2>
          <p>Add your client’s correspondence address if they have one.</p>
          <p><a href="address-correspondence" class="">Add correspondence address</a></p>
          {% endif %} 
          <h2 class="govuk-heading-l">Add client's other addresses in the last 3 years</h2>
          <p>Add all the addresses that are connected to debts your client has. This will help creditors to find information on the client’s debts.</p>
          <p><a href="address-prev" class="">Add other address</a></p>
          


<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
</div>
    </form>
</div>


{% endblock %}
