
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}
{% if checked('debtor1','complete') %}
{% set debtor = 2 %}
{% else %}
{% set debtor = 1 %}
{% endif %}
<div class="govuk-grid-row">
  <form class="form" action="address-history" method="post">
 
    <div class="govuk-grid-column-two-thirds">
           <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
     
        {% if checked('type-of-plan','Joint')%}
        <span class="govuk-caption-xl">Joint plan</span>
        Choose your client {{ debtor }} other address
        {% else%}
        Choose your client's other address
        {% endif %}
      </h1>

      {% if checked('debtor1','complete') %}
      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-body">{{ addressPostcodePrev2 | default("W1H 1JS")}} <a href="address">Change</a></p>

<div class="govuk-form-group">
  <label class="govuk-label" for="other-address-choice">
    Choose an address
  </label>
  <select class="govuk-select" id="otheraddresschoice" name="otheraddresschoice{{ debtor }}">
    <option value="published">3 addresses found</option>
    <option value="44 Crawford Street">12 Chesnut walk, Marylebone, London, {{ addressPostcodePrev2 | default("W1H 1JS") }}</option>
    <option value="47 Crawford Street">14 Chesnut walk, Marylebone, London, {{ addressPostcodePrev2 | default("W1H 1JS")}}</option>
    <option value="49 Crawford Street">16 Chesnut walk, Marylebone, London, {{ addressPostcodePrev2 | default("W1H 1JS") }}</option>
  </select>
</div>
      {% else %}
      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-body">{{ addressPostcodePrev1 | default("W1H 1JS")}} <a href="address">Change</a></p>

<div class="govuk-form-group">
  <label class="govuk-label" for="other-address-choice">
    Choose an address
  </label>
  <select class="govuk-select" id="otheraddresschoice" name="otheraddresschoice{{ debtor }}">
    <option value="published">3 addresses found</option>
    <option value="44 Crawford Street">2 Monmouth Drive, Marylebone, London, {{ addressPostcodePrev1  | default("W1H 1JS") }}</option>
    <option value="47 Crawford Street">4 Monmouth Drive, Marylebone, London, {{ addressPostcodePrev1 | default("W1H 1JS")}}</option>
    <option value="49 Crawford Street">6 Monmouth Drive, Marylebone, London, {{ addressPostcodePrev1 | default("W1H 1JS") }}</option>
  </select>
</div>
      {% endif %}



<div class="govuk-radios" style="display:none">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="addressOther{{ debtor }}" type="radio" value="yes" checked>
    <label class="govuk-label govuk-radios__label" for="task">
     hidden radio
    </label>
  </div>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<p class="govuk-body"><a href="address-manual-other">Add address manually</a></p>
    </div>
    </form>
</div>
{% endblock %}
