
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

{% set heading = "correspondence" %}

  <div class="govuk-grid-row">
  <form class="form" action="address-history" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

     {% include  "../includes/advisor/_address-manual-form-fields.html" %} 

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="addressCorres" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="task">
         hidden radio
        </label>
      </div>
      </div>

<button class="govuk-button" data-module="govuk-button">
   Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
