
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <form class="form" action="address-history" method="post">
 
    <div class="govuk-grid-column-two-thirds">
           <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       Choose your client's correspondence address
      </h1>



      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-body">{{ addressPostcodeCorres | default("W1H 1JS")}} <a href="address">Change</a></p>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Choose an address
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">3 addresses found</option>
    <option value="44 Crawford Street">44 Crawford St, Marylebone, London, {{ addressPostcodeCorres  | default("W1H 1JS") }}</option>
    <option value="47 Crawford Street">47 Crawford St, Marylebone, London, {{ addressPostcodeCorres  | default("W1H 1JS")}}</option>
    <option value="49 Crawford Street">49 Crawford St, Marylebone, London, {{ addressPostcodeCorres | default("W1H 1JS") }}</option>
  </select>
</div>

<div class="govuk-radios" style="display:none">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="addressCorres" type="radio" value="yes" checked>
    <label class="govuk-label govuk-radios__label" for="task">
     hidden radio
    </label>
  </div>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<p class="govuk-body"><a href="address-manual-correspondence">Add address manually</a></p>
    </div>
    </form>
</div>
{% endblock %}
