
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
Confirm you use this information this Breathing Space to pre populate the debt repayment plan
{% endblock %}


{% block content %}
  <form class="form" action="plan-inc1" method="post">

  <div class="govuk-grid-row">
 
   <div class="govuk-grid-column-three-quarters">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
<h1 class="govuk-heading-xl">
  {% if checked('type-of-plan','Joint')%}<span class="govuk-caption-xl">Joint plan</span>{% endif %}
  Confirm information from Breathing Space for this debt repayment plan</h1>

<p>This information can be updated at any time after confirmation.</p>

<h3 class="govuk-heading-m">Client {% if checked('type-of-plan','Joint')%}1{% endif %} details</h3>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Reference"
      },
      value: {
        html: data['bs-ref'] | default('BS12345678')
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "04 August 1980"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m">Debts</h3>

{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Creditor"
      },
      value: {
        text: "Westminster city council"
      }
    },
    {
      key: {
        text: "Debt type"
      },
      value: {
        text: "Council tax"
      }
    },
    {
      key: {
        text: "Debt amount"
      },
      value: {
        text: "£1159"
      }
    },
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "00456732555WM"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Creditor"
      },
      value: {
        text: "Halifax creditcards only"
      }
    },
    {
      key: {
        text: "Debt type"
      },
      value: {
        text: "Creditcard"
      }
    },
    {
      key: {
        text: "Debt amount"
      },
      value: {
        text: "£6345"
      }
    },
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "HAl12345678"
      }
    }
  ]
}) }}


{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Creditor"
      },
      value: {
        text: "Lowel group"
      }
    },
    {
      key: {
        text: "Debt type"
      },
      value: {
        text: "Consumer credit"
      }
    },
    {
      key: {
        text: "Debt amount"
      },
      value: {
        text: "£1250"
      }
    },
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "LW1234567"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Creditor"
      },
      value: {
        text: "Joes garage"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "22 Hanworth Road<br> London <br> WM33 1DQ"
      }
    },
    {
      key: {
        text: "Debt type"
      },
      value: {
        text: "Car repair"
      }
    },
    {
      key: {
        text: "Debt amount"
      },
      value: {
        text: "£475"
      }
    },
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "MB08 HJB"
      }
    }
  ]
}) }}





<a href="plan-inc1?reference=SDRP033228" class="govuk-button">Confirm and continue</a>

</div></div>
</form>
{% endblock %}
