
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
Confirm information from Breathing Space for this debt repayment plan
{% endblock %}


{% block content %}
  <form class="form" action="plan-inc1" method="post">

  <div class="govuk-grid-row">
 
   <div class="govuk-grid-column-three-quarters">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
<h1 class="govuk-heading-xl">Confirm information from Breathing Space for this debt repayment plan</h1>


<p>This can be amended at any time after confirmation.</p>

<h3 class="govuk-heading-m">Client details</h3>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

      {
      key: {
        text: "Reference"
      },
      value: {
        html: data['bs-ref'] | default('BS12345678')
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "04 August 1980"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m">Debt details</h3>
<p>Your client was entered into a Breathing Space arrangement by <strong>Stepchange</strong>, so you cannot import existing debt information at this time.</p>
<p>You can either:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>request a <a href="">transfer of the debt information</a> from  <strong>Stepchange</strong></li>
  <li>confirm the client’s personal details and enter the debts manually</li>
</ul>



<a href="plan-inc1?reference=SDRP033228" class="govuk-button">Confirm and continue</a>

</div></div>
</form>
{% endblock %}
