
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
  Manage a debt repayment plan
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <form class="form" action="confirm-details" method="post">

      <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
     <h1 class="govuk-heading-xl">Confirm your client does not have an email address or access to emails</h1>

    <p>If your client has an email they will have electronic access to their plan details and receive notifications more quickly.</p>
    <p>Until they have an email or have sought help to digitally upskill themselves we’ll send any notifications by post.</p>
  
    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="email" type="radio" value="no" checked>
        <label class="govuk-label govuk-radios__label" for="task">
         hidden radio
        </label>
      </div>
      </div>
  
  
    <button class="govuk-button" data-module="govuk-button">
   Confirm and continue
  </button>
      </div>
      </form>
  </div>

{% endblock %}
