
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
    Check client details
      </h1>

{% include  "../includes/advisor/_client_details.html" %} 


<button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
  Continue
</button>
    </div>
    </form>
</div>

{% endblock %}
