
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
Do you want to add your client’s Breathing Space information to the plan?
{% endblock %}


{% block content %}
  <form class="form" action="details" method="post">

  <div class="govuk-grid-row govuk-!-margin-top-5">

   <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
<!--<span class="govuk-caption-xl">Joint plan</span>-->
{% set yesHtml %}
{{ govukInput({
  id: "bs-ref",
  name: "bs-ref",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter your Breathing Space reference"
  }
}) }}
{% endset -%}
{% if checked('type-of-plan','Joint') or case.type =='Joint' %}
{{ govukRadios({
  idPrefix: "create-gaurd",
  name: "create-gaurd",
  fieldset: {
    legend: {
      text: "Do you want to add client 1 Breathing Space information to the plan?
",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "yes~bs-confirm",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{% else %}
{{ govukRadios({
  idPrefix: "create-gaurd",
  name: "create-gaurd",
  fieldset: {
    legend: {
      text: "Do you want to add your client’s Breathing Space information to the plan?
",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "yes~bs-confirm",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{% endif %}




<button class="govuk-button">Continue</button>

</div></div>
</form>
{% endblock %}
