
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Confirm debt details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
  {% include  "../includes/advisor/_client_name_reference.html" %} 
  </div>
  <form class="form" action="confirm-debt-discrepancies" method="post">
    <div class="govuk-grid-column-three-quarters">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
        Creditor has sold a debt
      </h1>
      <p class="govuk-body-l">
        Next retail plc has sold this debt to Lowell
      </p>
      </div>
      <div class="govuk-grid-column-full">
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
     Creditor
    </dt>
    <dd class="govuk-summary-list__value">
     Lowell
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
    Debt type
    </dt>
    <dd class="govuk-summary-list__value">
      Store card
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
     Amount owed
    </dt>
    <dd class="govuk-summary-list__value">
     £1291
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
     Reference
    </dt>
    <dd class="govuk-summary-list__value">
     £NX23452345
    </dd>
  </div>
</dl>

<div class="govuk-radios" style="display:none">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="" name="task" type="radio" value="confirmSoldDebt~plan?reference={{case.reference}}" checked>
    <label class="govuk-label govuk-radios__label" for="councilDebtType">
     hidden radio for hacky prototype
    </label>
  </div>
  </div>
  {% include "../includes/_show-confirmation.html" %}
<button class="govuk-button" data-module="govuk-button">
Confirm and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
