
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="plan" method="post">
<div class="govuk-grid-column-full">
  {% include  "../includes/advisor/_client_name_reference.html" %} 
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 

      <h1 class="govuk-heading-xl govuk-!-width-two-thirds">
       Confirm you want to add these debts to your clients plan
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
       Creditor
          </dt>
          <dd class="govuk-summary-list__value">
          	Lowell
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
       Debt type
          </dt>
          <dd class="govuk-summary-list__value">
            Catologue
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
       Amount owed
          </dt>
          <dd class="govuk-summary-list__value">
            £375
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Reference
          </dt>
          <dd class="govuk-summary-list__value">
            L0-3456-D-456
          </dd>
        </div>
      </dl>



      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
       Creditor
          </dt>
          <dd class="govuk-summary-list__value">
           Lowell
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
       Debt type
          </dt>
          <dd class="govuk-summary-list__value">
            Mobile phone
          </dd>
        </div>
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
       Amount owed
          </dt>
          <dd class="govuk-summary-list__value">
            £580
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Reference
          </dt>
          <dd class="govuk-summary-list__value">
            L0-6785-M-346
          </dd>
        </div>
      </dl>
      <div class="govuk-radios" style="display:none">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="" name="task" type="radio" value="addeddebts~plan?reference={{case.reference}}" checked>
          <label class="govuk-label govuk-radios__label" for="councilDebtType">
           hidden radio for hacky prototype
          </label>
        </div>
        </div>
    {% include "../includes/_show-confirmation.html" %}

  </fieldset>
  <button class="govuk-button">Confirm</button>
</div>

    </div>
    </form>
</div>





{% endblock %}
