<li>
<div class="card">
  <form class="form" action="" method="post">
                  <button class="govuk-body govuk-link  govuk-!-font-weight-bold govuk-!-display-block govuk-!-margin-bottom-3">
                {% if checked('newclient','yes') and customer.reference == 'BS0004623' %}
                    {{firstname | default('Joe')}} {{middlename}} {{lastname | default('Black')}}
                {% else %}
                {{ customer.name}}
                {% endif %}
                  </button>


  <div class="govuk-radios__item  govuk-visually-hidden">
                            <input class="govuk-radios__input" id="protections" name="protection" type="radio" value="hide~account-landing-tabs?reference={{customer.reference}}" checked>
                            <label class="govuk-label govuk-radios__label" for="protections">
                              Yes
                            </label>
                          </div>
</form>
 <hr class="govuk-section-break govuk-section-break--visible">

{% if customer.todo == 'Yes'%}
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-3">To do</strong>
  {% elif customer.status == 'review' and customer.type == 'type2' or customer.clientReview == 'yes'  or customer.status == 'dont-own' and customer.type == 'type2' %}  
   <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-3">Sent to money adviser</strong>
{% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-font-size-16">
    <li>Status:{% include "./_status-playback.html" %}</li>
    <li>Date entered: 
    
    {% if checked('newclient','yes') and customer.reference == 'BS0004623' %}
    {{ 'Do MMMM YYYY' | baseDateAdd(0) }}
    {% else %}
    {{ customer.startdate }}{% endif %}</li>
    {% if customer.status == 'client-review-accepted' %}
     <li>Date ended: {{ 'Do MMMM YYYY' | baseDateAdd(0) }}</li>
    {% else %}
    <li>Date ends: {{ 'Do MMMM YYYY' | baseDateAdd(60) }}</li>
    {% endif %}
        <li>Debt type: Housing benefit</li>
    <li>
     Breathing Space reference: 
     {{customer.reference  | default("BSS00012585") }}
    </li>
    <ul>
  </div>
</div>
</div>
</li>