<li>
 <div class="govuk-grid-row">
 <div class="govuk-grid-column-full">
 <a class="govuk-link govuk-!-font-weight-bold" href="account-landing-tabs?reference={{customer.reference}}">{{ customer.name}}</a>
  <!--<strong class="govuk-tag govuk-tag--blue pull-right">Asked for client review</strong>-->
 <hr class="govuk-section-break govuk-section-break--visible">
{% if customer.todo == 'Yes'%}
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-3">To do</strong>
  {% elif customer.status == 'review' and customer.type == 'type2' or customer.clientReview == 'yes'  or customer.status == 'dont-own' and customer.type == 'type2' %}  
   <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-3">Sent to money advisor</strong>
{% endif %}
 </div>
    <div class="govuk-grid-column-one-half">
    <ul class="govuk-list">
    <li> Status: {% include "./_status-playback.html" %}</li>
    <li>Date entered {{ customer.startdate }}</li>
    <li>Date ends {{ 'Do MMMM YYYY' | baseDateAdd(60) }}</li>
    <ul>
  </div>
    <div class="govuk-grid-column-one-half">
    <ul class="govuk-list">
    <li>Debt type: Self assessment</li>
    <li>Reference: {{customer.reference}}</li>
    <li>NI number: {{customer.nino}}</li>
    </ul>
  </div>
</div>
</li>