      <ul class="govuk-list">
      <li>Debt type: Housing benefit </li> 
      <!-- <li>Status: {% include "./_status-playback.html" %}</li> -->
      <li>Amount: 
       {% if checked('newclient','yes') and customer.reference == 'BS0004623' %}£{{ amount | default("1245") }}
      {% elif customer.status == 'applied'%}
      £1850
    {% elif customer.status == 'new' or customer.status == 'dontown' %}
      £1850
    {% elif customer.status == 'review'%}
      £770
    {% elif customer.status == 'review-rejected' or customer.status == 'dispute'%}
     £545
    {% elif customer.status == 'review-accepted'%}
     £345
     {% else %}
     £567
    {% endif%}
    </li> 
     <li> Reference: 
      {% if checked('newclient','yes') and customer.reference == 'BS0004623' %}
      {{ debtReference1 | default("NCC-HB23190")  }}
      {% else %}
     {{customer.debtreference  | default("RD56tggg") }}
     {% endif %}
     </li>
    <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
      <li>           {% if customer.status == 'review-accepted' or customer.status == 'client-review-accepted'%}
              Debt removed on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}
               {% else %}
               Breathing space ends {{ 'Do MMMM YYYY' | baseDateAdd(60) }}
               {% endif%}
     </li>          
             </ul>