<nav id="nav"  class="secondary">
  <div class="navbar govuk-width-container">
     <ul class="navbar__list-items signin">
       <li>
        <p>Jo Clarkson</p>
      </li>
      <li>
        <p> {% include "./_creditor.html" %}</p>
      </li>
      <li>
        <a href="#">Sign out</a>
      </li>
    
    </ul>
    <ul class="navbar__list-items">
      <li class="active">
        <a href="homepage">Home</a>
      </li>
      <li>
        <a href="not-testing">Search for account</a>
      </li>
    </ul>
  </div>
</nav>