
{% if checked('status','PA') 
or checked('status','R') 
or customer.status == 'new' and data['clientReviewConfirm'] !=='yes'
or checked('status','DO')
or checked('status','dont-own')
or checked('status','dispute')
or checked('status','propDebt')
or customer.status == 'review-accepted' and data['protection'] !=='completed'
or checked('status','RC') and checked('protection','complete')
or customer.status == 'review-rejected' and data['protection'] !=='rejectedcompleted'
%}
  {% elif checked('protection','yes')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've stopped all action against the debt</p>
</div>

{% elif checked('protection','rejectedcompleted') or checked('protection','completed') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've confirmed you don't need to do anything else with this debt</p>
  </div>

  {% elif checked('addDebtStep2','yes') or checked('addDebtStep2','yes') and checked('protection','yes') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We've told the money adviser that you've proposed a debt that should be included in Breathing Space
  </p>
  </div>

    {% elif checked('clientReviewConfirm','yes') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You requested a review of client eligibility
  </p>
  </div> 
{% elif checked('protection','no') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've stopped all action against the debt and asked the money adviser for a review</p>
</div>

{% elif checked('protection','dontOwn')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We have informed Advice uk that we you have sold the debt</p>
</div>


  {% elif checked('protection','rejected-complete')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have confirmed 
  {% if checked('debtStatus','dispute')%}
that the protections will remain but you dispute the eligibilty
{% else %}
that the protections will remain in place
{% endif %}
</div>
{% endif %}