
{% if checked('status','PA') 
or checked('status','R') 
or customer.status == 'new' and data['clientReviewConfirm'] !=='yes'
or checked('status','DO')
or checked('status','dont-own')
or checked('status','dispute')
or checked('status','propDebt')
or customer.status == 'review-accepted' and data['protection'] !=='complete'
or checked('status','RC') and checked('protection','complete')
or customer.status == 'review-rejected' and data['protection'] !=='rejected-complete'
%}
  {% elif checked('protection','yes')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have applied the protections to the debt</p>
</div>

  {% elif checked('addDebtStep2','yes') or checked('addDebtStep2','yes') and checked('protection','yes') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We have informed Advice uk that you have proposed a debt that should be included in Breathing Space
  </p>
  </div>

    {% elif checked('clientReviewConfirm','yes') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You requested a review of client eligibility
  </p>
  </div> 
{% elif checked('protection','no') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have applied the protections and requested a review of debt eligibility</p>
</div>

{% elif checked('protection','dontOwn')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We have informed Advice uk that we don't own this debt anymore</p>
</div>

{% elif checked('protection','complete') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You completed the tasks needed because the debt has been removed</p>
  </div>

  {% elif checked('protection','rejected-complete')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have confirmed 
  {% if checked('debtStatus','dispute')%}
that the protections will remain but you dispute the eligibilty
{% else %}
that the protections will remain in place
{% endif %}
</div>
{% endif %}