
{% if checked('status','PA') 
or checked('status','R') 
or checked('status','DO')
or checked('status','dont-own')
or checked('status','dispute')
or customer.status == 'review-accepted' and data['protection'] !=='completed'
or checked('status','RC') and checked('protection','complete')
or customer.status == 'review-rejected' and data['protection'] !=='rejectedcompleted'
or customer.status == 'client-review-accepted' and data['protection'] !=='clientreviewactioncompleted'

%}

  {% elif checked('protection','yes')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've stopped all action against the debt</p>
</div>

{% elif checked('protection','clientreviewactioncompleted') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've confirmed you don't need to do anything else with this client review</p>
  </div>

{% elif customer.status == 'client-review-rejected' and checked('protection','rejectedcompleted') or customer.status == 'client-review-accepted' and checked('protection','clientreviewactioncompleted') or customer.status == 'review-rejected' and checked('protection','rejectedcompleted')  %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've confirmed you don't need to do anything else with this debt</p>
  </div>

{% elif checked('clientReviewConfirm','yes') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have asked the money advisor to review the clients eligibility
  </p>
  </div> 

  {% elif checked('status','propDebt') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We've told the money adviser that you've sent a debt that should be included in Breathing Space
  </p>
  </div>

{% elif checked('protection','no') %}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You've stopped all action against the debt and asked the money adviser for a review</p>
</div>

{% elif checked('protection','dontOwn')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">We've told Advice uk you've sold the debt</p>
</div>


  {% elif checked('protection','rejected-complete')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  <p class="govuk-body">You have confirmed 
  {% if checked('debtStatus','dispute')%}
that the protections will remain but you dispute the eligibilty
{% else %}
that the protections will remain in place
{% endif %}
</div>
{% endif %}