    {% if customer.status == 'applied' %}
      Protections applied
      {% elif customer.status == 'dont-own' %}
      We dont own the debt anymore
    {% elif customer.status == 'new' %}
      New debt added
    {% elif customer.status == 'review'%}
      Review requested
    {% elif customer.status == 'review-rejected'%}
      Review completed - debt eligible
    {% elif customer.status == 'review-accepted'%}
      Review completed - debt ineligible
      {% elif customer.status == 'dispute'%}
      We dispute eligibility

    {% endif%}