
      <ol class="app-task-list">
        <li>
          <h3 class="govuk-heading-m">
           Tasks
          </h3>
          <ul class="app-task-list__items govuk-!-margin-bottom-5">
              <li class="app-task-list__item">
                   {% if customer.status == 'review' %}
             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="read-declaration-status">Sent to money adviser</strong>
                {% elif customer.status == 'dont-own' %}
             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="read-declaration-status">Sent to money adviser</strong>
            {% elif customer.status == 'applied' or customer.status == 'dont-own' or customer.status == 'review-accepted' and checked('protection','completed') or customer.status == 'review-rejected' and checked('protection','rejectedcompleted')  %}
             <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Complete</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
            {% endif %} 
              <h4 class="govuk-heading-s">   
 {% if customer.status == 'review-accepted' or customer.status == 'review-rejected'%}
                A money adviser has reviewed the debt
{% elif customer.status == 'new' %} 
A money adviser has added a new debt  
{% elif customer.status == 'review' %}       
 We have asked the money advisor to review this debt   
  {% elif customer.status == 'dont-own' %} 
We have told the money advisor we've sold this debt 
  {% elif customer.status == 'applied' %} 
All recovery action against this debt has been stopped
 {% endif %}
   </h4>

              {% if customer.status == 'review-accepted' %}
            <div class="govuk-details__text govuk-!-margin-bottom-2 govuk-!-margin-top-2 govuk-tag--blue">
            <p><strong>Outcome of review: </strong>debt removed from Breathing Space</p>
            </div>
            {% elif customer.status == 'review-rejected'%}
            <div class="govuk-details__text govuk-!-margin-bottom-2 govuk-!-margin-top-2 govuk-tag--blue">
            <p><strong>Outcome of review:</strong> debt not removed from Breathing Space</p>
            </div>
            {% endif %}  

       {% include "./_debt-amount-ref-v2.html" %}
            {% if customer.status == 'new' or customer.status == 'applied' %} 
                          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Choose an option</h2>   
            {% endif %}                
              <span class="app-task-list__task-name">
                  {% if customer.status == 'review'  %}
                    <a href="review-debt-details?reference={{customer.reference}}" >
                         View review details
                  </a>
                 
                  {% elif customer.status == 'review-accepted' and checked('protection','completed')  %}
                    <a href="review-debt-details?reference={{customer.reference}}">
                        View  review details
                  </a>

                   
                  {% elif customer.status == 'review-rejected' and checked('protection','rejectedcompleted')   %}
                    <a href="review-debt-details-rejected?reference={{customer.reference}}">
                        View  review details
                  </a>

                 {% elif customer.status == 'review-accepted' %}
                 
                    <a href="review-debt-details?reference={{customer.reference}}" class="govuk-button govuk-button--secondary">
                       View review details and confirm you have completed your to do 
                  </a>

                   {% elif customer.status == 'review-rejected' %}
                 
                    <a href="review-debt-details-rejected?reference={{customer.reference}}" class="govuk-button govuk-button--secondary">
                       View review details and confirm you have completed your to do 
                  </a>
        
                  {% elif customer.status == 'applied' %} 

                       <a href="review-debt?reference={{customer.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
                        The debt's not eligible, ask for a review
                      </a>
                    

                       <a href="sold-the-debt?reference={{customer.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
                        We've sold this debt
                      </a>

                     {% elif customer.status == 'dont-own' %} 
                    <a href="sold-the-debt-details?reference={{customer.reference}}">
                         View details
                    </a>
                  {% else %}
                       
  

                     <a href="protections-confirm?reference={{customer.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
                         We've stopped all action
                    </a>

                  

                       <a href="review-debt?reference={{customer.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
                        The debt's not eligible, ask for a review
                      </a>

                       <a href="sold-the-debt?reference={{customer.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
                        We've sold this debt
                      </a>


                 {% endif %}
                 
              </span> 
              </li>
              {% if customer.substatus == 'proposedDebt' %}
              <li class="app-task-list__item">
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="read-declaration-status">Sent to Money Adviser</strong>
              <h4 class="govuk-heading-s">
              We have proposed a new debt to the money adviser
             </h4>

              <ul class="govuk-list">
                <li>Debt type: {% if checked('typeOfDebt','other')%}
                            {{ otherdebt }}
                            {% else %}
                            {{typeOfDebt}}
                            {% endif %}     
                </li>
                <li>Amount: £{{ addamount }}</li>
                <li>Reference:{{ addreference }}</li>
                </ul> 
              
                <span class="app-task-list__task-name">
                <a href='add-debt-details?reference={{customer.reference}}'>View proposed debt details</a>
                </span>
           
              </li>
              {% endif %}
                         {% if customer.clientReview == 'yes' %}
              <li class="app-task-list__item">
               <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="read-declaration-status">Sent to money adviser</strong>
              <h4 class="govuk-heading-s">
           We have asked the money advisor to review the clients eligibility  
              </h4>
                <span class="app-task-list__task-name">
                <a href='review-client-details?reference={{customer.reference}}'>View review details</a>
                </span>
           
              </li>
              {% endif %}
          </ul>
        </li>
      </ol>