
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have permission to access this service</h1>
        <p class="govuk-body">
          As you have informed us that you have sold the debt, you no longer have access to the individuals Breathing Space.
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
