
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  <form class="form" action="test" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
 Confirm you've stopped all recovery action against this debt
      </h1>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "You would confirm this once you have stopped recovery action on your own systems or completed any other process required outside this service."
}) }}


<h2 class="govuk-heading-m ">Debt</h3>
  {% include "./_debt-amount-ref-v2.html" %}



    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="protection" type="radio" value="yes~./account-landing-tabs?reference={{customer.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="protection">
         hidden radio
        </label>
      </div>
      </div>

<button class="govuk-button" data-module="govuk-button">
  Confirm and submit
</button>
    </div>
    </form>
</div>

{% endblock %}
