
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  {% if checked('reset2','yes')%}
  <form class="form" action="" method="post">
  {% elif checked('protection','rejectedcompleted') %}
  <form class="form" action="" method="post">

    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="reset2" type="radio" value="yes~./account-landing-tabs?reference={{customer.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="reset2">
         hidden radio
        </label>
      </div>
      </div>


      <button class="md-trigger" id="modal" data-modal="modal"></button>
  {% else %}
    <form class="form" action="" method="post">
  {% endif %}
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
       Review details
      </h1>



      <h2 class="govuk-heading-l">Outcome of review</h2>
              <div class="govuk-details__text govuk-!-margin-bottom-5 govuk-!-margin-top-6 govuk-tag--blue">
               <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Reviewed by {% include "./_advise-org-name.html" %}</h2>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Outcome of review</h3>
                    <p class="govuk-body">Debt not removed from Breathing Space</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More detail</h3>
                    <p class="govuk-body">
                    The client is a sole trader and his business is not registered for Vat, so the debt qualifies as a personal debt under the clients name as a sole trader.
                    </p>           
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Reviewed: {% include "./_ma-advisor.html" %}, {% include "./_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
              </div>

     
             
       
              <h2 class="govuk-heading-m">{% include "./_creditorname.html" %} asked the money adviser to review the debt</h2>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Debt</h3>
               {% include "./_debt-amount-ref-v2.html" %}           
 
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Why this debt is not eligible</h3>
  
                    <p class="govuk-body">
                             {% if customer.status == 'review-accepted' or customer.status == 'review-rejected' %}
                              We have evidence that this is a debt secured against the clients business, Elsada Co, So believe this debt isn't eligible for Breathing Space.
                              {% else %}
                              {{ moreDetail | default ("We have evidence that this is a debt secured against the clients business, Elsada Co, So believe this debt isn't eligible for Breathing Space.") }}
                              {% endif %}
                    </p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Requested by</h3>
                    <p class="govuk-body">{% include "./_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
            

{% if customer.status == 'review-rejected' and checked('protection','rejectedcompleted') %}
{% elif customer.status == 'review-rejected' %}
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-form-group govuk-!-margin-top-7">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Would you like to remove this task from your to do list?
      </h1>
    </legend>
     <div id="completed-hint" class="govuk-hint">
       You would do this once you have updated your own systems or completed any other process required outside this service.
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input facet" id="debtStatus-2" name="protection" type="radio" value="rejectedcompleted~./review-debt-details-rejected?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus-2">
          Yes, we've done everything we need to
        </label>
      </div>

    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus" name="protection" type="radio" value="rejectedtodo~./account-landing-tabs?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus">
          No, we still have things to do
        </label>
      </div>
      </div>
  </fieldset>
</div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


{% endif %}
    </div>
    </form>
</div>

{% endblock %}
