
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="test" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
  <!-- <span class="govuk-caption-xl">Add a debt</span> -->
 Confirm review details
      </h1>
<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Debt</h3>
   <hr class="govuk-section-break govuk-section-break--visible">
 <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {%if checked('creditortype','financial')%} 
                 Loan
                {% else %}
                Housing benefit 
                {% endif %}
              <p class="govuk-body-s govuk-!-margin-top-1">Status:<br>New debt added</p>
            </dt>
            <dd class="govuk-summary-list__value">
               {% include "./_debt-amount-ref.html" %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
      </div>
  </dl>          

<h2 class="govuk-heading-m govuk-!-margin-bottom-5">You are requesting that   {% include "creditor-mvp/_advise-org-name.html" %}  review debt eligibility</h2>

<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason:</h3>
<p class="govuk-body">{{ debtReview }}</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">More detail:</h3>
<p class="govuk-body">{{ moreDetail }}</p>

 
              <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="protection" type="radio" value="no~./account-landing-tabs?reference={{customer.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="protection">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Confirm and submit to Breathing Space
</button>
    </div>
    </form>
</div>

{% endblock %}
