
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="review-client-confirm" method="post">
    <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Why is the client not eligible?
      </h1>
    </legend>
       {% include "./_client-review-capture.html" %}
 


      <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debtStatus" type="radio" value="clientReview~./review-client-confirm?reference={{customer.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="debtStatus">
         hidden radio
        </label>
      </div>
      </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
