
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}



  <form class="form" action="/advisor-latest/index" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Time machine</h1>

      <p class="govuk-body-l">Once the review is requested we notify Advice uk of this</p>


      <h2 class="govuk-heading-m">Money advice orgainastion</h2>
      <p>Advice UK recieve a notification, a staff member accesses the record</p>


 <p><a href="/advisor-latest/index?reference=BS0004623" class="govuk-button">Save and continue</a></p>

       </div> 

    </form>


{% endblock %}
