
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-step2" method="post">
    <div class="govuk-grid-column-two-thirds">
         <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Step 1 of 2</span>
       Add a debt
      </h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Choose creditor
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">3 creditors found</option>
    <option value="two">Barclaycard</option>
    <option value="three">Barclays Bank Plc</option>
    <option value="four">Barclays Partner Finance</option>
  </select>
</div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>




{% endblock %}
