
{% extends "layout-developerv2.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

      {% block breadcrumbsection %}

           <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>

              <li class="govuk-breadcrumbs__list-item">
     Client credentials
    </li>
    
        {% endblock %}

{% block content %}



  <form class="form" action="index" method="post">

  
    <div class="govuk-grid-row">

<div class="govuk-grid-column-full"> 
    <!-- <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   -->
<h1 class="govuk-heading-l">Client credentials</h1>
<a href="add-credentials-name" class="govuk-button govuk-button--secondary govuk-!-margin-right-2">Add client credentials</a>
    <table class="govuk-table">
       <caption class="govuk-table__caption">All client credentials</caption>
        <thead>
            <tr>
                <th scope="row" class="govuk-table__header" >Name</th>
                <th scope="row" class="govuk-table__header" ></th>
                <th scope="row" class="govuk-table__header" ></th>
            </tr>
        </thead>
        <tbody>
        {% if data['api']%}
            <tr>
                <td class="govuk-table__cell" >{{credentialname}}</td>
                <td class="govuk-table__cell" ><a href="deletecredential">Delete</a></td>
                <td class="govuk-table__cell" ><a href="manage-credential">Manage</a></td>
            </tr>
        {% endif %}
        {% if checked('deletecredential','yes')%}
        {% else %}
            <tr>
                <td class="govuk-table__cell" >Sam nttdaa email client credentials</td>
                <td class="govuk-table__cell" ><a href="deletecredential">Delete</a></td>
                <td class="govuk-table__cell" ><a href="manage-credential">Manage</a></td>
            </tr>
        {% endif %}    
        </tbody>
    </table>

      </div>
      </div>
    </div>
    </form>


{% endblock %}

