
 <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {%if checked('creditortype','financial')%} 
                 Loan
                {% else %}
                Housing benefit 
                {% endif %}
              <p class="govuk-body-s govuk-!-margin-top-1">Status:<br>{% include "./_status-playback.html" %} </p>
            </dt>
            <dd class="govuk-summary-list__value">
               {% include "./_debt-amount-ref.html" %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
      </div>
  </dl>          