
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="#" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
Review details
      </h1>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<hr class="govuk-section-break govuk-section-break--visible">
{% include "./_debt-info.html" %} 
       
              
                    <p class="govuk-body-l">We've asked the money adviser to review the debt</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Request reason</h3>
                    <p class="govuk-body">{{ debtReview | default ("The debt does not qualify for Breathing Space")}}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More detail</h3>
  
                    <p class="govuk-body">
                             {% if customer.status == 'review-accepted' or customer.status == 'review-rejected' %}
                              We have evidence that this is a debt secured against the clients business, Elsada Co, So believe this debt isn't eligible for Breathing Space.
                              {% else %}
                              {{ moreDetail | default ("We have evidence that this is a debt secured against the clients business, Elsada Co, So believe this debt isn't eligible for Breathing Space.") }}
                              {% endif %}
                    </p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Requested by</h3>
                    <p class="govuk-body">{% include "./_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
              
        {% if customer.status == 'review-accepted' %}
           <div class="govuk-details__text govuk-!-margin-bottom-5 govuk-!-margin-top-6 govuk-fullborder--blue">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Reviewed by {% include "./_advise-org-name.html" %}<br><strong class="govuk-tag govuk-tag--red">debt not eligible</strong> </h2>
                    <p class="govuk-body-l">The debt is not eligible. The money adviser has removed it from Breathing Space</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More detail</h3>
                    <p class="govuk-body">
                    The client has agreed that this was a debt accociated with their business
                    </p> 
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reviewed by</h3>          
                    <p class="govuk-body">{% include "./_ma-advisor.html" %}, {% include "./_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
            </div>

    {% endif %} 

      {% if customer.status == 'review-rejected'  or customer.status == 'dispute' %}
              <div class="govuk-details__text govuk-!-margin-bottom-5 govuk-!-margin-top-6 govuk-fullborder--blue">
               <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Reviewed by {% include "./_advise-org-name.html" %}<br><strong class="govuk-tag govuk-tag--green">debt eligible</strong> </h2>
                    <p class="govuk-body-l">The debt is eligible and will stay in Breathing Space</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More detail</h3>
                    <p class="govuk-body">
                    The client is a sole trader and his business is not registered for Vat, so the debt qualifies as a personal debt under the clients name as a sole trader.
                    </p>           
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Reviewed: {% include "./_ma-advisor.html" %}, {% include "./_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
              </div>

    {% endif %}   

{% if customer.status == 'review-rejected' and checked('protection','rejectedcompleted') %}
{% elif customer.status == 'review-rejected' %}
<div class="govuk-form-group govuk-!-margin-top-7">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is there anything else you need to do with this debt?
      </h1>
    </legend>
     <div id="completed-hint" class="govuk-hint">
      This could include updating your own systems or any other process outside this service.
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus" name="protection" type="radio" value="rejectedtodo~./account-landing-tabs?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus">
          Yes, we still have things to do
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input facet" id="debtStatus-2" name="protection" type="radio" value="rejectedcompleted~./account-landing-tabs?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus-2">
          No, we've done everything we need to
        </label>
      </div>
    </div>
  </fieldset>
</div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


{% endif %}


{% if customer.status == 'review-accepted' and checked('protection','completed') %}
{% elif customer.status == 'review-accepted' %}    
<div class="govuk-form-group govuk-!-margin-top-7">
  <fieldset class="govuk-fieldset" aria-describedby="completed-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is there anything else you need to do with this debt?
      </h2>
    </legend>
     <div id="completed-hint" class="govuk-hint">
      This could include updating your own systems or any other process outside this service.
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus" name="protection" type="radio" value="todo~./account-landing-tabs?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus">
         Yes, we still have things to do
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtStatus-2" name="protection" type="radio" value="completed~./account-landing-tabs?reference={{customer.reference}}">
        <label class="govuk-label govuk-radios__label" for="debtStatus-2">
        No, we've done everything we need to
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

{% endif %}





    </div>
    </form>
</div>

{% endblock %}
