
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-add-debt" method="post">
    <div class="govuk-grid-column-full">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-xl">
           <!-- <span class="govuk-caption-xl">Add a debt</span> -->
 New debt details
      </h1>


<h2 class="govuk-heading-m govuk-!-margin-bottom-5">We have imformed {% include path+"creditor-mvp/_advise-org-name.html" %}  that we have proposed a new debt to be included in Breathing space</h2>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Debt</h3>
   <hr class="govuk-section-break govuk-section-break--visible">
   <dl class="govuk-summary-list govuk-!-margin-bottom-5">
         {% if checked('adddebt','yes') %}
              <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             {% if checked('typeOfDebt','other')%}
             {{ otherdebt }}
             {% else %}
             {{typeOfDebt}}
             {% endif %}
      
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £<strong>{{ addamount }}</strong><br> Reference: <strong>{{ addreference }}</strong>
            </dd>

            <dd class="govuk-summary-list__actions">
            
            </dd>
          </div>
          
          
          
          {% elif checked('adddebt2','yes') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             {{ typeOfDebt }}
      
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £<strong>{{ addamount }}</strong><br> Reference: <strong>{{ addreference }}</strong>
            </dd>

            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
   
             {{ typeOfDebt2 }}
      
            </dt>
            <dd class="govuk-summary-list__value">
              Amount: £<strong>{{ addamount2 }}</strong><br> Reference: <strong>{{ addreference2 }}</strong>
            </dd>

            <dd class="govuk-summary-list__actions">
             
            </dd>
          </div>
          {% endif %}
</dl>
 <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Requested:{% include path+"creditor-mvp/_creditor-advisor.html" %}, {% include "./_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(-1) }} at 11.32am</p>
    </div>
    </form>
</div>

{% endblock %}
