{% if checked('taskcompleted','show')%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

<span class="govuk-!-margin-top-5 govuk-!-display-block"></span>

{% set html %}
{% if checked('task','newDebtAdded')%}
  <h3 class="govuk-notification-banner__heading">
    You have added a new debt
  </h3>

  {% elif checked('object-to-plan','no') %}
  <h3 class="govuk-notification-banner__heading">
    You have completed your task
  </h3>
   <p>You have not objected to the plan</p>
   {% elif checked('task','cancel-objection') %}  
   <h3 class="govuk-notification-banner__heading">
     You have completed your task
   </h3>
   <p>You have cancelled your objected to the plan</p>

  {% elif checked('task','object') %}  
  <h3 class="govuk-notification-banner__heading">
    You have completed your task
  </h3>
  <p>Your objection has been sent to the Insolvency Service.</p>
  <p>We will only carry out a fair and reasonable assessment on a plan on objections from:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>single creditors that account for at least 25% of the total debt in the plan</li>
    <li>multiple creditors when they account for at least 25% of the total debt in the plan</li>
  </ul>

  <p>If you want to update or amend your objection, you can do so by selecting ‘Review draft plan’ in your tasks.</p>
  <p>If your objection has been successful you will be notified after the 14-period for submitting objections has ended.</p>

{% elif checked('debt1','sold') or checked('debt2','sold') %}
  <h3 class="govuk-notification-banner__heading">
    You have completed your task
  </h3>
   <p>We've informed Advice UK that some you have sold this debt</p>

   {% elif creditorcase.status =='Draft plan' and checked('debt1','no') %}


   <h3 class="govuk-notification-banner__heading">
    You have completed your task
  </h3>

   <p>We have sent your changes to the debt adviser.</p>
   <p>Advice Uk may contact you if they need more information.</p>
   <p>If no further information is needed you will receive a proposed plan or notification the plan is cancelled.</p>

{% elif checked('debt1','no') %}
  <h3 class="govuk-notification-banner__heading">
    You have completed your task
  </h3>
  <p>We have sent your changes to the debt adviser.</p>
  <p>Advice Uk may contact you if they need more information.</p>
  <p>If no further information is needed you will receive a proposed plan or notification the plan is cancelled.</p>

    {%  elif checked('review','yes') or checked('review','no') or checked('debt1','yes') %}
    <h3 class="govuk-notification-banner__heading">
      You have completed your task
    </h3>
   {% elif data['message-to-ma-2'] %}
   <h3 class="govuk-notification-banner__heading">
     You have sent a message to Advice UK
   </h3>  
   {% if checked('review','no') %}
   <P>We have sent your message to Advice UK</P>
   {% endif %}
   {% elif checked('message','sent') %}
   <h3 class="govuk-notification-banner__heading">
     You have sent a message to Advice UK
   </h3> 
  {% endif%}
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}


{% else %}
{% endif %}