
{% extends "../layout-sdrp.html" %}


{% block pageTitle %}
Not testing this page today!
{% endblock %}


{% block content %}
  <form class="form" action="details" method="post">

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       Not testing this today!
      </h1>
      <p class="govuk-body-l">Don't worry you haven't broken anything, were not testing this today,just hit the back button and we'll carry on.</p>
    </div>
</div>
{% endblock %}
