
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="" method="post">
    <div class="govuk-grid-column-three-quarters">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       Transfer this Breathing Space
      </h1>

  <p class="govuk-body-l">Stepchange have asked us to transfer this Breathing Space to them </p>

<h2 class="govuk-heading-s">Breathing Space Details</h2>
<ul class="govuk-list">
<li>Name: {{ client.name }} {{ client.lastname }}</li>
<li>Reference: {{ client.reference }}</li>
<li>Started: {{ client.startdate }}</li>
<li>Due to end:{{ client.enddate }}</li>
</ul>

<h2 class="govuk-heading-s">Reason for the transfer</h2>
<p>{{ client.name }} {{ client.lastname }} has asked us to take on their Breathing Space, I spoke to Paul Smith from your organisation about this and he has agreed to the transfer.<p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Requested by</h3>
    <p class="govuk-body">Stepchange, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>   

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        Do you want to transfer this Breathing Space?
      </label>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes~transfer-request-confirm?reference={{client.reference}}">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no~transfer-request-no-confirm?reference={{client.reference}}">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>    

 <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="transferClient" name="debtStatus" type="radio" value="transferClient" checked >
        <label class="govuk-label govuk-radios__label" for="transferClient">
         Hidden radio for logic
        </label>
        </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


    </div>
   <div class="govuk-grid-column-three-quarters">    







    </div>
    </form>
</div>


{% endblock %}
