
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="endbreathingspace-confirm-adhoc" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Why are you ending your client's Breathing Space?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">


    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-3" name="bsEndReason" type="radio" value="The client has stopped receiving mental health crisis treatment"  {{checked('bsEndReason', 'The client has stopped receiving mental health crisis treatment') }}  data-aria-controls="treatmentStopped">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-3">
       The client has stopped receiving mental health crisis treatment
        </label>
      </div>


            <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="treatmentStopped">

            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="treatmentEnd-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        What date did the treatment end?
      </label>
    </legend>
    <div id="treatmentEnd-hint" class="govuk-hint">
      For example, 12 11 2020
    </div>
    <div class="govuk-date-input" id="treatmentEnd">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="treatmentEndDay">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="treatmentEndDay" name="treatmentEndDay" type="text" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="treatmentEndMonth">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="treatmentEndMonth" name="treatmentEndMonth" type="text"  inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="treatmentEndYear">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="treatmentEndYear" name="treatmentEndYear" type="text" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>


      {% include "./_midwayreviewradiosmh.html" %}
      </div>
    <!-- -->

  

        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-7" name="bsEndReason" type="radio" value="We've been unable to reach the point of contact to confirm mental health crisis treatment is ongoing"  {{checked('bsEndReason', "We've been unable to contact the point of contact to confirm mental health crisis treatment is ongoing") }} data-aria-controls="consultClient">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-7">
       We've not been able to reach the point of contact to confirm mental health crisis treatment is ongoing
        </label>
      </div>

         <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="consultClient">
      {% include "./_midwayreviewradiosmh.html" %}
      </div>
    <!-- -->
     
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-1" name="bsEndReason" type="radio" value="The client is not eligible"  {{checked('bsEndReason', 'The client is not eligible') }} data-aria-controls="conditional-how-noteligble">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-1">
           The client is not eligible anymore
        </label>
      </div>
<!-- reveal reasons conditional -->
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-noteligble">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h2 class="govuk-fieldset__heading">
        Why is does the client not meet the eligibility criteria?
      </h2>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason" name="clientReviewReason" type="radio" value="The client is not eligible because they do not live or usually reside in England or Wales">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason">
          The client does not live or usually reside in England and Wales
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-2" name="clientReviewReason" type="radio" value="The client is not eligible because they have a Debt Relief Order">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-2">
         The client has a Debt Relief Order
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-3" name="clientReviewReason" type="radio" value="The client is not eligible because they have an interim order or Individual Voluntary Arrangement">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-3">
          The client has an interim order or Individual Voluntary Arrangement
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-4" name="clientReviewReason" type="radio" value="The client is not eligible because they are an undischarged bankrupt">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-4">
          The client is an undischarged bankrupt
        </label>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-5" name="clientReviewReason" type="radio" value="The client is not eligible because they have had another Breathing Space in the last 12 months">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-5">
          The client has had another Breathing Space in the last 12 months
        </label>
      </div>
    </div>

  </fieldset>
</div>
</div>

<!-- / -->

     <!-- <div class="govuk-radios__divider">or</div> -->

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-4" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{ checked('bsEndReason', 'The client is now using a debt management solution') }} data-aria-controls="debtSolution">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-4">
        The client is now using a debt management solution
        </label>
      </div>

      <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="debtSolution">
      {% include "./_midwayreviewradiosmh.html" %}
      </div>
    <!-- -->


         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-5" name="bsEndReason" type="radio" value="The client is now able to pay their debts"  {{checked('bsEndReason', 'The client is now able to pay their debts') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-5">
            The client is now able to pay their debts
        </label>
      </div>


         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-6" name="bsEndReason" type="radio" value="The client has asked us to cancel"  {{checked('bsEndReason', 'The client has asked us to cancel') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-6">
        The client has asked us to cancel
        </label>
      </div>

 

           <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-8" name="bsEndReason" type="radio" value="The client is deceased"  {{checked('bsEndReason', 'The client is deceased') }} data-aria-controls="deceasedDateReveal">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-8">
        The client has died
        </label>
      </div>

      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="deceasedDateReveal">
          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="deceased-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
        What was the date of death?
      </label>
    </legend>
    <div id="deceased-hint" class="govuk-hint">
      For example, 12 11 2020
    </div>
    <div class="govuk-date-input" id="deceased">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="deceasedDay">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedDay" name="deceasedDay" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="deceasedMonth">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedMonth" name="deceasedMonth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="deceasedYear">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deceasedYear" name="deceasedYear" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>
      </div>


      </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
