
{% extends "../layout-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  {% include  "../includes/advisor/_client_name_reference.html" %} 
  </div>

  <form class="form" action="confirmation" method="post">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
        Declaration
      </h1>
     <p class="govuk-body">By submitting this application, you agree that:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>you have explained the statutory debt repayment plan to your client</li>
          <li><strong>{{ case.name | default('Sarah Philips')}}</strong> has told you to put them into the statutory debt repayment plan and has given you consent to exchange information with creditors</li>
          <li>the information you have provided is complete and correct to the best of your knowledge
          </li>
          <li>•	your client meets the required conditions and eligibility criteria</li>
        </ul>

        <p>By agreeing this you are sending notice of intention to initiate a plan which lasts 21 days.</p>

<button class="govuk-button" data-module="govuk-button">
  Agree and send the information to creditors
</button>
    </div>
    </form>
</div>



{% endblock %}
