
{% extends "../layout-sdrp.html" %}
{% set globalnav = "taskstodo" %}

{% block pageTitle %}
  Tasks to do
{% endblock %}


{% block content %}
{% include  "../includes/advisor/_global-nav.html" %} 


 {% set currentnav ='tasks' %}


   <!-- BASE VALUES -->
{% set totTasks = 0 %}
{% set totDiscprenceies = 0 %}
{% set newMessage = 0 %}
{% set totSoldDebt = 0 %}
{% set totNewdDebt = 0 %}
{% set totDraftPlan = 0 %}
{% set totConfirmedPlan = 0 %}

	{% for case in cases %}

 {% if case.task === "Confirm updated debt details" or case.task === "Draft plans nearing deadline" or case.task === "Confirm sold debt"  or  case.task === "New message" or case.task === "New debts added by creditor" or case.task === "Review confirmed plan" %}
    {% set totTasks = totTasks + 1 %}
   {% endif %}

    {% if case.task === "Confirm updated debt details" %}
    {% set totDiscprenceies = totDiscprenceies + 1 %}
   {% endif %}


  {% if case.task === "Draft plans nearing deadline" %}
    {% set totDraftPlan = totDraftPlan + 1 %}
   {% endif %}

   {% if case.task === "Confirm sold debt" %}
    {% set totSoldDebt = totSoldDebt + 1 %}
   {% endif %}


   {% if case.task === "New message" %}
    {% set newMessage = newMessage + 1 %}
   {% endif %}

   {% if case.task === "New debts added by creditor" %}
   {% set totNewdDebt = totNewdDebt + 1 %}
  {% endif %}

  {% if case.task === "Review confirmed plan" %}
  {% set totConfirmedPlan = totConfirmedPlan + 1 %}
 {% endif %}



   {% endfor %}


 <div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<form class="form" action="#" method="post">

        <div class="govuk-form-group">
         {% include "../includes/advisor/_sub_tasks_radios.html" %}

      </div>







<button class="govuk-button"  id="facetFilterBtn" data-module="govuk-button">
Apply filter
</button>
</form>
</div>
<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-5">
Tasks to do
  </h1>

<h2 class="govuk-heading-m"><span style="font-weight:normal">Showing:</span> 

{% if checked('taskFilter','Confirm updated debt details')%}
Confirm updated debt details ({{totDiscprenceies}})
{% elif checked('taskFilter','New message')%}
New messages ({{newMessage}})
{% elif checked('taskFilter','New debts added by creditor')%}
New debts added by creditor ({{totNewdDebt}})
{% elif checked('taskFilter','Confirm sold debt')%}
Confirm sold debts ({{totSoldDebt}})
{% elif checked('taskFilter','Draft plans nearing deadline')%}
Draft plans nearing deadline ({{totDraftPlan}})
{% elif checked('taskFilter','Review confirmed plan')%}
Review confirmed plan  ({{totConfirmedPlan}})
{% else %}
All ({{totTasks}}) 
{% endif %}
</h2>



<ul class="govuk-list" id="xnum">

    <!--  {% for debt in case.debt %}
            
               {{ debt.type }}
               {{debt.amount}}

               {% endfor %} -->
          <!--    <a href="../case/case-details-and-tasks-accordion?reference={{case.reference}}" class="govuk-body govuk-link  govuk-!-display-block govuk-!-margin-bottom-0">{{case.name}} {{case.reference}} </a>
                {{case.task}} -->
              

              <!-- <div class="govuk-radios__item  govuk-visually-hidden">
                <input class="govuk-radios__input" id="case-links" name="case-link" type="radio" value="hide~../case/case-details-and-tasks-accordion?reference={{case.reference}}" checked>
                <label class="govuk-label govuk-radios__label" for="case-links">
                  selected radio for logic
                </label>
              </div>   -->

   {% for case in cases %}
 
{% if checked('taskFilter','Confirm updated debt details')%} 
    {% if case.task === "Confirm updated debt details" %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %}

{% elif checked('taskFilter','Confirm sold debt')%}
    {% if case.task === "Confirm sold debt"  %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %}  
    
    {% elif checked('taskFilter','New debts added by creditor')%}
    {% if case.task === "New debts added by creditor"  %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %} 

    {% elif checked('taskFilter','New message')%}
    {% if case.task === "New message"  %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %} 
    
{% elif checked('taskFilter','Draft plans nearing deadline')%}
    {% if case.task === "Draft plans nearing deadline"  %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %}  
    
{% elif checked('taskFilter','Review confirmed plan') %}
    {% if case.task === "Review confirmed plan"  %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %}      
{% else %}
    {% if case.task === "Confirm updated debt details" or case.task === "Draft plans nearing deadline" or case.task === "Confirm sold debt" or case.task === "New debts added by creditor" or case.task === "New message" or case.task === "Review confirmed plan" %}
    {% include  "../includes/_todo-card.html" %} 
    {% endif %}  
{% endif %}

             {% endfor %} 


</ul>
    </div>
</div>


{% endblock %}

