<nav id="nav"  class="secondary ">
  <div class="navbar">
    <ul class="navbar__list-items">
         {% if globalnav  == 'home' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
        <form class="govuk-!-display-inline" action="index" method="post">
<button  class="govuk-body govuk-link">Home</button> 
{% include  "../includes/_hide-confirmation.html" %} 
</form>
      </li>
          {% if globalnav  == 'search' %}
      <li class="active">
      {% else %}
         <li>
         {% endif %}
               <form class="govuk-!-display-inline" action="not-testing" method="post">
<button  class="govuk-body govuk-link">Search</button> 
{% include  "../includes/_hide-confirmation.html" %} 
</form>
      </li>
    </ul>
         <ul class="navbar__list-items signin">
        <li>
            <p>Paul Smith</p>
      </li>
        <li>
         <a href="orgchoice">{% include "../includes/_creditor.html" %}</a>
      </li>
  
    
    </ul>
  </div>
</nav>