
     
     
 

 <h2 class="govuk-heading-m">Personal details</h2>
 <dl class="govuk-summary-list govuk-!-margin-bottom-2">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
      
     {{ case.name | default('Sarah Philips')}}
     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#firstname">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
{% if checked('addname','yes')%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous name
            </dt>
            <dd class="govuk-summary-list__value">
      
     {{ firstnameprev }} {{middlenameprev}} {{ lastnameprev }}
     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="not-testing">
                Change<span class="govuk-visually-hidden"> previous name</span>
              </a>
            </dd>
          </div> 
          {% endif %}

          {% if checked('previousname1','yes') %}
  {% include  "../advisor/_names-previous.html" %} 
  {% elif checked('previousname2','yes') %}
  {% include  "../advisor/_names-previous2.html" %} 
{% endif %}
          </dl>
  <p><a class="govuk-link" href="add-another-name?reference={{case.reference}}">Add another name</a></p>
 <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              
              04 August 1980
             
  
                  
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details#dobday">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
      </dl> 
  

       <h2 class="govuk-heading-m">Addresses</h2>
       <dl class="govuk-summary-list govuk-!-margin-bottom-2">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current address
          </dt>
          <dd class="govuk-summary-list__value">
           {% if checked('parv','yes')%}
                    <p> <strong class="govuk-tag govuk-tag--blue">
 Address Hidden
 </strong></p> 
 <p class="govuk-body govuk-!-font-weight-bold">This address will not be shared with any of your client's creditors</p>
 {% else %}
 {% endif %}
             <p>
             {% if data['sort']%} {{ sort }} <br> Marylebone <br>London<br>{{ postcode | default("W1H 1JS") }}
            {% else %}  
            <span class="govuk-!-display-block">{{addressline1 | default("44 Crawford St, Marylebone") }}</span>
            <span class="govuk-!-display-block">{{addresstown | default("London")}}</span>
            <span class="govuk-!-display-block">{{addresspostcode | default("W1H 1JS")}} </span> 
            <span class="govuk-!-display-block">{{country}}</span>  
            {% endif %}</p>
         
          </dd>
          <dd class="govuk-summary-list__actions">
          <ul class="govuk-list">
          <li><a class="govuk-link govuk-!-font-size-19" href="address">
              Change<span class="govuk-visually-hidden"> Address</span>
            </a></li>
          <li>
            <a class="govuk-link govuk-!-font-size-19" href="hide-address">
      {% if checked('parv','yes')%}
      Unhide the address
     {% else %} Hide address{% endif %}<span class="govuk-visually-hidden"> from creditors</span>
    
            </a>
          </li>  
          <ul>
          </dd>
        </div>
  
  {% if checked('addressCorres1','yes')%}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Correspondence address
    </dt>
    <dd class="govuk-summary-list__value">
      2 Willsford avenue<br> Kensington <br>WE33 1DG
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">Correspondence address</span>
      </a>
    </dd>
  </div>
  {% elif checked('addressCorres2','yes') %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Correspondence address
    </dt>
    <dd class="govuk-summary-list__value">
      100 Chesterfield street<br> Marylebone<br> London<br> WS3 5DF
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">Correspondence address</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if checked('addressOther1','yes')%}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other address
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['otheraddresschoice1'] }}<br> Marylebone <br>London <br>{{ data['addressPostcodePrev1']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">Other address</span>
      </a>
    </dd>
  </div>
  {% elif checked('addressOther2','yes') %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other address
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['otheraddresschoice2'] }}<br> Marylebone <br>London <br>{{ data['addressPostcodePrev2']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">Other address</span>
      </a>
    </dd>
  </div>

  {% endif %}
</dl>
        <p><a class="govuk-link " href="">Add correspondence address</a><br>
           <a class="govuk-link" href="">Add other address</a></p>

           <h2 class="govuk-heading-m">Email address</h2>
       <dl class="govuk-summary-list">    
          <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
      Email address
     </dt>
     <dd class="govuk-summary-list__value">
      {% if checked('email','no') %}
       Not provided
      {% else %}
      {{ data['contactByEmail'] | default('Someone@somewhere.com') }}
      {% endif %}
     </dd>
     <dd class="govuk-summary-list__actions">
  
       <a class="govuk-link govuk-!-font-size-19" href="collect-email">
         Change<span class="govuk-visually-hidden"> email address</span>
       </a>
      
     
     </dd>
   </div>
  </dl>


   <h2 class="govuk-heading-m">Notifications</h2> 
  
   <dl class="govuk-summary-list">    
     <div class="govuk-summary-list__row">
 <dt class="govuk-summary-list__key">
 Notifcation method
 </dt>
 <dd class="govuk-summary-list__value">
  {% if checked('email','no')%} Post {% else %} Digital {% endif %}
 </dd>
 <dd class="govuk-summary-list__actions">
 </dd>
 </div>
 </dl>



 
     

