 <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
 <h1 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-3">
     {{ case.name | default('Sarah Philips')}}
  <span class="govuk-caption-m">Reference: {{ case.reference | default('SDRP0001')}}</span>
 </h1>
 </div>
  <div class="govuk-grid-column-one-third">
  </div>
  </div>
 <hr class="govuk-section-break govuk-!-margin-top-2 govuk-!-margin-bottom-3  govuk-section-break--visible" />
 <p class="govuk-!-margin-bottom-3">This intended plan was submitted on  <strong> {% if creditorcase.status == 'Draft plan' %}{{ 'Do MMMM YYYY' | baseDateAdd(-20) }}{% else %}{{ 'Do MMMM YYYY' | baseDateAdd(-1) }} {% endif %},</strong>

    {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') %}
14 days until the plan can start
    {% elif case.task =='Draft plans nearing deadline' %}
  You have <strong>7 days</strong> to send the plan to creditors
    {% elif case.task %}
    <strong>14 days</strong> before you can send the draft plan
    {% else%}
    {% endif %}
</p>
 <hr class="govuk-section-break govuk-!-margin-top-2 govuk-!-margin-bottom-3  govuk-section-break--visible" />