<p>Add as much information about the debt as you can.</p>
<p>Be accurate and only give estimates if exact figures are not available.</p>
<p>Creditors can update incorrect amounts when they receive the proposed plan.</p>
<form class="govuk-!-display-inline" action="add-debt-choose-creditor" method="post">
<button  class="govuk-link govuk-body">Add a debt</button> 
{% include  "../advisor/_hide-confirmation.html" %} 
{% if case.task %}
 <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="url" type="radio" value="go~not-testing?reference={{case.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="updateDebtType">
         hidden radio
        </label>
      </div>
      </div>
 {% endif %}     
</form>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h3 class="govuk-heading-l">Priority debts</h3>
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<h4 class="govuk-heading-m govuk-!-margin-bottom-2" >Creditor has provided updated debt details, <a href="">view updated debt details</a></h4>
<hr class="govuk-section-break govuk-section-break--visible">
{{ govukSummaryList({
   classes: 'govuk-!-margin-bottom-2',
  rows: [
    {
      key: {
        text: "Creditor"
      },
      value: {
        text: "HMRC"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Debt type"
      },
      value: {
        text: "Loan"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Amount"
      },
      value: {
        text: "£10000"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Amount"
          }
        ]
      }
    },
    {
      key: {
        text: "Reference"
      },
      value: {
        html: "as1234567890"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "reference"
          }
        ]
      }
    }
  ]
}) }}
<p class="govuk-!-margin-bottom-7"><a href="" class="govuk-body">Remove this debt</a></p>
