<ol class="app-task-list">
  <li>
    <ul class="app-task-list__items govuk-!-margin-bottom-0 govuk-!-padding-left-0">

          
  {% if case.task ==='Draft plans nearing deadline' or case.status =='Creditor objection' %}

                {% if case.status =='Creditor objection'  %}
                <li class="app-task-list__item">
                  {% if checked('task','objectPlan') %}
                      <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                  {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">todo</strong>
                  {% endif %}
                      <a href="objection-to-plan?reference={{case.reference}}">View creditor objection</a>
                  </li>
                {% endif %}

      <li class="app-task-list__item">
        {% if checked('householdinfo','yes') or case.status =='Creditor objection' %}
             <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">todo</strong>
         {% endif %}
            <a href="household?reference={{case.reference}}">Add household information</a>
        </li>
       <li class="app-task-list__item">
             {% if checked('monthly-income','yes') or case.status =='Creditor objection' %}
             <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
        {% else %}
         <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">todo</strong>
         {% endif %}
            <a href="monthly-income?reference={{case.reference}}">Add monthly income</a>
        </li>
       <li class="app-task-list__item">
         {% if checked('monthly-outgoings','yes') or case.status =='Creditor objection' %}
         <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
         {% else%}
         <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">todo</strong>
         {% endif %}
            <a href="monthly-outgoings?reference={{case.reference}}">Add monthly outgoings</a>
        </li>
        <li class="app-task-list__item">
          {% if checked('householdinfo','yes') and checked('monthly-income','yes') and checked('monthly-outgoings','yes') or case.status =='Creditor objection' %}  
            {% if case.task =='Draft plans nearing deadline' and checked('task','confirmProp') or case.status =='Creditor objection' %}
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
            {% endif %}          
<form class="govuk-!-display-inline" action="check-draft-plan" method="post">
<button class="govuk-link govuk-body">Send draft plan</button>
 <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="proposed" type="radio" value="yes~check-draft-plan?reference={{case.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="creditcardDebtType">
         Please ingore hidden radio for hacky protoype
        </label>
      </div>
      </div>
</form>
         {% else %}
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Can not start</strong>
            Send draft plan
            {% endif %}

      
       <li>
 {% elif case.status ==='Confirmed plan' %}    
              <li class="app-task-list__item">
                {% if checked('task','confirmedPlan')%} 
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                  {% endif %}
                    <a href="confirmed-plan?reference={{case.reference}}">
                      View confirmed plan
                    </a>
                  </span>
                </li>   
 {% elif case.status ==='intention-bs' %}   

          <li class="app-task-list__item">
            {% if checked('debtcategory','yes') %} 
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
            {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
              {% endif %}
                <a href="assign-debt-catergory?reference={{case.reference}}">
                  Assign catergory to debts
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              {% if checked('debtcategory','yes') %}
          <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
          <a href="consent">Send debts to creditors to confirm</a>
          {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Cannot start yet</strong>
          Send debts to creditors to confirm 
          {% endif%}
          </li>
 {% else %}
              {% if case.task === "Review updated debt details"  %}
              <li class="app-task-list__item">
                {% if checked('task','complete') or checked('task','confirmDisc')%} 
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                  {% endif %}
                    <a href="debt-discrepancies?reference={{case.reference}}">
                      Review updated debt details
                    </a>
                  </span>
                </li>
                {% endif %}

                {% if case.task === "Confirm sold debt"  %}
              <li class="app-task-list__item">
                {% if checked('task','complete') or checked('task','confirmSoldDebt')%} 
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                  {% endif %}
                    <a href="debt-sold?reference={{case.reference}}">
                      Confirm sold debt
                    </a>
                  </span>
                </li>
                {% endif %}

                {% if case.task === "Review new debts added by creditor"  %}
              <li class="app-task-list__item">
                {% if checked('task','complete') or checked('task','addeddebts')%} 
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                  {% endif %}
                    <a href="review-new-debts?reference={{case.reference}}">
                      Review new debts added by creditor
                    </a>
                  </span>
                </li>
              {% endif %}

                    <li class="app-task-list__item">
                  {% if checked('debtadded','1') or 
                        checked('debtadded','2') or
                        checked('debtadded','3') or
                        checked('debtadded','4') or
                        checked('debtadded','5') or
                        case.task %} 
                  <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> 
                    {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                    {% endif %}
                        <a href="add-debt-choose-creditor">
                          Add debts
                        </a>
                    
                      </span>
                    </li>

                        <li class="app-task-list__item">
                            {% if case.task or checked('scenario1','completed') %}
                        <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                        <a href="consent">Send debts to creditors to confirm</a>
                        {% elif checked('debtadded','1') or
                                checked('debtadded','2') or
                                checked('debtadded','3') or
                                checked('debtadded','4') or
                                checked('debtadded','5')
                         %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">todo</strong>
                        <a href="consent">Send debts to creditors to confirm</a>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Cannot start yet</strong>
                        Send debts to creditors to confirm 
                        {% endif%}
                    </li>
{% endif %}
    </ul>
  </li>
</ol>
