  <div class="govuk-grid-row keydetails">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
     
           <span class="govuk-caption-l">

                     <strong class="govuk-tag">
  Active
</strong>  

    
    
    Breathing Space account for</span>
     {% if data['fullname']%} {{fullname}} {% else %} Joe Black {% endif %}
      </h1>
      </div>
            <div class="govuk-grid-column-one-third">
          
          {% if checked('MAScenaioSubChoice','return to active account v3')%}
<p class="header_highlight_info info">
{% elif checked('MAScenaioSubChoice','return to active account v2')%}
<p class="header_highlight_info active">
{% else %}
<p class="header_highlight_info">
{% endif %}
<span class=" govuk-!-margin-bottom-1"><strong>Breathing Space day {% if checked('time-machine-mid-review','yes')%} 30 {% else %}2{% endif %} of 60 </strong></span><span class="govuk-body-s">Started: {{ 'DD MMMM YYYY' | baseDateAdd(-10) }} <br>Ends: {{ 'DD MMMM YYYY' | baseDateAdd(50) }} </span> </p>
      </div>
          <div class="govuk-grid-column-full">
     <hr class="govuk-section-break govuk-section-break--visible black">
     </div>
     </div>