  <div class="govuk-grid-row keydetails">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
     
           <span class="govuk-caption-l">

                     <strong class="govuk-tag">
  Active
</strong>  

    
    
    Breathing space account for</span>
     {% if data['fullname']%} {{fullname}} {% else %} Roberto Henderson {% endif %}
      </h1>
      </div>
            <div class="govuk-grid-column-one-third">
          
          <p class="header_highlight_info info"><span class=" govuk-!-margin-bottom-1"><strong>Breathing space day 10 of 60 </strong></span><span class="govuk-body-s">Started: {{ 'Do MMMM YYYY' | baseDateAdd(-10) }} <br>Ends: {{ 'Do MMMM YYYY' | baseDateAdd(50) }} </span> </p>
      </div>
          <div class="govuk-grid-column-full">
     <hr class="govuk-section-break govuk-section-break--visible black">
     </div>
     </div>