<dl class="govuk-summary-list govuk-!-margin-bottom-0">



 {% if checked('debt-eligibility','yes') %}

    
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card <br> <p><a href="remove-reviewed-debt-detail">Reviewed and removed detail</a></p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Creditor:<strong> Halifax(Credit cards only)</strong><br>Amount:<strong> £2500</strong><br>Reference:<strong> RBC23455003</strong></p>
              <p class="govuk-body-s">Date added: {{ 'Do MMMM YYYY' | baseDateAdd(-10) }}</p>
              
               <p class="govuk-body-s">Date removed: {% if checked('time-machine-mid-review','yes')%} {{ 'Do MMMM YYYY' | baseDateAdd(1) }}{% else %}<strong class="govuk-tag govuk-tag--blue">Pending</strong>{% endif %} </p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          {% endif %}

          {% if checked('removedebt', 'yes') %}
                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card <br> <p><a href="remove-debt-detail">Removed detail</a></p>
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Creditor:<strong> Beech Garage</strong><br>Amount:<strong> £445</strong><br>Reference:<strong> Service and Mot</strong></p>
              <p class="govuk-body-s">Date added: {{ 'Do MMMM YYYY' | baseDateAdd(-10) }}</p>
              
               <p class="govuk-body-s">Date removed: {% if checked('time-machine-mid-review','yes')%} {{ 'Do MMMM YYYY' | baseDateAdd(1) }}{% else %}<strong class="govuk-tag govuk-tag--blue">Pending</strong>{% endif %} </p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          {% endif%}
  </dl>
