

 {% if checked('debt-eligibility','yes') or  checked('debt-eligibility','no') %}
 <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Completed</h2>
<ul  class="govuk-list">
<li><a href="eligibility-review"> {% include path+"advisor-mvp/_review_creditor.html" %} have requested a debt eligibility review</a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested:{% include path+"creditor-mvp/_creditor-advisor.html" %}, {% include path+"advisor-mvp/_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
                    <p class="govuk-body-s govuk-!-margin-top-1 ">Reviewed: {% include path+"creditor-mvp/_ma-advisor.html" %}, {% include path+"creditor-mvp/_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
</li>
</ul>
{% else %}

<p><strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-0 govuk-!-margin-top-0">2 Pending 
</strong></p>


 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Pending</h2>
<ul  class="govuk-list">
<li class="govuk-!-margin-bottom-4"><a href="eligibility-review-client"> Barclays Bank Plc have requested a client eligibility review</a>
 <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested: Kiran Callaghan, Barclays Bank Plc, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 10.32am</p>
</li>

<li><a href="eligibility-review"> {% include path+"advisor-mvp/_review_creditor.html" %} have requested an eligibility review of a debt</a>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested:{% include path+"creditor-mvp/_creditor-advisor.html" %}, {% include path+"advisor-mvp/_creditorname.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>
</li>
</ul>
{% endif %}
 
 
