
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt" method="post">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What type of breathing space do you want to enter your client into?
      </h1>
    </legend>
    <!-- <span id="sign-in-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment.
    </span> -->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
         Standard Breathing Space
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Clients are only eligible for this once in a 12 month period
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
          Mental Health Breathing Space
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          Your client must be recieving mental health crisis treatment to qualify for this 
        </span>
      </div>
    </div>
  </fieldset>
</div>





<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
