
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Confirmation
          </h1>
          <div class="govuk-panel__body">
          {% if checked('debt-eligibility','no')%}
          You have not removed the debt from your clients Breathing Space
          {% else %}
              You have removed the debt from your clients Breathing Space
          {% endif %}    
          </div>
        </div>

  <h2 class="govuk-heading-m">What happens next</h2>
           <p class="govuk-body">
               {% if checked('debt-eligibility','no')%}
         We will notify the creditor with the reason why you haven't removed the debt from Breathing Space
          {% else %}
          The debt will be removed from breathing space within 24 hours or the next working day, once the debt is removed we will notify the creditor that the 
          debt has been removed.
          {% endif %} 
      
        </p>
        <ul class="govuk-list">
          <li><a href="{% include path+"advisor-mvp/_landingpagepath.html" %}">Return to client landing page</a></li>
          <li><a href="index">Return to service homepage</a></li>
        </p>
        <ul>     
      </div>

 <p><a href="time-machine-endBS" class="timemachine-link">On to next scenario</a></p>
  
</div>
{% endblock %}
