
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation" method="post">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
        Declaration
      </h1>

       <p class="govuk-body">By submitting this application, you agree that:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>you've explained the regulations to your client</li>
          <li>you've been instructed by <strong>{{fullname | default("Joe Black") }}</strong> to enter them into Breathing Space</li>
          <li><strong>{{fullname | default("Joe Black") }}</strong> has agreed for you to share their information with their creditors</li>
          <li><strong>{{fullname | default("Joe Black") }}</strong> has agreed for their information to be held on a private register for 15 months plus the length of time of their breathing space</li>
          <li>the information you've provided is complete and correct
</li>
        </ul>

       <p class="govuk-body">You also agree that <strong>{{fullname | default("Joe Black") }}</strong> has agreed they will:</p>
         <ul class="govuk-list govuk-list--bullet">
         <li>engage with a debt adviser</li>
          <li>have a midway progress review with their debt adviser</li> 
          <li>inform their debt adviser of any change in circumstances</li>
          <li>not obtain credit during the Breathing Space</li>
          </ul>


<button class="govuk-button" data-module="govuk-button">
  Agree and submit to Breathing Space.
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
