
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation" method="post">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
        Consent declaration
      </h1>

       <p class="govuk-body">By submitting this applcation, you agree that:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>you've explained the 'regulations' to <strong>{{fullname | default("Roberto Henderson") }}</strong> </li>
          <li>you've been instructed by <strong>{{fullname | default("Roberto Henderson") }}</strong> </strong> to enter them into Breathing Space</li>
          <li>the information you've provided is complete and correct</li>
        </ul>

       <p class="govuk-body">By submitting this applcation, <strong>{{fullname | default("Roberto Henderson") }}</strong>  has agreed:</p>
         <ul class="govuk-list govuk-list--bullet">
         <li> to a midway review</li>
          <li>to engaging with a debt adviser for the full time whilst the Breathing Space protections apply</li> 
          <li>not to obtain any new credit during the time Breathing Space protections apply</li>
          <li> to inform the debt adviser of change in circumstances</li>
          <li>has agreed for you to share there information with their creditors</li>
          <li>has agreed to there information being held on a private register for 15 months plus the length of time of their breathing space</li>
          </ul>


<button class="govuk-button" data-module="govuk-button">
  Agree and submit to Breathing Space.
</button>
    </div>
    </form>
</div>


   <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
   <script type="text/javascript" src="/public/javascripts/creditorlist.js"></script>

        <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'creditor'
      var name ='creditor'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        source: creditors
      })

    </script>

{% endblock %}
