
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-list-tabs" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       Delete debt
      </h1>

      <ul class="govuk-list">
       <li>Type: <strong>   {% if data['typeOfDebt']=='other'%}
             {{otherdebt}}
            {% else %}
             {{ typeOfDebt}}
             {% endif %}
             </strong></li>
       <li> Creditor: <strong>{{creditor}}</strong></li>
       <li>Amount: <strong>£{{ amount }}</strong></li>
       <li>Reference: <strong>{{ reference }}</strong></li>
      </ul>

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="deletedebt-1" type="radio" value="deletedebt-1" checked>
        <label class="govuk-label govuk-radios__label" for="deletedebt-1">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Delete debt 
</button>
    </div>
    </form>
</div>




{% endblock %}
