
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  
   <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
 <span class="govuk-caption-xl">Breathing Space portal for</span>
 Advice uk</h1>

       <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Enter a client with problem debt into a Breathing Space</li>
          <li>Update the details of a client if they're already in Breathing Space</li>
        </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   </div>
 <div class="govuk-grid-column-two-thirds">
 <h2 class="govuk-heading-l govuk-!-margin-bottom-5">Search for an existing Breathing Space account</h1>


<form class="form" action="search-results-page" method="post">
<div class="gem-c-search gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus">
  <label for="finder-keyword-search" class="gem-c-search__label">
    Search for a Breathing Space account
  </label>
  <div class="gem-c-search__item-wrapper">
    <input type="search" value="" id="finder-keyword-search" name="fullname" title="Search" aria-controls="" class="gem-c-search__item gem-c-search__input js-class-toggle focus">
    <div class="gem-c-search__item gem-c-search__submit-wrapper">
      <button type="submit" class="gem-c-search__submit">Search</button>
    </div>
  </div>
</div>
</form>
</div>
<div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-l">Create a new Breathing space account<h2>
  

        <a href="details" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Create a new account
        </a>
    </div>
</div>

{% endblock %}
