
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-removedebt" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Removed debt
      </h1>

 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">   
  
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: Halifax (Credit cards only)<br>Amount: £2500<br> Reference: RBC23455003
            </dd>
            <dd class="govuk-summary-list__actions">
       
            </dd>
          </div>
  </dl>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Reason the debt was removed</h2>
  <p class="govuk-body" >Halifax (Credit cards only) requested an eligibility review of the debt</p>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reason they requested a review</h3>
  <p class="govuk-body" >The debt does not qualify for Breathing Space</p>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">More detail</h3>
  <p class="govuk-body" >{{ moreDetail | default("This is a none eligible business debt, the credit card was secured against the clients business") }}</p>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date requested</h3>
  <p class="govuk-body"> {{ 'Do MMMM YYYY' | baseDateAdd(0) }}</p>   

</div>
    </div>
    </form>
</div>


{% endblock %}
