
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
        Creditor
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}

            <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:4</span>
      Homepage and View debts added to clients breathing space</h2>
       <div class="inner">
  <p><strong class="govuk-tag govuk-tag--orange">
  Not Tested
</strong> </strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        Understanding of the information presented.
        </li>
        <li>
        Filtering a list of debts
        </li>
        <li>
        Requesting an eligibilty review.
        </li>
         <li>
        Applying protections.
        </li>
          <li>
        Informing the money adviser that they have sold the debt on.
        </li>
        </ul>
      <a href="/creditor-v4/scenario" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

            <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:3</span>
      Homepage and View debts added to clients breathing space</h2>
       <div class="inner">
  <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Mid Sussex District Council, Remote, 29 July 2020</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        Understanding of the information presented.
        </li>
        <li>
        Filtering a list of debts
        </li>
        <li>
        Requesting an eligibilty review.
        </li>
         <li>
        Applying protections.
        </li>
          <li>
        Informing the money adviser that they have sold the debt on.
        </li>
        </ul>
      <a href="/creditor-v3/scenario" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>


      <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:2</span>
      View debts added to clients breathing space</h2>
       <div class="inner">
  <p><strong class="govuk-tag govuk-tag--orange">
  Not Tested
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        Understanding of the information presented.
        </li>
        <li>
        Adding a new debt.
        </li>
        <li>
        Requesting an eligibilty review.
        </li>
        </ul>
      <a href="/creditor-mvp/scenario" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

          <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1.1</span>
      View debts added to clients breathing space</h2>
       <div class="inner">
  <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Southwark Council, London, 09 March 2020</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        Understanding of the information presented.
        </li>
        <li>
        Adding a new debt.
        </li>
        <li>
        Requesting an eligibilty review.
        </li>
        </ul>
      <a href="/creditor-v1-1/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

    <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1</span>
      View debts added to clients breathing space</h2>
       <div class="inner">

      

      <a href="/creditor-v1/index" class="govuk-button govuk-button--secondary">Start scenario</a>
      </div>
      </div>
</div>

{% endblock %}
