
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
        Creditor
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}

          <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1.1</span>
      View debts added to clients breathing space</h2>
       <div class="inner">
   <p class="govuk-body">What are we testing:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        Understanding of the information presented.
        </li>
        <li>
        Adding a new debt.
        </li>
        <li>
        Requesting an eligibilty review.
        </li>
       
        </ul>
      

      <a href="/creditor-v1-1/index" class="govuk-button govuk-button--secondary">Start scenario</a>
      </div>
      </div>

    <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1</span>
      View debts added to clients breathing space</h2>
       <div class="inner">

      

      <a href="/creditor-v1/index" class="govuk-button govuk-button--secondary">Start scenario</a>
      </div>
      </div>
</div>

{% endblock %}
