
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}

  Breathing space

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prototypes
        <span class="govuk-caption-xl">Breathing space and SDRP</span>
      </h1>{{releaseVersion | log }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

 <div class="card-container">
    <div class="card">
      <h2 class="govuk-heading-m">
     Breathing Space</h2>
   
      <p>All iterations and design variations</p>
      <a href="breathingspace" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>

    <div class="card">
      <h2 class="govuk-heading-m">
      SDRP</h2> 
      <p>All iterations and design variations</p>
      <a href="sdrp" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>
   </div>

</div>

{% endblock %}
