
{% extends "layout.html" %}

{% block pageTitle %}

  Breathing space

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Breathing space
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">

 <div class="govuk-grid-column-one-third">
    <div class="card govuk-body govuk-!-margin-bottom-0">
      <h2 class="govuk-heading-m">
      Beta - MVP</h2>
      <div class="inner">  
      <a href="/mvp" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>
   </div>

<div class="govuk-grid-column-one-third">
    <div class="card govuk-body govuk-!-margin-bottom-0">
      <h2 class="govuk-heading-m">
      Private Beta - MVP</h2>
      <div class="inner">  
      <a href="/private-beta-mvp" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>
   </div>
   </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
    <div class="card ">
      <h2 class="govuk-heading-m">
      Debt / Money advisers</h2>
      <div class="inner">  
      <a href="/money-advisers" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>

       <div class="card">
      <h2 class="govuk-heading-m">
      Mental health professional</h2>
      <div class="inner">  
      <a href="/mental-health" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>
</div>
<div class="govuk-grid-column-one-third">
      <div class="card">
      <h2 class="govuk-heading-m">
 Creditors</h2>
       <div class="inner">
  
      <a href="creditors" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
      </div>
      </div>

 <div class="govuk-grid-column-one-third">
      <div class="card">
      <h2 class="govuk-heading-m">
 Client / Debtor</h2>
       <div class="inner">
  
      <a href="debtor" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
      </div>
      </div>     

</div>
</div>
</div>

{% endblock %}
