
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
        Debt money adviser
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}


            <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:latest - working version</span>
      Task list and reviews</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not Tested
</strong> <!-- with <strong>National debtline,  9 September 2020</strong> -->
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-latest/index">MA homepage</a>
        </li>
        <li>
        <a href="/advisor-latest/search">Search</a>
        </li>
        <li>
        <a href="/advisor-latest/account-page-active">Client page to do list</a>
        </li>
        </ul>
      <a href="/advisor-latest/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

      <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:9</span>
      Task list and reviews</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>CAB, 21 October 2020</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-v9/account-page-active">Client page to do list</a>
        </li>
        </ul>
      <a href="/advisor-v9/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>


      <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:8</span>
      Task list and reviews</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>National debtline,  14 October 2020</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios we tested:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-v8/account-page-active">Client page to do list</a>
        </li>
        </ul>
      <a href="/advisor-v8/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>


           <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:7</span>
      Submit a client and perform tasks on a client account</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>National debtline,  9 September 2020</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-v7/debt-list-tabs-pre-submission">Entering a client into Mental Health Breathing Space</a>
        </li>
        <li>
        <a href="/advisor-v7/debt-list-tabs-search">Client page to do list</a>
        </li>
        </ul>
      <a href="/advisor-v7/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>




        <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:6</span>
      Create Breathing Space account</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Rethink,  5 August 2020</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-v5/debt-list-tabs">Previous address</a>
        </li>
        <li>
        <a href="/advisor-v5/bs-save-submit">Withold address</a>
        </li>
        <li>
         <a href="/advisor-v5/debt-list-tabs-search">Business details</a>
        </li>
        </ul>
      <a href="/advisor-v6/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

        <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:5</span>
      Create Breathing Space account</h2>
       <div class="inner">
                       <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>CAB,  22 July 2020</strong></p></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-v5/debt-list-tabs">Previous address</a>
        </li>
        <li>
        <a href="/advisor-v5/bs-save-submit">Withold address</a>
        </li>
        <li>
         <a href="/advisor-v5/debt-list-tabs-search">Business details</a>
        </li>
        </ul>
      <a href="/advisor-v5/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>



  <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:4</span>
      Create Breathing Space account and submit an application, action review requests on an active account</h2>
       <div class="inner">
                    <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Rethink, Birmingham, 26 June 2020</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="/advisor-mvp/debt-list-tabs">Add a new debt</a>
        </li>
        <li>
        <a href="/advisor-mvp/bs-save-submit">Submit Breathing Space.</a>
        </li>
        <li>
         <a href="/advisor-mvp/debt-list-tabs-search">Perform an debt eligibility review</a>
        </li>
        </ul>
      <a href="/advisor-mvp/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>


          <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:3</span>
      Create breathing space account and submit an application</h2>
       <div class="inner">
                    <p><strong class="govuk-tag govuk-tag--orange">
  Not tested
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        Add a new debt and remove a debt
        </li>
        <li>
        Add creditor identified debts to breathing space.
        </li>
        <li>
        Perform an eligibility review
        </li>
           <li>
        End breathing space early
        </li>
        </ul>
      <a href="/advisor-v3/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design exploration</h3>
        <p><a href="/advisor-v3/index-dashboard">Alternative landing page</a></p>
      </div>
      </div>

          <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:2</span>
      Create breathing space account and submit an application</h2>
       <div class="inner">
              <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>National Debtline, Birmingham, 11 March 2020</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        Create a customer record, add multiple debts and submit to breathing space
        </li>
          <li>
        Perform an eligibility review
        </li>
           <li>
        End breathing space early
        </li>
        </ul>
      <a href="/advisor-v2/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

    <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1.2</span>
      Create breathing space account and submit an application</h2>
       <div class="inner">
        <p><strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Rethink, Birmingham, 27 February 2020</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">Scenarios were testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        Adding personal details for a client.
        </li>
        <li>
        Adding multiple debts to breathing space.
        </li>
         </li>
        <li>
        Submit Breathing Space application
        </li>
        </ul>
      <a href="/advisor-v1-2/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

      <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1.1</span>
      Create breathing space account and submit an application</h2>
       <div class="inner">
        <p class="govuk-body">Scenarios were testing</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        Adding personal details for a client.
        </li>
        <li>
        Adding multiple debts to breathing space.
        </li>
         </li>
        <li>
        Submit Breathing Space application
        </li>
        </ul>
      <a href="/advisor-v1-1/index" class="govuk-button govuk-button--secondary">Start scenario</a>
      </div>
      </div>
      <div class="card">
      <h2 class="govuk-heading-m">
       <span class="govuk-caption-l">Scenarios were testing:</span>
      Create breathing space account and submit an application</h2>
      <div class="inner">
        <p class="govuk-body">What are we testing:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
        Adding personal details for a client
        </li>
        <li>
        Adding a problem debt
        </li>

        </ul>
      <a href="/advisor-v1/index" class="govuk-button govuk-button--secondary">Start scenario</a>
      </div>
      </div>
    </div>
</div>

{% endblock %}
