
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}
 SDRP - Creditor
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        SDRP - Creditor
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>

                  <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:latest - working version</span>
     </h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not Tested
</strong> <!-- with <strong>National debtline,  9 September 2020</strong> -->
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
       <ul class="govuk-list">
        <li>
        Homepage
        </li>
        <li>

       Plan landing page 2

        </li>
        </ul>
      <a href="/sdrp/current/creditor/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>

              <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:11</span>
      Search, homepage and tasklists</h2>
       <div class="inner">
  <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>6 Creditors, week commencing 31 January 2022</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
      <ul class="govuk-list">
        <li>
        <a href="/sdrp/v2/creditor/index">Homepage</a>
        </li>
        <li>
        <a href="/sdrp/v2/creditor/plan">Plan landing page</a>
        </li>
        </ul>
      <a href="/sdrp/v2/creditor/index" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>
    </div>
</div>

{% endblock %}
