
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}

  Breathing space

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
        SDRP
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

 <div class="card-container">
  <!--    <div class="card">
    <h2 class="govuk-heading-m">
     Links to prototype sections</h2>
   
      <p>Quick links to prototype sections</p>
      <a href="links-to-statics" class="govuk-button govuk-button--secondary">View screens</a>
      </div> -->

    <div class="card">
      <h2 class="govuk-heading-m">
      SDRP - Design and<br> research</h2> 
      <p>All iterations and design variations</p>
      <a href="sdrp-design-and-research" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>
   </div>
   </div>

</div>

{% endblock %}
