
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
        SDRP - Debt Adviser 
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>

                  <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:latest - working version</span>
     </h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not Tested
</strong> <!-- with <strong>National debtline,  9 September 2020</strong> -->
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
       <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Homepage</h2> 
       <p><a href="/sdrp/current/advisor/index">View homepage</a></p>
      
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Tasks to do </h2>
              <p><a href="/sdrp/current/advisor/index">View tasks to do</a></p>
        <ul class="govuk-list govuk-list--bullet">
        <li>Creditor raised discrepancies</li>
        <li>Creditor cant find the debt</li>
        <li>Draft plan nearing deadline</li>
        </ul>
      
       <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Homepage</h2> 
       <p><a href="/sdrp/current/advisor/plan">View plan</a></p>

        <ul class="govuk-list govuk-list--bullet">
        <li>Step - move plan to next stage area</li>
        <li>Plan summary</li>
        <li>Task tab</li>
        <li>Plan tab</li>
        <li>Confirmation messages</li>
        <li>Confirmation messages</li>
        </ul>
       
      </div>
      </div>

           <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:02</span>
      Search, homepage and tasklists</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>6 Debt advice providers, week commencing 24 January 2022</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
          <ul class="govuk-list">
        <li>
        <a href="/sdrp/v2/advisor/index">Homepage</a>
        </li>
        <li>
        <a href="/sdrp/v2/advisor/plan">Plan landing page</a>
        </li>
        </ul>
      </div>
      </div>
    </div>
</div>

{% endblock %}
