
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}

  Statutory debt repayment plan

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
       SDRP - Design and research
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>{{releaseVersion | log }}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="card-container">

    <div class="card ">
      <h2 class="govuk-heading-m">
      Debt advisers</h2>
      
      <a href="/sdrp-money-advisers" class="govuk-button govuk-button--secondary">View prototypes</a>
     
   </div>


    <div class="card ">
      <h2 class="govuk-heading-m">
      Creditors</h2>
      
      <a href="/sdrp-creditors" class="govuk-button govuk-button--secondary">View prototypes</a>
     
   </div>

   <div class="card ">
      <h2 class="govuk-heading-m">
      MVP</h2>
      
      <a href="/sdrp/current/advisor/index" class="govuk-button govuk-button--secondary">View prototypes</a>
     
   </div>

   <!--      <div class="card">
      <h2 class="govuk-heading-m">
 Creditors</h2>
      <a href="creditors" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>


<div class="card">
      <h2 class="govuk-heading-m">
      Developer hub</h2>
       
      <a href="/developer-latest/quicklinks" class="govuk-button govuk-button--secondary">View prototypes</a>
      
   </div>

<div class="card">
      <h2 class="govuk-heading-m">
      Private Beta - MVP</h2>
       
      <a href="/private-beta-mvp" class="govuk-button govuk-button--secondary">View prototypes</a>
      
   </div>

       <div class="card">
      <h2 class="govuk-heading-m">
      Mental health professional</h2>
    
      <a href="/mental-health" class="govuk-button govuk-button--secondary">View prototypes</a>
    
   </div>


      <div class="card">
      <h2 class="govuk-heading-m">
 Client / Debtor</h2>
 
  
      <a href="debtor" class="govuk-button govuk-button--secondary">View prototypes</a>
      </div>    -->

</div>
</div>
</div>

{% endblock %}
