
{% extends "layout-bs-sdrp.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
       <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>  
      <h1 class="govuk-heading-xl">
        SDRP - Debt Adviser 
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>

                  <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:latest - working version</span>
     </h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not Tested
</strong> <!-- with <strong>National debtline,  9 September 2020</strong> -->
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
       <ul class="govuk-list">
        <li>
        <a href="/sdrp/current/advisor/index">Homepage</a>
        </li>
        <li>
        <a href="/sdrp/current/advisor/plan">Plan landing page</a>
        </li>
        </ul>
      </div>
      </div>

           <div class="card">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:02</span>
      Search, homepage and tasklists</h2>
       <div class="inner">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>6 Debt advice providers, week commencing 24 January 2022</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios were testing:</p>
          <ul class="govuk-list">
        <li>
        <a href="/sdrp/v02/advisor/index">Homepage</a>
        </li>
        <li>
        <a href="/sdrp/v02/advisor/plan">Plan landing page</a>
        </li>
        </ul>
      </div>
      </div>
    </div>
</div>

{% endblock %}
