
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="" method="post">
    <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
<h1 class="govuk-heading-xl">Scenarios</h1>
<h2 class="govuk-heading-l">Homepage</h2> 
<p><a href="homepage-card">Start scenario</a></p>

<h2 class="govuk-heading-l">Self assessment landing page</h2>  
<p><a href="debttype-landing-page">Start scenario</a></p>

    </div>
    </form>
</div>

{% endblock %}
