
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt-list-tabs" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Step 2 of 2</span>
       Add a debt
      </h1>
      <h2 class="govuk-heading-s">Creditor</h2>
      <p class="govuk-body">{{ creditorthree }} <a href="debt3">Change</a></p>
       <h2 class="govuk-heading-s">Type of debt</h2>
      <p class="govuk-body">Credit card</p>

 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="amountthree">
   Debt amount
  </label>
  <input class="govuk-input govuk-input--width-10" id="amountthree" name="amountthree" type="text" spellcheck="false" value="{{ amountthree }}">
</div>

 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="referencethree">
    Reference
  </label>
    <span id="changed-name-hint" class="govuk-hint">
      This is your personal reference for the debt</span>
  <input class="govuk-input govuk-input--width-10" id="referencethree" name="referencethree" type="text" spellcheck="false" value="{{ referencethree }}">
</div>

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debt3" type="radio" value="debt3" checked>
        <label class="govuk-label govuk-radios__label" for="debt3">
         hidden radio
        </label>
      </div>
      </div>




<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
