
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-removedebt" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Confirm you are not removing the debt from Breathing Space
      </h1>

 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    
    <p class="govuk-body">We will inform {% include path+"advisor-mvp/_review_creditor.html" %} that you haven't removed the debt</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason</h3>
<p class="govuk-body">{{ eligibilityNo }}</p>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Credit card
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: {% include path+"advisor-mvp/_review_creditor.html" %}<br>Amount: £2500<br> Reference: RBC23455003
            </dd>
            <dd class="govuk-summary-list__actions">
       
            </dd>
          </div>
  </dl>



<button class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}
