
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="endbreathingspace-no" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Client eligibility review
      </h1>
      </div>
   <div class="govuk-grid-column-three-quarters">


  <!--   {% macro timeline_entry(heading, reason, moredetail, name_org_timestamp ) %}
               <li>
               <h2 class="govuk-heading-m govuk-!-margin-bottom-5">{{heading}}</h2>
                 <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason:</h3>
                  <p class="govuk-body">{{reason}}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More Detail:</h3>
                    <p class="govuk-body">{{moredetail}}</p>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">{{name_org_timestamp}}</p>
               </li>
      {% endmacro %}

  <ul class="govuk-list timeline govuk-!-margin-bottom-6">
        {{ timeline_entry("We have informed Halifax (Credit cards only) that you haven't removed the debt from Breathing Space", "The debt does not qualify for Breathing Space", "This is a none eligible business debt, the credit card was secured against the clients business", "Requested: Sammy Hewitt, Halifax (Credit cards only), 04 June 2020 at 11.32am") }}
  </ul> -->


  <ul class="govuk-list timeline govuk-!-margin-bottom-6">
{% if checked('client-eligibility','yes') %}

    <li>
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">We have informed {% include path+"advisor-mvp/_review_creditor.html" %} that the clients Breathing Space has ended</h2>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason:</h3>
                    <p class="govuk-body">The Client is not eligible for Breathing Space</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More Detail:</h3>
                    <p class="govuk-body">{{ clientEligibilityDetail | default("We agree that this Client has had a Breathing Space in the last 12 months, so we are ending the clients Breathing Space") }}</p>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Reviewed: {% include path+"creditor-mvp/_ma-advisor.html" %}, {% include path+"creditor-mvp/_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
                </li>

{% elif checked('client-eligibility','no') %}

             <li>
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">We have informed {% include path+"advisor-mvp/_review_creditor.html" %} that the client hasn't been removed from Breathing Space</h2>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More Detail:</h3>
                    <p class="govuk-body">{{ clientEligibilityDetail | default("We disagree that this Client has had a Breathing Space in the last 12 months, so we are not ending the clients Breathing Space") }}</p>
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Reviewed: {% include path+"creditor-mvp/_ma-advisor.html" %}, {% include path+"creditor-mvp/_advise-org-name.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd() }} at 11.42am</p>
                </li>

{% endif %}

            
                       <li>
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Barclays Bank Plc have requested a client eligibility review 
                </h2>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason:</h3>
                    <p class="govuk-body">They have had Breathing Space in the last 12 months</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">More Detail:</h3>
                    <p class="govuk-body">Our records indicate that our client has had a Breathing Space in the last 12 months so they’re not eligible.</p>
                  
                    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-2">Requested: Kiran Callaghan, Barclays Bank Plc,{{ 'DD MMMM YYYY' | baseDateAdd(-1) }} at 11.32am</p>
                </li>
               
              </ul>      


 {% if data['bsEndReason'] or checked('client-eligibility','yes') or checked('client-eligibility','no') or checked('MAScenaioChoice','breathing space ended') %} 
             {% else %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
          Do you want to end your client's Breathing Space?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="client-eligibility-conditional" name="client-eligibility" type="radio" value="yes~endbreathingspace-confirm">
        <label class="govuk-label govuk-radios__label" for="client-eligibility-conditional">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="client-eligibility-conditional-2" name="client-eligibility" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="client-eligibility-conditional-2">
          No
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="clientEligibilityDetail">
    Can you provide more detail?
  </label>
  <textarea class="govuk-textarea" id="clientEligibilityDetail" name="clientEligibilityDetail" rows="4" aria-describedby="clientEligibilityDetail-hint"></textarea>
  </div>






<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
{% endif %}
    </div>
    </form>
</div>


{% endblock %}
