
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}



  <form class="form" action="/advisor-mvp/index" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Time machine</h1>

      <p class="govuk-body-l">Advice uk are sent a notification that Halifax have asked for a review of the credit card debt</p>


      <h2 class="govuk-heading-m">Money Adviser</h2>
      <p>A staff member accesses the record and reviews the debt</p>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
       </div> 

    </form>


{% endblock %}
