


  {%if checked('confirmation', 'show')%}
 <div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmation</h2>
  {% if checked('confirmationmessage','debtremoved')%}
  <p class="govuk-body">Review completed. You've removed the debt</p>
  {% elif checked('confirmationmessage','debtremains')%}
  <p class="govuk-body">Review completed. You have not removed the debt</p>
{% elif checked('confirmationmessage','proposedaccepted')%}
  <p class="govuk-body">Proposed debt accepted. The debt has been added </p>
  {% elif checked('confirmationmessage','proposedrejected')%}
  <p class="govuk-body">Proposed debt rejected. You have not added the debt</p>

  {% elif checked('confirmationmessage','clientremains')%}
  <p class="govuk-body">Review completed. You have not removed the client</p>

  {% elif checked('confirmationmessage','adhocClientReviewrequested')%}
  <p class="govuk-body">You've recorded that the creditor has asked us to review the client. We've added a new task to do</p>

  {% elif checked('confirmationmessage','adhocReviewrequested')%}
  <p class="govuk-body  govuk-!-margin-bottom-0">You've recorded that the creditor has asked us to review the debt. We've added a new task to do</p>

  {% elif checked('confirmationmessage','solddebt')%}
  <p class="govuk-body govuk-!-margin-bottom-2">You've transferred the debt to the new creditor</p>
  <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-0">What next</h3>
  <p class="govuk-body">We will notify the new creditor</p> -->
 
   {% elif checked('confirmationmessage','nonComplianceReported')%}
  <p class="govuk-body govuk-!-margin-bottom-2">You've reported creditor to the Insolvency Service</p>

     {% elif checked('confirmationmessage','newdebt')%}
  <p class="govuk-body govuk-!-margin-bottom-2"> You've added a new debt  to your clients Breathing Space</p>
  {% endif %}
</div>

{% elif checked('confirmation','remove') %}

{% endif %}