{% if checked('debttype','debt1') or checked('debttype','proposed') %}
Barclays Bank Plc
{% elif checked('debttype','debt2')  %}
Halifax (Credit cards only)
{% elif checked('debttype','debt3')  %}
M Jones(landloard)
{% elif checked('debttype','debt4')  %}
Yorkshire Water Services Ltd
{% elif checked('debttype','debt5') and  checked('dontown','yes')%}
Akinika Debt Recovery Limited
{% elif checked('debttype','debt5')  %}
EDF Energy Ltd
{% elif checked('debttype','debt6')  %}
Southwark Council
{% elif checked('debttype','debt7')  %}
HMRC
{% endif %}
   