<nav id="nav"  class="secondary ">
  <div class="navbar">
     <ul class="navbar__list-items signin">
            <li>
        <p> Advice Uk</p>
      </li>
        <li>
        <p>Paul Smith</p>
      </li>
      <li>
        <a href="#">Sign out</a>
      </li>
    
    </ul>
    <ul class="navbar__list-items">
      <li>
        <a href="index">Home</a>
      </li>
       <li>
        <a href="details">Create Breathing Space</a>
      </li>
      <li>
        <a href="search">Search</a>
      </li>
    </ul>
  </div>
</nav>