<nav id="nav"  class="secondary ">
  <div class="navbar">
     <ul class="navbar__list-items signin">
        <li>
            <p>Paul Smith</p>
      </li>
        <li>
          <p>Advice Uk</p>
      </li>
      <li>
        <a href="#">Sign out</a>
      </li>
    
    </ul>
    <ul class="navbar__list-items">
      <li>
        <a href="index">Home</a>
      </li>
         <li>
        <a href="tasks-to-do">Tasks to do</a>
      </li>
      <li>
        <a href="search">Search</a>
      </li>
    </ul>
  </div>
</nav>