
            <h2 class="govuk-heading-l">
     Client details
      </h2>
 

 <h3 class="govuk-heading-m">Personal details</h3>
 <dl class="govuk-summary-list govuk-!-margin-bottom-2">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
               
     Raquela
           
       Heffer
     
     
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              
    13-Apr-1971
 
                  
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

           
     
      </dl> 


       <h2 class="govuk-heading-m">Addresses</h2>
       <dl class="govuk-summary-list govuk-!-margin-bottom-2">  
            
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
     
                
             	<p> 53 David Place <br> London <br>
 NW7 8SL
 
           
            </p></dd>
            <dd class="govuk-summary-list__actions">
 
            </ul></ul></dd>
          </div>
          
                       

 
        </dl>

           <h2 class="govuk-heading-m">Notification preference</h2>
       <dl class="govuk-summary-list">  
                 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
       Method
            </dt>
            <dd class="govuk-summary-list__value">
      Post
            </dd>
            <dd class="govuk-summary-list__actions">
         
          
            
            </dd>
          </div>
          
        </dl>

<h2 class="govuk-heading-m">Business</h2>
      
         

 <dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
         <dl class="govuk-summary-list">  
                 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
     Eco party bags
            </dt>
            <dd class="govuk-summary-list__value">
                 	<p> 53 David Place <br> London <br>
              NW7 8SL
 
           
            </p>
            </dd>
            <dd class="govuk-summary-list__actions">
         
          
            
            </dd>
          </div>
          
        </dl>
     

 

  </dl>