
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}
  {% include "./_global-nav.html" %} 
{% include "./_keydetails_active.html" %}
<!--
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Training outcome recorded and trainee withdrawn
    </p>
    <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.</p>
  </div>
</div> -->

{% include "./_confirmation-message-box.html" %}
<!-- debtrow macro -->
{% macro debtrow(debtname, debtCreditor, debtAmount, debtReference, debtdate, debtType, debtTaskToDo) %}
 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 <dt>
 <h2 class="govuk-heading-s"><span class="govuk-!-display-block" >Debt: {{ debtname }}</span>
   {% if client.task =='debtreview' and debtname == 'Housing benefit' 
   or client.task =='debtReviewComplete'
   or client.task =='transferdebt' 
   or client.task =='clientreview' and debtname =='Water' 
   or client.task =='proposeddebt' 
   or checked('debtStatus','nonComplianceReported') %}
  {% if debtname == 'Housing benefit' and  client.task =='debtreview' %}
<strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
Creditor asked us to review this debt
</strong>
 {% elif debtname == 'Housing benefit' and  client.task =='debtReviewComplete' %}
<strong class="govuk-tag govuk-!-margin-top-2">Money advisor reviewed the debt</strong>
 {% elif debtname == 'Water' and  client.task =='clientreview' %}
<strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
Creditor asked us to review the client
</strong>

 {% elif debtname == 'Gas' and  client.task =='transferdebt' %}
<strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
Creditor has sold the debt
</strong>
{% endif %}


 {% if checked('debtStatus','nonComplianceReported') and debtType=="debt3" %}
 <strong class="govuk-tag govuk-!-margin-bottom-2">
Creditor reported to Insolvency Service
</strong>
 {% endif %}
  {% endif %}
 </dt>
  

 
<dd class="govuk-!-margin-left-0">
    <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

 </div>
 </div>
  
</dd>
  
 <dd class="govuk-!-margin-left-0">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li>Creditor: {{debtCreditor}}</li> 
      <li>Amount: {{debtAmount}}<li>
      <li> Reference: {{debtReference}}</li>
      <li> Debt was entered on {{ debtdate }}<li>
    </ul>

    </div>
     <div class="govuk-grid-column-one-third"> 

  <ul class="govuk-list govuk-!-font-size-16" >

       {% if checked('clientreview','bsended') 
       or client.task =='debtreview' and debtname =='Housing benefit' 
       or client.task =='clientreview' and debtname =='Water' 
       or client.task =='transferdebt' and debtname =='Gas' 
       or client.status =='inactive'
       %}
      <li>
  {% if debtname == 'Housing benefit' and  client.task =='debtReviewComplete'  %}
    <a href="eligibility-review?reference={{client.reference}}" class="govuk-body">View debt review details</a>               
 {% elif debtname == 'Housing benefit' and client.task =='debtreview' %}
    <a href="eligibility-review?reference={{client.reference}}" class="govuk-body">Review the debt</a>                
   {% elif debtname == 'Water' and client.task =='clientreview' %}  
   <a href="eligibility-review-client?reference={{client.reference}}" class="govuk-body">Review the client</a>    
   {% elif debtname == 'Gas' and client.task =='transferdebt' %}  
  <a href="sold-debt?reference={{client.reference}}" class="govuk-body">Transfer the debt</a>      
  {% endif %}   
   {% if checked('debtStatus','nonComplianceReported') and debtType=="debt3" %}    
     <a href="compliance-details?reference={{client.reference}}" class="govuk-body">View details</a> 
   {% endif %}     
             
              </li>
       {% else %}
        
             <li>
             <form class="form" action="change-debt1" method="post">
                 <button class="govuk-body govuk-link">Update debt details</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
             </li>
             <li>                
    <form class="form" action="remove-debt" method="post">
                 <button class="govuk-body govuk-link">Remove this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
              </li>
               <li>
                  <form class="form" action="sold-debt-adhoc" method="post">
                  <button class="govuk-body govuk-link">Creditor has sold this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
          
                <li>
              <form class="form" action="review-client-ma" method="post">
              <button class="govuk-body govuk-link">Add client eligibility review task</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
                 {% if client.task =='debtReviewComplete' and debtname=='Housing benefit' %}
              {% else %}
              <li>
                <form class="form" action="review-debt-ma" method="post">
                  <button class="govuk-body govuk-link">Add debt eligibility review task</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              {% endif %}
               {% if checked('debtStatus','nonComplianceReported') and debtType=="debt3" %}
               {% else %}
              <li>
              <form class="form" action="compliance?reference={{client.reference}}" method="post">
                  <button class="govuk-body govuk-link">Report this creditor</button>
               <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="" name="debtType" type="radio" value="{{debtType}}~compliance?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="typeOfDebt">
         hidden radio
        </label>
      </div>
                 {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              {% endif %}
             
              {% endif %}
               </ul>
              </div>
          
 </div>
 </dd>


 {% endmacro %}

<!-- endmacro -->




 






   {% if checked('changedetails', 'yes')%}
<div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-1 govuk-!-margin-top-1">
  Personal details saved and updated
</div>
 {% endif %}
  {% if checked('clientreview','bsended') or client.status =='inactive' %}

<div class="govuk-details__text govuk-!-margin-bottom-6 govuk-!-margin-top-0 govuk-fullborder--blue">
<h2 class="govuk-heading-m govuk-!-margin-bottom-4">This {% if client.type =='Mental Health' %} mental health {% else %}standard {% endif %}Breathing Space has ended</h2>
<ul class="govuk-list">
<li>It ran for  {% if client.type =='Mental Health' %} 92 {% else %} 31 {% endif %}days<li>
<li>Started: {{ client.startdate }} <li>
<li>Ended: {{ client.enddate }} <li>
</ul>
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Reason it ended early</h3>
<p class="govuk-body">The client is not eligible because they have had another Breathing Space in the last 12 months</p>
<p>A person can only have one standard Breathing Space in any 12 month period. If a person is receiving mental health crisis treatment they might be eligible to be entered into a mental health Breathing Space</p>
<p>If you're happy that your client's eligible for another Breathing Space, you must <a href="index" class="govuk-link">create a new one</a>. </p>
</div>

  {% else %} 
 <a href="add-new-debt?reference={{client.reference}}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Add a debt
</a>
 <a href="endbreathingspace" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  End Breathing Space
</a>

{% endif %}




   
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
{% if client.task%}
      <li  class="govuk-tabs__list-item govuk-tabs__list-item--selected">

      <a class="govuk-tabs__tab" href="#actions">
      Tasks
      </a>
    </li>
 {% endif %}   
    <li  class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#problem-debt">
       Debts
      </a>
    </li>
   {% if checked('debt-eligibility','yes') 
   or checked('removedebt', 'debt1') 
   or checked('removedebt', 'debt2')  
   or checked('removedebt', 'debt3')
   or checked('removedebt', 'debt4')
   or checked('removedebt', 'debt5')
   or checked('removedebt', 'debt6')
   or checked('removedebt', 'debt7')  
   or checked('removedebt', 'proposed')    
   %}
       <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#removed-debt">
       Removed debts
      </a>
    </li>
    {% endif %} 
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#personal-details">
        Client details
      </a>
    </li>

  </ul>
  {% if client.task%}
    <section class="govuk-tabs__panel" id="actions">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Tasks</h2>
     {% include "./_tasklist_data.html" %} 
    </section>
    {% endif %}
  <section class="govuk-tabs__panel" id="problem-debt">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Debts</h2>
  <dl>     
  {% if checked('addDebt','yes') %} 
   {{ debtrow(
  [debttype],
 [newcreditor],
 [adddebtamount],
 [adddebtreference],
 ['Do MMMM YYYY' | baseDateAdd(0)]
) }}
  {% endif %}
   
   {{ debtrow(
 "Housing benefit",
 "Newcastle city council",
 "£867",
 "NCC-HB-23417",
  ['Do MMMM YYYY' | baseDateAdd(0)],
 "debt1"

) }}

{% if checked('debtreview','debtremoved') %}
{% else %}

{{ debtrow(
"Credit card",
"Halifax credit cards only",
"£5400",
"HAL345TH456",
['Do MMMM YYYY' | baseDateAdd(0)],
"debt2"
) }}


{% endif %}


   {{ debtrow(
  " Rent arrears",
  " M Jones(landlord)",
  "£1250",
  "Flat 4 Monmouth Rd",
  ['Do MMMM YYYY' | baseDateAdd(0)],
  "debt3"
) }}


   {{ debtrow(
 "Water",
 "Yorkshire Water Services Ltd",
 "£102",
 "4949 9494 9449",
['Do MMMM YYYY' | baseDateAdd(0)],
 "debt4"
) }}


   {{ debtrow(
  "Gas",
  "EDF Energy Ltd",
  "£389",
  "CRT8536544",
  "debt5",
  ['Do MMMM YYYY' | baseDateAdd(0)]
  
) }}


   {{ debtrow(
   "Council tax",
   "Southwark Council",
   "£1179",
   "LCC3456789",
   ['Do MMMM YYYY' | baseDateAdd(0)],
   "debt6"
) }}


   {{ debtrow(
   "Self assessment paye",
   "HMRC",
   "£789",
   "KN23455",
     ['Do MMMM YYYY' | baseDateAdd(0)],
   "debt7"
) }}
 </dl>

  </section>
 {% if checked('debt-eligibility','yes')
   or checked('removedebt', 'debt1') 
   or checked('removedebt', 'debt2')  
   or checked('removedebt', 'debt3')
   or checked('removedebt', 'debt4')
   or checked('removedebt', 'debt5')
   or checked('removedebt', 'debt6')
   or checked('removedebt', 'debt7') 
   or checked('removedebt', 'proposed')    %}
   <section class="govuk-tabs__panel" id="removed-debt">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Removed debts</h2>
 {% include "./_removeddebtslist.html" %} 

   </section>
  {% endif %}

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details">
     {% if client.status =='inactive'%}
      {% include "./_personaldetailsended.html" %} 
     {% else %}
     {% include "./_personaldetails.html" %} 
     {% endif %}

  </section>


</div>
    </div>
   


{% endblock %}
