
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}
  {% include "./_global-nav.html" %} 
{% include "./_keydetails_active.html" %}



{% include "./_confirmation-message-box.html" %}
{% for customer in customers %} 
{{customer.name}}
{% endfor %}




{{customer.reference }}
{{customer.name}}
{{customer.debt1}}
 
 






   {% if checked('changedetails', 'yes')%}
<div class="govuk-inset-text govuk-tag--green govuk-!-margin-bottom-1 govuk-!-margin-top-1">
  Personal details saved and updated
</div>
 {% endif %}
  {% if checked('clientreview','bsended') %}
  {% else %} 
 <a href="add-new-debt" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Add a debt
</a>
 <a href="review-client-ma" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  Add client eligibility review task
</a>

 <a href="endbreathingspace" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button">
  End Breathing Space
</a>

{% endif %}




   
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">

      <li  class="govuk-tabs__list-item govuk-tabs__list-item--selected">

      <a class="govuk-tabs__tab" href="#actions">
      Tasks
      </a>
    </li>
    <li  class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#problem-debt">
       Debts
      </a>
    </li>
   {% if checked('debt-eligibility','yes') 
   or checked('removedebt', 'debt1') 
   or checked('removedebt', 'debt2')  
   or checked('removedebt', 'debt3')
   or checked('removedebt', 'debt4')
   or checked('removedebt', 'debt5')
   or checked('removedebt', 'debt6')
   or checked('removedebt', 'debt7')     
   %}
       <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#removed-debt">
       Removed debts
      </a>
    </li>
    {% endif %} 
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#personal-details">
        Client details
      </a>
    </li>

  </ul>
    <section class="govuk-tabs__panel" id="actions">
     <h2 class="govuk-heading-l">Tasks</h2>
     {% include "./_tasklist.html" %} 
    </section>
  <section class="govuk-tabs__panel" id="problem-debt">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Debts</h2>

   {% macro debtrow(type, creditor, amount, reference, debttype) %}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li><h2 class="govuk-heading-s">Debt: {{type}}</h2></li> 
      <li>Creditor: {{creditor}}</li> 
      <li>Amount: {{amount}}<li>
      <li> Reference: {{reference}}</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    </ul>
    </div>
     <div class="govuk-grid-column-one-third"> 
          <ul class="govuk-list govuk-!-font-size-16" >
             <li>
             <form class="form" action="change-debt1" method="post">
                 <button class="govuk-body govuk-link">Update debt details</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
             </li>
             <li>                
    <form class="form" action="remove-debt" method="post">
                 <button class="govuk-body govuk-link">Remove this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
              </li>
               <li>
                  <form class="form" action="change-debt" method="post">
                  <button class="govuk-body govuk-link">Creditor has sold this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
                <form class="form" action="review-debt-ma" method="post">
                  <button class="govuk-body govuk-link">Add debt eligibility review task</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
              <form class="form" action="" method="post">
                  <button class="govuk-body govuk-link">Report non compliance</button>
                {% include "./_debtypeHiddenRadio.html" %} 
                 {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              </ul>
              </div>
          
 </div>

 {% endmacro %}




   {% macro debtrowproposed(type, creditor, amount, reference, debttype) %}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li><h2 class="govuk-heading-s">Debt: {{type}}</h2></li> 
      <li>Creditor: {{creditor}}</li> 
      <li>Amount: {{amount}}<li>
      <li> Reference: {{reference}}</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(0) }}<li>
    </ul>
    </div>
     <div class="govuk-grid-column-one-third"> 
          <ul class="govuk-list govuk-!-font-size-16" >
             <li>
             <form class="form" action="change-debt1" method="post">
                 <button class="govuk-body govuk-link">Update debt details</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
             </li>
             <li>                
    <form class="form" action="remove-debt" method="post">
                 <button class="govuk-body govuk-link">Remove this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
              </li>
               <li>
                  <form class="form" action="change-debt" method="post">
                  <button class="govuk-body govuk-link">Creditor has sold this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
                <form class="form" action="review-debt-ma" method="post">
                  <button class="govuk-body govuk-link">Record debt eligibility review</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
              <form class="form" action="" method="post">
                  <button class="govuk-body govuk-link">Report compliance</button>
                {% include "./_debtypeHiddenRadio.html" %} 
                 {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              </ul>
              </div>
          
 </div>

 {% endmacro %}


  {% macro debtrowreview(type, creditor, amount, reference, debttype) %}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li><strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">Creditor asked for review</strong><h2 class="govuk-heading-s">Debt: {{type}}</h2></li>
      <li>Creditor: {{creditor}}</li> 
      <li>Amount: {{amount}}<li>
      <li> Reference: {{reference}}</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    </ul>
    </div>
     <div class="govuk-grid-column-one-third"> 
          <ul class="govuk-list govuk-!-font-size-16" >
              <li>
                <form class="form" action="eligibility-review" method="post">
                  <button class="govuk-body govuk-link">Review the debt</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              </ul>
              </div>
          
 </div>

 {% endmacro %}



  {% macro debtrowreviewcompleted(type, creditor, amount, reference, debttype) %}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li><strong class="govuk-tag govuk-!-margin-bottom-2">Money advisor reviewed</strong><h2 class="govuk-heading-s">Debt: {{type}}</h2></li>
      <li>Creditor: {{creditor}}</li> 
      <li>Amount: {{amount}}<li>
      <li> Reference: {{reference}}</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    </ul>
    </div>
     <div class="govuk-grid-column-one-third"> 
             <ul class="govuk-list govuk-!-font-size-16" >
              <li class="govuk-!-margin-bottom-4">
                <form class="form" action="eligibility-review-details" method="post">
                  <button class="govuk-body govuk-link">View review details</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
             <li>
             <form class="form" action="change-debt1" method="post">
                 <button class="govuk-body govuk-link">Update debt details</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
             </li>
             <li>                
    <form class="form" action="remove-debt" method="post">
                 <button class="govuk-body govuk-link">Remove this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
              </li>
               <li>
                  <form class="form" action="change-debt" method="post">
                  <button class="govuk-body govuk-link">Creditor has sold the debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
              <form class="form" action="" method="post">
                  <button class="govuk-body govuk-link">Report compliance</button>
                {% include "./_debtypeHiddenRadio.html" %} 
                 {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              </ul>
              </div>
          
 </div>

 {% endmacro %}


   {% macro debtrowreviewcompletedadhoc(type, creditor, amount, reference, debttype) %}
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds"> 
      <ul class="govuk-list">
      <li><strong class="govuk-tag govuk-!-margin-bottom-2">Money advisor reviewed</strong><h2 class="govuk-heading-s">Debt: {{type}}</h2></li>
      <li>Creditor: {{creditor}}</li> 
      <li>Amount: {{amount}}<li>
      <li> Reference: {{reference}}</li>
      <li> Debt was entered on {{ 'Do MMMM YYYY' | baseDateAdd(-1) }}<li>
    </ul>
    </div>
     <div class="govuk-grid-column-one-third"> 
             <ul class="govuk-list govuk-!-font-size-16" >
              <li class="govuk-!-margin-bottom-4">
                <form class="form" action="eligibility-review-adhoc-details" method="post">
                  <button class="govuk-body govuk-link">View review details</button>
              {% include "./_debtypeHiddenRadio.html" %} 
               {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
             <li>
             <form class="form" action="change-debt1" method="post">
                 <button class="govuk-body govuk-link">Update debt details</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
             </li>
             <li>                
    <form class="form" action="remove-debt" method="post">
                 <button class="govuk-body govuk-link">Remove this debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
             </form>
              </li>
               <li>
                  <form class="form" action="change-debt" method="post">
                  <button class="govuk-body govuk-link">Creditor has sold the debt</button>
                  {% include "./_debtypeHiddenRadio.html" %} 
                   {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              <li>
              <form class="form" action="" method="post">
                  <button class="govuk-body govuk-link">Report compliance</button>
                {% include "./_debtypeHiddenRadio.html" %} 
                 {% include "./_confirmRemoveHiddenRadio.html" %} 
              </form>
              </li>
              </ul>
              </div>
          
 </div>

 {% endmacro %}
{% if checked('removedebt','proposed') or checked('debttype','proposed') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','proposed') and checked('debtreviewadhoc','debtremains')%}
{{ debtrowreviewcompletedadhoc("Overdraft", "Barclays Bank Plc", "£800", "BAR3456789", "proposed") }}
{% elif checked('proposed-debt','yes') %}
{{ debtrowproposed("Overdraft", "Barclays Bank Plc", "£800", "BAR3456789", "proposed") }}
{% endif %}


{% if checked('removedebt','debt1') or checked('debttype','debt1') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt1') and checked('debtreviewadhoc','debtremains')%}
 {{ debtrowreviewcompletedadhoc("Loan", "Barclays Bank Plc", "£5400", "8945 4321 5678", "debt1") }}
{% else %}
    {{ debtrow("Loan", "Barclays Bank Plc", "£5400", "8945 4321 5678", "debt1") }}
{% endif %}  


{% if checked('debtreview','debtremains')%}
 {{ debtrowreviewcompleted("Credit card", "Halifax credit cards only", "£5400", "dddd", "debt2") }}
 {% elif checked('debtreview','debtremoved')%}
{% else %} 
    {{ debtrowreview("Credit card", "Halifax credit cards only", "£5400", "dddd", "debt2") }}
{% endif %}   


{% if checked('removedebt','debt3') or checked('debttype','debt3') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt3') and checked('debtreviewadhoc','debtremains')%}
    {{ debtrowreviewcompletedadhoc("Rent arrears", "M Jones(landloard)", "£1250", "Flat 4 Monmouth Rd", "debt3") }}
{% else %}
      {{ debtrow("Rent arrears", "M Jones(landloard)", "£1250", "Flat 4 Monmouth Rd", "debt3") }}
{% endif %}

{% if checked('removedebt','debt4') or checked('debttype','debt4') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt4') and checked('debtreviewadhoc','debtremains')%}
    {{ debtrowreviewcompletedadhoc("Water", "Yorkshire Water Services Ltd", "102", "4949 9494 9449", "debt4") }}
{% else %}
     {{ debtrow("Water", "Yorkshire Water Services Ltd", "102", "4949 9494 9449", "debt4") }}
{% endif %}


{% if checked('removedebt','debt5') or checked('debttype','debt5') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt5') and checked('debtreviewadhoc','debtremains')%}
    {{ debtrowreviewcompletedadhoc("Gas", "EDF Energy Ltd", "£489", "CRT8536544", "debt5") }}
{% else %}
     {{ debtrow("Gas", "EDF Energy Ltd", "£489", "CRT8536544", "debt5") }}
{% endif %}



{% if checked('removedebt','debt6') or checked('debttype','debt6') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt6') and checked('debtreviewadhoc','debtremains')%}
    {{ debtrowreviewcompletedadhoc("Council tax", "Southwark Council", "£1179", "LCC3456789", "debt6") }}
{% else %}
     {{ debtrow ("Council tax", "Southwark Council", "£1179", "LCC3456789", "debt6") }}
{% endif %}

{% if checked('removedebt','debt7') or checked('debttype','debt7') and checked('debtreviewadhoc','debtremoved')%}
{% elif  checked('debttype','debt7') and checked('debtreviewadhoc','debtremains')%}
    {{ debtrowreviewcompletedadhoc("Self assessment paye", "HMRC", "£789", "KN23455", "debt7") }}
{% else %}
     {{ debtrow("Self assessment paye", "HMRC", "£789", "KN23455", "debt7") }}
{% endif %}



  </section>
 {% if checked('debt-eligibility','yes')
   or checked('removedebt', 'debt1') 
   or checked('removedebt', 'debt2')  
   or checked('removedebt', 'debt3')
   or checked('removedebt', 'debt4')
   or checked('removedebt', 'debt5')
   or checked('removedebt', 'debt6')
   or checked('removedebt', 'debt7')      %}
   <section class="govuk-tabs__panel" id="removed-debt">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Removed debts</h2>
 {% include "./_removeddebtslist.html" %} 

   </section>
  {% endif %}

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details">
     {% include "./_personaldetails.html" %} 

  </section>


</div>
    </div>
   


{% endblock %}
