
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="add-debt-confirm" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Step 2 of 2</span>
       Add a debt
      </h1>
      <h2 class="govuk-heading-s">Creditor</h2>
      <p class="govuk-body">{{ newcreditor }} <a href="debt2">Change</a></p>
 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="debttype">
   Type of debt
  </label>
  <input class="govuk-input govuk-input--width-10" id="debttype" name="debttype" type="text" spellcheck="false" value="{{ debttype }}">
</div>

 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="amounttwo">
   Debt amount
  </label>
  <input class="govuk-input govuk-input--width-10" id="adddebtamount" name="adddebtamount" type="text" spellcheck="false" value="{{ adddebtamount }}">
</div>

 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="adddebtreference">
    Reference
  </label>
    <span id="changed-name-hint" class="govuk-hint">
      This is your personal reference for the debt</span>
  <input class="govuk-input govuk-input--width-10" id="adddebtreference" name="adddebtreference" type="text" spellcheck="false" value="{{ adddebtreference }}">
</div>


        <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="adddebt" type="radio" value="yes~./add-debt-confirm?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
