
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form class="form" action="account-page-active" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">
       Confirm you're reporting this creditor
      </h1>
                  {% include "./_debtDetails.html" %} 
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     You are confirming you've contacted the creditor and asked them to comply to their obligations and you want to report creditor to the Insolvency service.
  </strong>
</div>

           <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="nonComplianceReported" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>

    
{% include "./_confirmShowHiddenRadio.html" %}


<button class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
