
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form class="form" action="compliance-confirm" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">
      Report creditor non compliance
      </h1>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     If the creditor is not complying to their obligations within a reasonable time, you must contact them to request them to do so.
  </strong>
</div>

        <p>
      Once you have done this and they continue to not comply to their obligations, you can report a compliance issue to the Insolvency Service.
      </p>

      <p>
      The Insolvency Service will contact them on your behalf, and may take the matter further if required.
      </p>
   


<button class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
