
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form class="form" action="compliance-confirm" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a> 
      <h1 class="govuk-heading-l">
     Report a creditor
      </h1>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     If a creditor is not following their Breathing Space obligations in a reasonable time, you must contact them to ask them to do so.
  </strong>
</div>

        <p>
     Once you’ve done this, if they are still not meeting their obligations, you can report them to the Insolvency Service.
     The Insolvency Service will contact them on your behalf, and might investigate them.
      </p>

   


<button class="govuk-button" data-module="govuk-button">
  Confirm and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
