
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="debt4-step4" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       <span class="govuk-caption-xl"> Add a debt: Step 2 of 3</span>
       Add creditor address
      </h1>
      <h2 class="govuk-heading-m">Creditor</h2>
      <p class="govuk-body">{{ creditorfour }}  <a href="debt4">Change</a></p>


      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-body">{{ creditorpostcode }} <a href="debt4-step2">Change</a></p>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Choose address
  </label>
  <select class="govuk-select" id="sort" name="sortcreditor">
    <option value="published">6 address's found</option>
    <option value="22 Hanworth Road">22 Hanworth Road, London , {{ creditorpostcode }}</option>
    <option value="25 Hanworth Road">23 Hanworth Road, London , {{ creditorpostcode }}</option>
    <option value="27 Hanworth Road">24 Hanworth Road, London , {{ creditorpostcode }}</option>
       <option value="29 Hanworth Road">25 Hanworth Road, London , {{ creditorpostcode }}</option>
    <option value="31 Hanworth Road">26 Hanworth Road, London , {{ creditorpostcode }}</option>
    <option value="33 Hanworth Road">27 Hanworth Road, London , {{ creditorpostcode }}</option>
  </select>
</div>


     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="debt4" type="radio" value="debt4" checked>
        <label class="govuk-label govuk-radios__label" for="debt4">
         hidden radio
        </label>
      </div>
      </div>




<button class="govuk-button" data-module="govuk-button">
   Save and continue
</button>
<p class="govuk-body"><a href="debt4-step2-2">Enter address manually</a></p>
    </div>
    </form>
</div>

{% endblock %}
