
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="eligibility-review-no" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Review details
      </h1>

{% if checked('debtreview','debtremoved') %}
<div class="govuk-details__text govuk-!-margin-bottom-5 govuk-!-margin-top-6 govuk-tag--blue">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Reviewed by Advice UK</h2>
                    
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Outcome of review</h3>
                    <p class="govuk-body">Debt removed - after money adviser review</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Why this debt is not eligible</h3>
                      <p class="govuk-body">{{ eligibilityNo | default(" The client has agreed that this was a debt associated with their business") }}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reviewed by</h3>          
                    <p class="govuk-body">Paul Smith, Advice UK, 06 October 2020 at 11.42am</p>
</div>
{% elif checked('debtreview','debtremains')%}
<div class="govuk-details__text govuk-!-margin-bottom-5 govuk-!-margin-top-6 govuk-tag--blue">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Reviewed by Advice UK</h2>
                    
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Outcome of review</h3>
                    <p class="govuk-body">Debt remains active - after money advisor review</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Why this debt is eligible</h3>
                      <p class="govuk-body">{{ eligibilityNo | default("The clients business is below the VAT threshold therefore this debt is eligible for Breathing Space") }}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reviewed by</h3>          
                    <p class="govuk-body">Paul Smith, Advice UK, 06 October 2020 at 11.42am</p>
</div>
{% endif %}


 <h2 class="govuk-heading-m">{% include path+"advisor-mvp/_review_creditor.html" %} asked for a review of this debt</h2>

 
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<ul class="govuk-list">
<li>Debt type: Credit card</li>
<li>Creditor: {% include path+"advisor-mvp/_review_creditor.html" %}</li>
<li>Amount: £2500</li>
<li>Reference: RBC23455003</li>
</ul>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Why this debt is not eligible</h3>
                    <p class="govuk-body">{{ moreDetail | default("This is a none eligible business debt, the credit card was secured against the clients business") }}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Requested by</h3>
                    <p class="govuk-body govuk-!-margin-bottom-7">{% include path+"advisor-mvp/_creditor-advisor.html" %}, {% include path+"advisor-mvp/_review_creditor.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>               




{% if checked('debtreview','debtremoved') or checked('debtreview','debtremains') %}
{% else %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">             
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="debt-eligibility-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
          Do you want to remove this debt?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional" name="debt-eligibility" type="radio" value="yes~eligibility-review-yes">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional-2" name="debt-eligibility" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional-2">
          No
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="eligibilityNo">
    Please provide detail
  <textarea class="govuk-textarea" id="eligibilityNo" name="eligibilityNo" rows="4" aria-describedby="eligibilityNo-hint"></textarea>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
{% endif %}
    </form>
</div>


{% endblock %}
