
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="eligibility-review-adhoc-no" method="post">
    <div class="govuk-grid-column-three-quarters">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       Review details
      </h1>


 <h2 class="govuk-heading-m">{% include "./_creditornames.html" %} asked for a review of this debt</h2>

  {% include "./_debtDetails.html" %} 
 <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reason for the review</h3>
  <p class="govuk-body">{{ debtReview }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Details to support the review</h3>
                    <p class="govuk-body">{{ moreDetail | default("This is a none eligible business debt, the credit card was secured against the clients business") }}</p>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Requested by</h3>
                    <p class="govuk-body govuk-!-margin-bottom-7">{% include "./_creditornames.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>               





<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">             
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="debt-eligibility-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
          Do you want to remove this debt?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional" name="debt-eligibility" type="radio" value="yes~eligibility-review-adhoc-yes">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional-2" name="debt-eligibility" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional-2">
          No
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="adhocreviewdetails">
    Please provide details to support your decision
  <textarea class="govuk-textarea" id="adhocreviewdetails" name="adhocreviewdetails" rows="4" aria-describedby="adhocreviewdetails-hint"></textarea>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>


{% endblock %}
