
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="eligibility-review-no" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
     </div>
     </div>
    <div class="govuk-grid-row">  
    <div class="govuk-grid-column-two-thirds"> 
      <h1 class="govuk-heading-l">
       Review details
      </h1>

 <h2 class="govuk-heading-m">{% include path+"advisor-mvp/_review_creditor.html" %} asked for a review of this debt</h2>

 
<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<ul class="govuk-list">
<li>Debt type: Credit card</li>
<li>Creditor: {% include path+"advisor-mvp/_review_creditor.html" %}</li>
<li>Amount: £2500</li>
<li>Reference: RBC23455003</li>
</ul>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reason for the review</h3>
  <p class="govuk-body">The debt is not eligible</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Details to support the review</h3>
    <p class="govuk-body">{{ moreDetail | default("This is a none eligible business debt, the credit card was secured against the clients business") }}</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Requested by</h3>
    <p class="govuk-body govuk-!-margin-bottom-7">{% include path+"advisor-mvp/_creditor-advisor.html" %}, {% include path+"advisor-mvp/_review_creditor.html" %}, {{ 'DD MMMM YYYY' | baseDateAdd(0) }} at 11.32am</p>               




{% if checked('debtreview','debtremoved') or checked('debtreview','debtremains') %}
{% else %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">             
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="debt-eligibility-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
          Do you want to remove this debt?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional" name="debt-eligibility" type="radio" value="yes~eligibility-review-yes?reference={{client.reference}}">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debt-eligibility-conditional-2" name="debt-eligibility" type="radio" value="no~eligibility-review-no?reference={{client.reference}}">
        <label class="govuk-label govuk-radios__label" for="debt-eligibility-conditional-2">
          No
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="eligibilityNo">
   Please provide details to support your decision
  <textarea class="govuk-textarea" id="eligibilityNo" name="eligibilityNo" rows="4" aria-describedby="eligibilityNo-hint"></textarea>
  </div>

    <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="debtreview" name="debtStatus" type="radio" value="debtreview" checked >
        <label class="govuk-label govuk-radios__label" for="debtreview">
         Hidden radio for logic
        </label>
        </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
{% endif %}
    </form>
    <!-- righthand column -->
   <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s related">Related content</h2>
      <p><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">See guidance about debt eligibility on GOV.UK (opens in new tab)</a></p>
   </div>
   <!-- -->

</div>


{% endblock %}
