
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-end" method="post">
    <div class="govuk-grid-column-three-quarters">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       Confirm you are ending your client's Breathing Space
      </h1>


                    <h2 class="govuk-heading-m">We will inform all creditors when the client's Breathing Space has ended</h2>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reason</h3>
                    <p class="govuk-body">
                    {{bsEndReason}}{% if checked('bsEndReason','The client is no longer eligible') and data['clientReviewReason'] %}, because {{ clientReviewReason }}{% endif %}
                    {% if checked('bsEndReason','The client has failed to comply with the agreed requirements') and checked('midwayreview','yes')
                    or checked('bsEndReason','We have been unable contact the client') and checked('midwayreview','yes')
                    or checked('bsEndReason','The client is now using a debt management solution') and checked('midwayreview','yes')%}. This decision was made as part of a midway review{% endif %}
                    </p>
            
           
     

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By ending Breathing Space, all creditor protections will be removed.
  </strong>
</div>


      <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="clientreview" type="radio" value="bsended" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>

  

      







<button class="govuk-button" data-module="govuk-button">
 Confirm and end Breathing Space
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}
