
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="endbreathingspace-confirm" method="post">
    <div class="govuk-grid-column-two-thirds">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Why do you want to end Breathing Space?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
     
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-1" name="bsEndReason" type="radio" value="The client is not working with money advice after 30 days"  {{checked('bsEndReason', 'The client is not working with money advice after 30 days') }} data-aria-controls="conditional-how-noteligble">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-1">
           The client is no longer eligible
        </label>
      </div>
<!-- reveal reasons conditional -->
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-noteligble">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h2 class="govuk-fieldset__heading">
        Why is does the client not meet the eligibility criteria?
      </h2>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason" name="clientReviewReason" type="radio" value="the client does not live or usually reside in England and Wales">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason">
          The client does not live or usually reside in England and Wales
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-2" name="clientReviewReason" type="radio" value="the client has a Debt Relief Order">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-2">
         The client has a Debt Relief Order
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-3" name="clientReviewReason" type="radio" value="the client has an interim order or Individual Voluntary Arrangement">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-3">
          The client has an interim order or Individual Voluntary Arrangement
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-4" name="clientReviewReason" type="radio" value="the client is an undischarged bankrupt">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-4">
          The client is an undischarged bankrupt
        </label>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clientReviewReason-5" name="clientReviewReason" type="radio" value="the client has had another Breathing Space in the last 12 months">
        <label class="govuk-label govuk-radios__label" for="clientReviewReason-5">
          The client has had another Breathing Space in the last 12 months
        </label>
      </div>
    </div>

  </fieldset>
</div>
</div>

<!-- / -->

           <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-3" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{checked('bsEndReason', 'The client is now using a debt management solution') }} data-aria-controls="failedRequirements">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-3">
       The client has failed to comply with the agreed requirements
        </label>
      </div>

         <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="failedRequirements">
      {% include "./_midwayreviewradios.html" %}
      </div>
    <!-- -->

        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-7" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{checked('bsEndReason', 'The client is now using a debt management solution') }} data-aria-controls="consultClient">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-7">
        We've been unable contact our client
        </label>
      </div>

         <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="consultClient">
      {% include "./_midwayreviewradios.html" %}
      </div>
    <!-- -->
     <!-- <div class="govuk-radios__divider">or</div> -->

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-4" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{ checked('bsEndReason', 'The client is now using a debt management solution') }} data-aria-controls="debtSolution">
        <label class="govuk-label govuk-radios__label" for="bsEndReason-4">
        The client is now using a debt management solution
        </label>
      </div>

      <!-- reveal  conditional -->
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="debtSolution">
      {% include "./_midwayreviewradios.html" %}
      </div>
    <!-- -->


         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-5" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{checked('bsEndReason', 'The client is now using a debt management solution') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-5">
            The client is now able to pay their debts
        </label>
      </div>


         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-6" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{checked('bsEndReason', 'The client is now using a debt management solution') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-6">
        The client has asked us to cancel
        </label>
      </div>

 

           <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-8" name="bsEndReason" type="radio" value="The client is now using a debt management solution"  {{checked('bsEndReason', 'The client is now using a debt management solution') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-8">
        The client has died
        </label>
      </div>


      </div>

     <!--            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bsEndReason-3" name="bsEndReason" type="radio" value="The client has entered mental health crisis treatment"  {{checked('bsEndReason', 'The client has entered mental health crisis treatment') }}>
        <label class="govuk-label govuk-radios__label" for="bsEndReason-4">
        The client has entered mental health crisis treatment
        </label>
      </div> -->
  </fieldset>
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="endSupportDetails">
      Please provide details to support your decision
    </label>
  <textarea class="govuk-textarea" id="endSupportDetails" name="endSupportDetails" rows="5" aria-describedby="endSupportDetails-hint"></textarea>
</div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
