
{% extends "layout.html" %}

{% set globalnav = "home" %}

{% block pageTitle %}
  Breathing space
{% endblock %}


{% block content %}
  {% include "./_global-nav.html" %} 

   <!-- BASE VALUES -->
{% set totNum = 0 %}
{% set totTasks = 0 %}
{% set taskDebtReview = 0 %}
{% set taskClientReview = 0 %}
{% set taskTransferDebt = 0 %}
{% set taskTransferClient = 0 %}
{% set taskProposedDebt = 0 %}



	{% for client in clients %}

<!-- BASE VALUES -->
   {% if client.status === "active" %}
	{% set totNum = totNum + 1 %}
  {% endif %}

   {% if client.task === "debtreview" and client.adviceorg ==='Advice uk' %}
    {% set taskDebtReview = taskDebtReview + 1 %}
   {% endif %}
  {% if client.task === "clientreview"  and client.adviceorg ==='Advice uk' %}
    {% set taskClientReview = taskClientReview + 1 %}
   {% endif %}
      {% if client.task === "transferdebt" and client.adviceorg ==='Advice uk' %}
  {% set taskTransferDebt = taskTransferDebt + 1 %}
   {% endif %}
      {% if client.task === "transferclient" and client.adviceorg ==='Advice uk' %}
  {% set taskTransferClient = taskTransferClient + 1 %}
   {% endif %}
      {% if client.task === "proposeddebt" and client.adviceorg ==='Advice uk' %}
        {% set taskProposedDebt = taskProposedDebt + 1 %}
   {% endif %}
 


  {% if client.task ==='proposeddebt' and client.adviceorg ==='Advice uk' 
    or client.task ==='clientreview' and client.adviceorg ==='Advice uk'
     or client.task ==='debtreview' and client.adviceorg ==='Advice uk'
      or client.task ==='transferdebt' and client.adviceorg ==='Advice uk'
       or client.task ==='transferclient' and client.adviceorg ==='Advice uk' %}
    {% set totTasks = totTasks + 1 %}
   {% endif %}




 {% endfor %}  
  <div class="govuk-grid-row govuk-!-margin-top-5">
  
   <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
 <span class="govuk-caption-xl">Breathing Space portal for</span>
 Advice uk</h1>
 <h2 class="govuk-heading-s">We currently have<br>
 <span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">{{totNum}}</span><br>  active Breathing Spaces  </h2>
<!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->
<div class="card-container">

                          <div class="card double">
                                    <form class="form" action="tasks-to-do" method="post">
                        <h2 class="govuk-heading-s"><button class="govuk-body govuk-link govuk-!-font-weight-bold">All active Breathing Spaces
               ({{totNum}})</button></h2>
                          <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="status_0" name="status" type="radio" value="status_0"  checked >
                            <label class="govuk-label govuk-radios__label" for="status_0">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <ul class="govuk-list">
                <li>
              <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link govuk-!-font-weight-bold">Tasks to do
               ({{totTasks}})</button>
                            {% include "./_tasksstatusradio.html" %}
                     </form>
                
                </li>
                <li>
                     <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link">Creditor asked us to review a debt ({{taskDebtReview}})</button>
                   {% include "./_tasksstatusradio.html" %}
                                 <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="substatus_2" name="substatus" type="radio" value="substatus_2"  checked >
                            <label class="govuk-label govuk-radios__label" for="substatus_2">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
               </li>
                <li>    
                <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link">Creditor asked us to review a client ({{taskProposedDebt}})</button>
                             {% include "./_tasksstatusradio.html" %}
                                          <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="substatus_3" name="substatus" type="radio" value="substatus_3"  checked >
                            <label class="govuk-label govuk-radios__label" for="substatus_3">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
               </li>
                <li>
                       <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link">Creditor proposed a new debt ({{taskClientReview}})</button>
                               {% include "./_tasksstatusradio.html" %}
                                            <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="substatus_4" name="substatus" type="radio" value="substatus_4"  checked >
                            <label class="govuk-label govuk-radios__label" for="substatus_4">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
               </li>
                <li>
                      <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link">Creditor asked us to transfer a sold debt ({{taskTransferDebt}})</button>
                            {% include "./_tasksstatusradio.html" %}
                                         <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="substatus_4" name="substatus" type="radio" value="substatus_5"  checked >
                            <label class="govuk-label govuk-radios__label" for="substatus_5">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
              </li>
                <li>
                       <form class="form" action="tasks-to-do" method="post">
                        <button class="govuk-body govuk-link">Money adviser asked us to transfer the client  ({{taskTransferClient}})</button>
                           {% include "./_tasksstatusradio.html" %}
                                        <div class="govuk-radios__item govuk-visually-hidden">
                            <input class="govuk-radios__input facet" id="substatus_6" name="substatus" type="radio" value="substatus_6"  checked >
                            <label class="govuk-label govuk-radios__label" for="substatus_6">
                              hidden radio for logic
                            </label>
                          </div>
                     </form>
                     </li>
                </ul>
               
              </div>

                   <div class="card">
                <h2 class="govuk-heading-s">
                Create new
                 </h2> 
                <hr class="govuk-section-break govuk-section-break--visible">
 <div class="govuk-warning-text govuk-!-margin-top-2 govuk-!-margin-bottom-2">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Client eligibility
  </strong>
</div> 
<p class="govuk-body">{% include "./_eligibilitywarningtext.html" %}</p>

<!-- <h2 class="govuk-heading-s govuk-!-font-weight-regular">Client Eligibility</h2>
<p class="govuk-body">   {% include "./_eligibilitywarningtext.html" %}</p> -->



<!-- <div class="govuk-details__text govuk-!-margin-bottom-4 govuk-tag--blue">
                    <h2 class="govuk-heading-s">Client eligibility</h2>
                    <p class="govuk-body"> {% include "./_eligibilitywarningtext.html" %}</p>
              </div> -->
                 <a href="details" class="govuk-button govuk-!-margin-bottom-0">Create new Breathing Space</a>
               
              </div>
</div>

</div></div>
              

{% endblock %}
