
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="" method="post">
    <div class="govuk-grid-column-three-quarters">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       {% if checked('proposed-debt','no')%}
         Confirm you are rejecting this proposed debt
          {% elif checked('proposed-debt','yes')%}
           Confirm you are accepting this proposed debt 
       {% endif %}
       
      </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">     
 {% include "./_proposeddebt.html" %} 
  
     {% if checked('proposed-debt','no')%}             
<h2 class="govuk-heading-s  govuk-!-margin-bottom-0">Why we rejected it</h2>
<p class="govuk-body">
{{ eligibilityNo }}
</p>
  {% endif %}
   <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmation" type="radio" value="proposed" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="proposed" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>
    {% if checked('proposed-debt','no')%}  
      <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="proposedrejected~account-page?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>
      {% else %}
           <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="proposedaccepted~account-page?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="review">
         hidden radio
        </label>
      </div>
      </div>
     {% endif %}
    
{% include "./_confirmShowHiddenRadio.html" %}

<button class="govuk-button" data-module="govuk-button">
 Confirm and continue
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}
