
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-removedebt" method="post">
    <div class="govuk-grid-column-full">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-xl">
       Remove debt
      </h1>

 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">     

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Car repair
            </dt>
            <dd class="govuk-summary-list__value">
              Creditor: Beech Garage<br>Amount: £445<br> Reference: Service and Mot
            </dd>
            <dd class="govuk-summary-list__actions">
       
            </dd>
          </div>
  </dl>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
         Why are you removing the debt?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Client asked us to
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          The debt is not eligible after creditor asked us to review
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
         The debt was added in error
        </label>
      </div>
  </fieldset>
</div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="removedebtreason">
    Can you provide more detail?
  </label>
  <textarea class="govuk-textarea govuk-!-width-two-thirds" id="removedebtreason" name="removedebtreason" rows="5"></textarea>
</div>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By removing this debt from Breathing Space, creditor protections will be removed.
  </strong>
</div>


    <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="removedebt" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="removedebt">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Remove debt
</button>

</div>
    </div>
    </form>
</div>


{% endblock %}
