
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="eligibility-review" method="post">
    <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   

      <h1 class="govuk-heading-xl">
       Add the why the creditor thinks this is not a qualifying debt
      </h1>
{% include "creditor-latest/_debt-review-capture.html" %}
  
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
    </form>
</div>

{% endblock %}
