
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}



  <form class="form" action="/creditor-latest/homepage-card" method="post">

  
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Time machine</h1>

      <p class="govuk-body-l">Once the Breathing Space application has been processed. The service sends a notifaction to all of the creditors</p>


      <h2 class="govuk-heading-m">Creditor</h2>
      <p>Newcastle city council recieve a notification, a staff member accesses the record</p>


   <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="newclient" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="newclient">
         hidden radio
        </label>
      </div>
      </div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
       </div> 

    </form>


{% endblock %}
