
{% extends "layout.html" %}

{% block pageTitle %}
  Breathing space
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <form class="form" action="confirmation-end" method="post">
    <div class="govuk-grid-column-three-quarters">
     <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>   
      <h1 class="govuk-heading-l">
       Confirm you're transferring this Breathing Space
      </h1>

      <h2 class="govuk-heading-s">Details</h2>
<ul class="govuk-list">
<li>Name: {{ client.name }}</li>
<li>Reference: {{ client.reference }}</li>
<li>Started: {{ client.startdate }}</li>
<li>Due to end:{{ client.enddate }}</li>
</ul>




 <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="confirmationmessage" type="radio" value="transfer~confirmation-end?reference={{client.reference}}" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>

     <div class="govuk-radios" style="display:none">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="" name="transferclient" type="radio" value="yes" checked>
        <label class="govuk-label govuk-radios__label" for="confirmation">
         hidden radio
        </label>
      </div>
      </div>   

 <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You are transfering this Breathing Space to Stepchange, once you have confirmed this you will not be able to make any updates or changes</strong>
</div>     


<button class="govuk-button" data-module="govuk-button">
 Confirm and continue
</button>

</div>

    </form>
</div>


{% endblock %}
