 
    <div class="govuk-form-group">
   <fieldset class="govuk-fieldset" >
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
       Why does the creditor want a review?
      <label>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtReview-2" name="debtReview" type="radio" value="The debt is not eligible" {{ checked('debtReview', 'The debt is not eligible')}}>
        <label class="govuk-label govuk-radios__label" for="debtReview-2">
        The debt is not eligible
        </label>
      </div>
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="debtReview" name="debtReview" type="radio" value="The Breathing Space unfairly prejudices the interests of the creditor" {{ checked('debtReview', 'The Breathing Space unfairly prejudices the interests of the creditor')}} aria-describedby="debt-review-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="debtReview">
           The Breathing Space unfairly prejudices the interests of the creditor
        </label>
          <div id="debt-review-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, where you consider that there has been differential or discriminatory treatment in respect of you or your debt
        </div>
      </div>
    </div>
  </fieldset>
</div>
 
 
 
 
 <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="moreDetail">
    Please give any details provided by the creditor
  </label>
  <textarea class="govuk-textarea" id="moreDetail" name="moreDetail" rows="4" aria-describedby="moreDetail-hint" >{{moreDetail}}</textarea>
</div>