
      <ol class="app-task-list">
        <li>
          <h3 class="app-task-list__section">
           To do
          </h4>
          <ul class="app-task-list__items">

         
            <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing Benefit - money adviser has added a new debt</h4>
              <span class="app-task-list__task-name">
                <a href="protections-apply?reference={{customer.reference}}" aria-describedby="eligibility-status">
                 Confirm you have stoped all action against this debt
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">to do</strong>
            </li>

                  <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing Benefit</h4>
              <span class="app-task-list__task-name">
                <a href="protections-apply?reference={{customer.reference}}" aria-describedby="eligibility-status">
                 All action against this debt has been stoped - view details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>


         <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing benefit - we have asked the money advisor to review the debt</h4>
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                View review details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">With Money Adviser</strong>
            </li>

              <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing benefit - we have told the money advisor we've sold the debt</h4>
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                View details 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">With Money Adviser</strong>
            </li>


            <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing benefit - a money adviser has reviewed the debt</h4>
              <p>Outcome of review: Debt removed from Breathing Space</p>
              <span class="app-task-list__task-name">
                <a href="review-debt-details?reference={{customer.reference}}" aria-describedby="eligibility-status">
                View review details and confirm you have completed your to do 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">to do</strong>
            </li>

            <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing benefit - a money adviser has reviewed the debt</h4>
              <p >Outcome of review: Debt not removed from Breathing Space</p>
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
               View review details and confirm you have completed your to do 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">to do</strong>
            </li>

                  <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Housing benefit - a money adviser has reviewed the debt</h4>
              <p>Outcome of review: Debt not removed from Breathing Space</p>
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
               View review details 
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Client review - we have asked the money advisor to review client eligibility</h4>
              <span class="app-task-list__task-name">
                <a href="protections-apply" aria-describedby="read-declaration-status">
                  View review details
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">With Money Adviser</strong>
              </li>
              <li class="app-task-list__item">
              <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Client review - the money advisor has reviewed the client eligibility</h4>
              <p>Outcome of review: Your client has been removed from Breathing Space</p>
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                   View review details and confirm you have completed your to do 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
              </li>
          </ul>
        </li>
      </ol>