  <div class="govuk-grid-row keydetails">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
     
           <span class="govuk-caption-l">

                     <strong class="govuk-tag">
  Active
</strong>  

    
    
    Breathing Space account for</span>
    Joe Black 
      </h1>
      </div>
            <div class="govuk-grid-column-one-third">
            <p class="header_highlight_info">
<span class=" govuk-!-margin-bottom-1"><strong>Breathing Space day {% if checked('time-machine-mid-review','yes')%} 30 {% else %}2{% endif %} of 60 </strong></span><span class="govuk-body-s">Started: {{ 'DD MMMM YYYY' | baseDateAdd(-2) }} <br>Ends: {{ 'DD MMMM YYYY' | baseDateAdd(60) }} </span> </p>
      </div>
          <div class="govuk-grid-column-full">
     <hr class="govuk-section-break govuk-section-break--visible black">
     </div>
     </div>